/**
 * Metroz Style for Quiktabs
 */

/*quicktabs*/

.quicktabs-wrapper .item-list {
	padding: 0 10px;
}

.block-quicktabs .block-inner{
	padding: 0;
}


.front #main-content .block-quicktabs .grid-inner {
	padding: 0 10px;
}

.front #main-content .view-content .views-view-grid .views-row .col-1 {
	margin: 0;
}

.front  #main-content .block-quicktabs  .view-content .views-view-grid .views-row .col-3 {
	float: left;
}

.item-list ul.quicktabs-tabs {
	border-top: 1px solid #e5e5e5;
	/*float: left;*/
	margin: 0 0 20px;
	padding: 40px 0 0 0;
	width: 100%;
}
.front .item-list ul.quicktabs-tabs {
	display: inline-block;
}	
.item-list ul.quicktabs-tabs li {
	background: 0;
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}



.item-list ul.quicktabs-tabs li a {
	color: #333;
	float: left;
	font-size: 16px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
}

.item-list ul.quicktabs-tabs li a:active ,
.item-list ul.quicktabs-tabs li a:focus ,
.item-list ul.quicktabs-tabs li a:hover {
	color: #00aeee;
	text-decoration: none;
}

.item-list ul.quicktabs-tabs li.active{
	background: #000;
	height: 40px;
}

.item-list ul.quicktabs-tabs li.active a{
	background: url('../../images/arrow-tab.png') no-repeat center bottom;
	color: #fff;
	height: 45px;
}

.quicktabs-tabpage .views-row{
	float: left;
	margin: 0 0 40px 0;
	width: 100%;
}

.quicktabs-tabpage  .views-field-title {
	float: left;
	margin: 10px 0;
	width: 100%;
}

.quicktabs-tabpage  .views-field-title a {
	color: #333;
	font-size: 14px;
}

.quicktabs-tabpage  .views-field-title a:active,
.quicktabs-tabpage  .views-field-title a:focus,
.quicktabs-tabpage  .views-field-title a:hover {
	color: #00AEEE;
	text-decoration: none;
}

.quicktabs-tabpage  .views-field-field-rating {
	float: left;
	margin: 0 0 10px 0;
	width: 100%;
}

.quicktabs-tabpage  .views-field-commerce-price {
	float: left;
	font-size: 18px;
	margin: 0 0 10px 0;
	width: 100%;
}

.quicktabs-tabpage  .button .form-submit {
	background: url("../../images/bg-cart-button.png") no-repeat scroll 10% 50% #00AEEE;
	border: 3px solid #00AEEE;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font-size: 12px;
	font-weight: 400;
	padding: 9px 10px 9px 40px;
	text-transform: uppercase;
	-webkit-appearance: none;
	-webkit-border-radius: 0 !important;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

.quicktabs-tabpage  .button .form-submit:focus,
.quicktabs-tabpage  .button .form-submit:hover{
	background: url("../../images/bg-cart-button-hover.png") no-repeat 10% 50% #fff;
	border: 3px solid #00AEEE;
	color: #00AEEE;
	padding: 9px 10px 9px 40px;
	text-decoration: none;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}



.horizontal-tabs ul.horizontal-tabs-list .summary {
	background: url('../../images/arrow-tab.png') no-repeat center bottom;
	color: #fff;
	height: 45px;
}


/*ui tabs*/
.ui-tabs {
	background: 0;
	border: 0;
}
.ui-tabs .ui-tabs-panel {
  background: none repeat scroll 0 0 transparent;
  border-width: 0;
  display: block;
  padding: 0;
}
.ui-tabs .ui-tabs-nav {
	padding: 0;
}

/*acc*/
.ui-widget {
  font-family: 'Roboto',sans-serif;
  
}
.ui-accordion {
	border:1px solid #f6f6f6;
}
.ui-corner-bottom,
.ui-corner-top,
.ui-corner-all {
	border-radius: 0 ;
	border:1px solid #f6f6f6;
}
.ui-corner-top{
	border-bottom:1px solid #f6f6f6 !important;
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active {
  background: 0;
  border: 0;
   color: #333 !important;
  font-weight: normal;
}
.ui-state-active a, 
.ui-widget-content .ui-state-active a, 
.ui-widget-header .ui-state-active a{
   color: #333 !important;
}
.ui-state-active.ui-accordion-header {
	background: 0 !important;
}
.ui-state-active.ui-accordion-header a {
	border-top: 0 !important;
	background: 0 !important;
	color: #333;
	border-bottom: 0;
}
.ui-accordion-header a {
	color: #333 !important;
	background: #fafafa;
}	
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
  background: none !important;
  border: 0;
  color: #333 !important;
  font-weight: normal;
}

.ui-accordion-header a:active, 
.ui-accordion-header a:focus, 
.ui-accordion-header a:hover{
  background: 0 !important;
}

#sidebar-first-wrapper .ui-accordion-content {
	background: none !important;
}
#sidebar-first-wrapper .ui-accordion-content  .block{
	margin: 0 !important;
}
#sidebar-first-wrapper .ui-accordion-content .views-row{
	border-bottom:1px solid #f6f6f6;
}

#sidebar-first-wrapper .ui-accordion-icons .ui-accordion-header a {
	 border-top: 0 !important;
    font-size: 14px;
    font-weight: 300 !important;
}

#sidebar-first-wrapper .ui-accordion-content  .views-field-created{
	color: #333; 
	font-size: 12px;
	margin: 0 0 5px 10px;
}

#sidebar-first-wrapper .ui-accordion-content  .views-field-title{
	color: #333; 
	font-size: 14px;
	margin: 0 0 0 10px;
}

#sidebar-first-wrapper .ui-accordion-content  .views-field-title a{
	color: #333; 
	font-size: 14px;
}
#sidebar-first-wrapper .ui-accordion-content  .views-field-title a:active,
#sidebar-first-wrapper .ui-accordion-content  .views-field-title a:focus,
#sidebar-first-wrapper .ui-accordion-content  .views-field-title a:hover{
	color: #00AEEE;
	text-decoration: none;
}
#sidebar-first-wrapper .ui-accordion-content { padding: 0 !important; }
#sidebar-first-wrapper .ui-accordion-content .views-field-field-image{ margin: 0 10px  !important; }