/**
  Orange Skin
*/

a {
  color: #e56c19;
}

a:hover,
a:focus,
a:active {
  color: #e56c19;
}

#main-title-outer {
  background-color: #e56c19;
}

/* Superfish */
.sf-menu.sf-style-metroz .active-trail a,
.sf-menu.sf-style-metroz a.active {
  color: #e56c19;
}

.sf-menu.sf-style-metroz ul .active-trail  a,
.sf-menu.sf-style-metroz ul li a.active
ul.sf-menu.sf-style-metroz.sf-navbar ul li a.active {
  color: #e56c19;
}

.sf-menu.sf-style-metroz li:hover,
.sf-menu.sf-style-metroz li.sfHover,
.sf-menu.sf-style-metroz li.sfHover a,
.sf-menu.sf-style-metroz a:hover,
.sf-menu.sf-style-metroz a:focus,
.sf-menu.sf-style-metroz a:active { 
  background:#e56c19;
}

.sf-menu.sf-style-metroz ul li:hover,
.sf-menu.sf-style-metroz ul li.sfHover,
.sf-menu.sf-style-metroz ul li a:focus,
.sf-menu.sf-style-metroz ul li a:hover,
.sf-menu.sf-style-metroz ul li a:active {
  color: #e56c19;
}

.sf-menu.sf-style-metroz a.active:hover,
.sf-menu.sf-style-metroz a.active:focus,
.sf-menu.sf-style-metroz a.active:active {
  background:#e56c19;
}

.sf-menu.sf-style-metroz ul .active-trail a:hover,
.sf-menu.sf-style-metroz ul .active-trail a:active,
.sf-menu.sf-style-metroz ul .active-trail a:focus,
.sf-menu.sf-style-metroz ul li.sfHover a,
.sf-menu.sf-style-metroz ul a:hover,
.sf-menu.sf-style-metroz ul a:focus,
.sf-menu.sf-style-metroz ul a:active {
  color: #e56c19 !important;
}

.sf-menu.sf-style-metroz ul li a.active {
  color: #e56c19;
}

.sf-menu.sf-style-metroz .active-trail a:hover,
.sf-menu.sf-style-metroz .active-trail a:focus,
.sf-menu.sf-style-metroz .active-trail a:active{
	background-color: #e56c19;
}

.sf-menu.sf-style-metroz  ul li a.active:hover,
.sf-menu.sf-style-metroz  ul li a.active:focus,
.sf-menu.sf-style-metroz  ul li a.active:active {
	color: #e56c19;
}

.sf-menu.sf-style-metroz ul ul li.active-trail a,
.sf-menu.sf-style-metroz ul ul li.active-trail a:active,
.sf-menu.sf-style-metroz ul ul li.active-trail a:focus,
.sf-menu.sf-style-metroz ul ul li.active-trail a:hover,
.sf-menu.sf-style-metroz ul ul li.sfHover a,
.sf-menu.sf-style-metroz ul ul li a:hover,
.sf-menu.sf-style-metroz ul ul li a:focus,
.sf-menu.sf-style-metroz ul ul li a:active {
	color: #e56c19 !important;
}

.sf-menu.sf-style-metroz ul li.sfHover a .sf-sub-indicator,
.sf-menu.sf-style-metroz ul li a:hover  .sf-sub-indicator,
.sf-menu.sf-style-metroz ul li a:active .sf-sub-indicator,
.sf-menu.sf-style-metroz ul li a:focus .sf-sub-indicator {
  background-image: url("images/sub-arrow2-hover.png") !important;
}

/* Sidebar first */
#sidebar-first-wrapper .view-last-comments .views-field-subject a:active, 
#sidebar-first-wrapper .view-last-comments .views-field-subject a:focus, 
#sidebar-first-wrapper .view-last-comments .views-field-subject a:hover {
  color: #e56c19;
}

#sidebar-first-wrapper .view-last-comments .views-field-name {
  color: #e56c19;
}

/* Forum */
#forum td .submitted a:hover, 
#forum td .submitted a:focus {
  color: #e56c19;
}

/* Breadcrumb */
#breadcrumb-wrapper ol li a {
  color: #e56c19;
}

/* Block */
.block-menu-block.black-color ul.menu li a:active, 
.block-menu-block.black-color ul.menu li a:focus, 
.block-menu-block.black-color ul.menu li a:hover, 
.block-menu.black-color ul.menu li a:active, 
.block-menu.black-color ul.menu li a:focus, 
.block-menu.black-color ul.menu li a:hover {
  color: #e56c19;
}

.block-poll ul.links li a.active{
  color: #e56c19;	
}

/* Custom Block */
#special-menu li.search:active, 
#special-menu li.search:focus, 
#special-menu li.search:hover {
  background-image: url("images/bg-ico-search.png");
}

#special-menu li.cart:active, 
#special-menu li.cart:focus, 
#special-menu li.cart:hover {
  background-image: url("images/bg-ico-cart.png");
}

#special-menu li.account:active, 
#special-menu li.account:focus, 
#special-menu li.account:hover {
  background-image: url("images/bg-ico-acc.png");
}

#special-menu li.responsive-menu-button:active, 
#special-menu li.responsive-menu-button:focus, 
#special-menu li.responsive-menu-button:hover {
  background-image: url("images/bg-explain-menu.png");
}

#cart-wrapper td.views-field-quantity,
#cart-wrapper .view-footer .line-item-quantity-raw,
#cart-wrapper .item-list ul li {
  color: #e56c19;
}

#cart-wrapper .item-list ul li a:active, 
#cart-wrapper .item-list ul li a:focus, 
#cart-wrapper .item-list ul li a:hover {
  color: #e56c19;
}

.line-item-summary-view-cart .active a, 
.line-item-summary-view-cart .active a:active, 
.line-item-summary-view-cart .active a:focus, 
.line-item-summary-view-cart .active a:hover, 
.line-item-summary-view-cart .active a, 
.line-item-summary-view-cart a:active, 
.line-item-summary-view-cart a:focus, 
.line-item-summary-view-cart a:hover {
  background: #fff;
  border-color: #e56c19;
  color: #e56c19;
}

.page-cart .views-field-edit-delete span.button input.form-submit,
.page-cart span.edit-submit.button input.form-submit,
.page-cart span.edit-checkout.button input.form-submit,
.page-checkout span.edit-continue input.form-submit {
  background: #e56c19;
}

.page-cart .views-field-edit-delete span.button input.form-submit:hover, 
.page-cart .views-field-edit-delete span.button input.form-submit:focus,
.page-cart span.edit-submit.button input.form-submit:hover, 
.page-cart span.edit-submit.button input.form-submit:focus,
.page-cart span.edit-checkout.button input.form-submit:hover, 
.page-cart span.edit-checkout.button input.form-submit:focus,
.page-checkout span.edit-continue input.form-submit:hover,
.page-checkout span.edit-continue input.form-submit:focus {
  border-color: #e56c19;
  color: #e56c19;
}

.page-cart .views-table .price {
  color: #e56c19;
}

.page-checkout .component-total, 
.page-checkout .price {
  color: #e56c19;
}

.commerce-add-to-cart .button .wishlist {	
	background: url('images/ico-wishlist.png') no-repeat 0 -40px !important;
}

.commerce-add-to-cart .button .wishlist:hover,
.commerce-add-to-cart .button .wishlist:active,
.commerce-add-to-cart .button .wishlist:focus{
	background-image: url('images/ico-wishlist.png') !important;
}

.ico-contact .block-title {
  background-image: url("images/ico-contact.png");
}

.page-user-orders ul.action-links li a {
  background-color: #e56c19;
  border-color: #e56c19;
}

.page-user-orders ul.action-links li a:active, 
.page-user-orders ul.action-links li a:focus, 
.page-user-orders ul.action-links li a:hover {
  color: #e56c19;
}

/* Views */
.quicktabs-tabpage .views-col:hover .views-field-title a {
  color: #e56c19;
}

.page-taxonomy .view-content .views-row .views-field-title a:active, 
.page-taxonomy .view-content .views-row .views-field-title a:focus, 
.page-taxonomy .view-content .views-row .views-field-title a:hover {
  color: #e56c19;
}

.page-taxonomy .view-content .views-row .button .form-submit {
  background-color: #e56c19;
  border-color: #e56c19;
}

.page-taxonomy .view-content .views-row .button .form-submit:focus, 
.page-taxonomy .view-content .views-row .button .form-submit:hover {
  background-image: url("images/bg-ico-cart-hover.png");
  border-color: #e56c19;
  color: #e56c19;
}

/* Slideshow */
#slideshow-wrapper {
  background: #e56c19;
}

#slideshow-wrapper .region-slideshow .views-fields-wrapper {
  background: none;
  padding: 25px 0;
}

#slideshow-wrapper .region-slideshow .views-field-view-node a {
  background-color: #000;
  border-color: #000;
}

#slideshow-wrapper .region-slideshow .views-field-view-node a:hover, 
#slideshow-wrapper .region-slideshow .views-field-view-node a:focus, 
#slideshow-wrapper .region-slideshow .views-field-view-node a:active {  
  background-image: url("images/bg-ico-button-hover.png");
  border-color: #c45c14;
  color: #e56c19;  
}

#slideshow-wrapper .views-slideshow-controls-bottom .views_slideshow_pager_field_item {
  background: #c45c14;
}

/* Articles */
.article ul.links li.comment-comments a {
  color: #e56c19;
}

.article ul.links li.node-readmore a {
  background-color: #e56c19;
  border-color: #e56c19;
}

.article ul.links li.node-readmore a:active, 
.article ul.links li.node-readmore a:focus, 
.article ul.links li.node-readmore a:hover {
  background-image: url("images/bg-ico-button-hover.png");
}

.article ul.links li.comment-add a:hover, 
.article ul.links li.comment-add a:active, 
.article ul.links li.comment-add a:focus {
  border-color: #e56c19;
}

.node-title a:hover, 
.node-title a:active, 
.node-title a:focus {
  color: #e56c19;
}

.node .menu ul.links li a:hover, 
.node .menu ul.links li a:focus {
  border-color: #e56c19;
  color: #e56c19;
}

.node .menu ul.links li.comment_forbidden a:hover {
  color: #e56c19;
}

.field-type-taxonomy-term-reference ul li a:hover, 
.field-type-taxonomy-term-reference ul li a:active, 
.field-type-taxonomy-term-reference ul li a:focus {
  color: #e56c19;
}

/* Quicktab */
.item-list ul.quicktabs-tabs li a:active, 
.item-list ul.quicktabs-tabs li a:focus, 
.item-list ul.quicktabs-tabs li a:hover {
  color: #e56c19;
}

.quicktabs-tabpage .views-field-title a:active, 
.quicktabs-tabpage .views-field-title a:focus, 
.quicktabs-tabpage .views-field-title a:hover {
  color: #e56c19;
}

.quicktabs-tabpage .button .form-submit,
.node-product-display .button .form-submit {
  background-color: #e56c19;
  border-color: #e56c19;
}

.quicktabs-tabpage .button .form-submit:focus, 
.quicktabs-tabpage .button .form-submit:hover,
.node-product-display .button .form-submit:focus,
.node-product-display .button .form-submit:hover {
  background-image: url("images/bg-cart-button-hover.png");
  border-color: #e56c19;
  color: #e56c19;
}

.group-product-group .horizontal-tabs ul.horizontal-tabs-list li a:active, 
.group-product-group .horizontal-tabs ul.horizontal-tabs-list li a:focus, 
.group-product-group .horizontal-tabs ul.horizontal-tabs-list li a:hover, 
.group-product-group .horizontal-tabs ul.horizontal-tabs-list li a:active strong, 
.group-product-group .horizontal-tabs ul.horizontal-tabs-list li a:focus strong, 
.group-product-group .horizontal-tabs ul.horizontal-tabs-list li a:hover strong {
  color: #e56c19;
}

/* Jcarousel */
.jcarousel .views-field-title a:active, 
.jcarousel .views-field-title a:focus, 
.jcarousel .views-field-title a:hover {
  color: #e56c19;
}

.jcarousel .views-field-commerce-price {
   color: #e56c19;
}

.jcarousel-skin-default .jcarousel-item:active, 
.jcarousel-skin-default .jcarousel-item:focus, 
.jcarousel-skin-default .jcarousel-item:hover {
  border-color: #e56c19;
}


/* Mass Bottom */
.region-mass-bottom .static-view-more a {
  background-color: #e56c19;
  border-color: #e56c19;
}

.region-mass-bottom .static-view-more a:hover, 
.region-mass-bottom .static-view-more a:focus, 
.region-mass-bottom .static-view-more a:active {
  background-image: url("images/bg-ico-button-hover.png");
  border-color: #e56c19;
  color: #e56c19;
}

.region-mass-bottom .static-title a:active,
.region-mass-bottom .static-title a:focus,
.region-mass-bottom .static-title a:hover{
  color: #e56c19;	
}

/* Panel */
#panel-footer-wrapper .panel-column .views-field-title a {
  color: #e56c19;
}

/* Navigation */
ul.pager li.pager-current {
  background-color: #e56c19;
}

ul.pager li a:hover, 
ul.pager li a:active, 
ul.pager li a:focus {
  border-color: #e56c19;
  color: #e56c19;
}

ul.primary li.active a,
ul.primary li a:hover,
ul.primary li a:focus {
  color: #e56c19;
}


/* Form */
.form-text:hover, 
.form-text:focus, 
textarea:hover, 
textarea:focus {
  border-color: #e56c19;
}

span.button input.form-submit {
  background-color: #e56c19;
}

span.button input.form-submit:hover, 
span.button input.form-submit:focus,
.confirmation a#edit-cancel:hover, 
.confirmation input.form-submit:hover, 
.confirmation input.form-submit:focus {
  border-color: #e56c19;
  color: #e56c19;  
}

.page-products .view-content .views-row .views-field-title a:active, 
.page-products .view-content .views-row .views-field-title a:focus,
.page-products .view-content .views-row .views-field-title a:hover {
  color: #e56c19;  
}

.page-products .view-content .views-row .button .form-submit {
   background-color: #e56c19;
   border-color: #e56c19;
}

.webform-client-form span.button input.form-submit:hover, 
.webform-client-form span.button input.form-submit:focus,
.page-products .view-content .views-row .button .form-submit:focus, 
.page-products .view-content .views-row .button .form-submit:hover {
  background-image: url("images/bg-ico-button-hover.png");
  border-color: #e56c19;
  color: #e56c19;  
}

#account-wrapper .form-actions .form-submit {
  background-color: #e56c19;
  border-color: #e56c19;
}

#account-wrapper .form-actions .form-submit:hover, 
#account-wrapper .form-actions .form-submit:focus {
  background-image: url("images/bg-ico-button-hover.png");
  border-color: #e56c19;
  color: #e56c19;  
}
#account-wrapper #edit-openid-identifier:hover,
#account-wrapper #edit-openid-identifier:focus,
#account-wrapper #edit-openid-identifier:active,
#account-wrapper .form-item-pass input:hover, 
#account-wrapper .form-item-pass input:focus, 
#account-wrapper .form-item-name input:hover, 
#account-wrapper .form-item-name input:focus {
   border-color: #e56c19;
}

.page-taxonomy .view-filters .views-exposed-widget span.button input.form-submit:hover,
.page-taxonomy .view-filters .views-exposed-widget span.button input.form-submit:focus {
  border-color: #e56c19;
  color: #e56c19;
}

/* Search Form */
#search-block-form:hover .form-item {
  border-color: #e56c19;
}

#search-block-form:hover .form-actions span.button input.form-submit {
  background-image: url("images/bg-ico-button-hover.png");
}

/* Cart */
#cart-wrapper td.price,
#cart-wrapper .view-footer .line-item-total-raw {
  color: #e56c19;
}

.line-item-summary-checkout a {
  background-color: #e56c19;
  border-color: #e56c19;
}

.line-item-summary-checkout .active a:active, 
.line-item-summary-checkout .active a:focus, 
.line-item-summary-checkout .active a:hover, 
.line-item-summary-checkout .active a, 
.line-item-summary-checkout a:active, 
.line-item-summary-checkout a:focus, 
.line-item-summary-checkout a:hover {
  background-image: url("images/bg-ico-button-hover.png");
  color: #e56c19;
}

/* Footer */
#footer-wrapper a {
  color: #e56c19;
}

#panel-footer-wrapper .panel-footer-4 p.email a {
  color: #e56c19;
}

/* Blog */
.page-blog ul.action-links li a,
.page-forum ul.action-links li a {
  background: #e56c19;
  border-color: #e56c19;
}

.page-blog ul.action-links a:hover,
.page-blog ul.action-links a:active,
.page-blog ul.action-links a:focus,
.page-forum ul.action-links a:hover,
.page-forum ul.action-links a:active,
.page-forum ul.action-links a:focus {
  border-color: #e56c19;
  color: #e56c19;
}

/* Back to top */
a.btn-btt {
  background-image: url("images/backtotop.png");
}

/* Comment */
.comment ul.links li a:active, 
.comment ul.links li a:focus, 
.comment ul.links li a:hover {
  color: #e56c19;
}

.line-item-summary-view-cart a.active {
   color: #e56c19;
}