.sf-menu.sf-style-metroz {
	float: left;
	margin: 0;
	padding: 0;
}

.sf-menu.sf-style-metroz ul {
	padding-left: 0;
}

.sf-menu.sf-style-metroz li {
	margin: 0;
}

.sf-menu.sf-style-metroz a {
	color: #333333;
	font-size: 14px;
	font-weight: 300;
	line-height: 80px;
	padding: 0 20px;
	text-decoration: none;
}

/* "Have child" Item */
.sf-menu.sf-style-metroz li.menuparent {
}

.sf-menu.sf-style-metroz a.menuparent {
}



/* Hover Links */
.sf-menu.sf-style-metroz li:hover,
.sf-menu.sf-style-metroz li.sfHover,
.sf-menu.sf-style-metroz li.sfHover a,
.sf-menu.sf-style-metroz a:hover,
.sf-menu.sf-style-metroz a:focus,
.sf-menu.sf-style-metroz a:active {
	background: #00aeee;
	color: #fff;
}

/* Child Menu Items Hover */
.sf-menu.sf-style-metroz ul li:hover,
.sf-menu.sf-style-metroz ul li.sfHover,
.sf-menu.sf-style-metroz ul li a:focus,
.sf-menu.sf-style-metroz ul li a:hover,
.sf-menu.sf-style-metroz ul li a:active {
	color: #00aeee;
}

/* Active Links */
.sf-menu.sf-style-metroz .active-trail a,
.sf-menu.sf-style-metroz a.active {
	color: #00aeee;
}

.sf-menu.sf-style-metroz .active-trail a:hover,
.sf-menu.sf-style-metroz .active-trail a:focus,
.sf-menu.sf-style-metroz .active-trail a:active,
.sf-menu.sf-style-metroz a.active:hover,
.sf-menu.sf-style-metroz a.active:focus,
.sf-menu.sf-style-metroz a.active:active {
	background: #00aeee;
	color: #fff;
}

.sf-menu.sf-style-metroz .active-trail .sf-depth-1 {
}

/* Child Menu */
.sf-menu.sf-style-metroz ul {
	background: #000;
	margin-top: 0;
	padding: 0 20px;
}

.sf-menu.sf-style-metroz ul ul {
	background: #0a0a0a;
	margin: 0 0 0 15px;
}

.sf-menu.sf-style-metroz ul li {
	background: none !important;
	border-bottom: 1px solid #151515;
}

.sf-menu.sf-style-metroz ul  a {
	background: none !important;
	color: #ddd;
	font-size: 13px;
	font-weight: 300;
	min-width: 120px;
	line-height: 40px;
	padding: 0;
	text-decoration: none;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

.sf-menu li:hover ul, 
.sf-menu li.sfHover ul{
	top: 80px;
}


.sf-menu.sf-style-metroz li a .sf-sub-indicator {
  top: 40px;
  background: url("../../images/sub-arrow.png") no-repeat 0 0;
}
.sf-menu.sf-style-metroz li.sfHover a .sf-sub-indicator,
.sf-menu.sf-style-metroz li a:hover .sf-sub-indicator,
.sf-menu.sf-style-metroz li a:active .sf-sub-indicator,
.sf-menu.sf-style-metroz li a:focus .sf-sub-indicator {
  background: url("../../images/sub-arrow-hover.png") no-repeat 0 0;
}

/* Child Menu Items Active */
.sf-menu.sf-style-metroz ul .active-trail  a,
.sf-menu.sf-style-metroz ul li a.active {
	/*background: url('../../images/bg-bullet-menu.png') no-repeat left 50% !important;
	padding: 0 0 0 25px;*/
	color: #00aeee;
	
}
/*active for subment level 3*/
.sf-menu.sf-style-metroz ul .active-trail  a:hover,
.sf-menu.sf-style-metroz ul .active-trail  a:active,
.sf-menu.sf-style-metroz ul .active-trail  a:focus,
.sf-menu.sf-style-metroz ul li.sfHover a,
.sf-menu.sf-style-metroz ul a:hover,
.sf-menu.sf-style-metroz ul a:focus,
.sf-menu.sf-style-metroz ul a:active {
	/*background: url('../../images/bg-bullet-menu.png') no-repeat left 50% !important;*/
	color: #00aeee !important;
	padding: 0 0 0 10px;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}
.sf-menu.sf-style-metroz  ul li a.active:hover,
.sf-menu.sf-style-metroz  ul li a.active:focus,
.sf-menu.sf-style-metroz  ul li a.active:active {
	color: #00aeee;
}

.sf-menu.sf-style-metroz  ul li a .sf-sub-indicator {
  top: 17px !important;
  background: url("../../images/sub-arrow2.png") no-repeat 0 0 !important;
}

.sf-menu.sf-style-metroz ul li.sfHover a .sf-sub-indicator,
.sf-menu.sf-style-metroz ul li a:hover  .sf-sub-indicator,
.sf-menu.sf-style-metroz ul li a:active .sf-sub-indicator,
.sf-menu.sf-style-metroz ul li a:focus .sf-sub-indicator {
  background: url("../../images/sub-arrow2-hover.png") no-repeat 0 0 !important;
}

.sf-menu.sf-style-metroz ul li.sfHover  ul  a,
.sf-menu.sf-style-metroz ul ul a {
	background: none !important;
	color: #ddd !important;
	padding: 0;
}

.sf-menu.sf-style-metroz ul ul li.active-trail a,
.sf-menu.sf-style-metroz ul ul li.active-trail a:active,
.sf-menu.sf-style-metroz ul ul li.active-trail a:focus,
.sf-menu.sf-style-metroz ul ul li.active-trail a:hover,
.sf-menu.sf-style-metroz ul ul li.sfHover a,
.sf-menu.sf-style-metroz ul ul li a:hover,
.sf-menu.sf-style-metroz ul ul li a:focus,
.sf-menu.sf-style-metroz ul ul li a:active {
	/*background: url('../../images/bg-bullet-menu.png') no-repeat left 50% !important;*/
	color: #00aeee !important;
	padding: 0 0 0 10px;
}


/* Navbar */
.sf-menu.sf-style-metroz.sf-navbar {
	width: 100%;
}

/*navbar*/
ul.sf-navbar {
	padding: 0 !important; /* Height for navbar */
}
ul.sf-navbar.sf-menu.sf-style-metroz ul a {
	min-width: 0;
}
ul.sf-menu.sf-style-metroz.sf-navbar ul li {
	margin: 0 20px 0 0;
}
ul.sf-navbar.sf-style-metroz ul li a .sf-sub-indicator {
  right: -15px;
  top: 18px !important;
  background: url('../../images/sub-arrow-hover.png') top left no-repeat !important;
}

.sf-menu.sf-style-metroz ul li.sfHover a .sf-sub-indicator, 
.sf-menu.sf-style-metroz ul li a:hover .sf-sub-indicator, 
.sf-menu.sf-style-metroz ul li a:active .sf-sub-indicator, 
.sf-menu.sf-style-metroz ul li a:focus .sf-sub-indicator {
   background: url('../../images/sub-arrow3.png') top left no-repeat !important;
}

ul.sf-menu.sf-style-metroz.sf-navbar ul a {
	background: none repeat scroll 0 0 transparent !important;
	color: #DDDDDD;
	font-size: 12px;
	font-weight: 300;
	line-height: 40px;
	padding: 0;
	text-decoration: none;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

ul.sf-menu.sf-style-metroz.sf-navbar ul a:hover, 
ul.sf-menu.sf-style-metroz.sf-navbar ul a:focus, 
ul.sf-menu.sf-style-metroz.sf-navbar ul a:active {
	background: 0 !important;
	padding: 0 !important;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

ul.sf-menu.sf-style-metroz.sf-navbar ul li a.active {
	background: 0 !important;
	color: #00AEEE;
	padding: 0;
}

.sf-menu.sf-style-metroz.sf-navbar ul ul {
	left: -20px !important;
	margin: 0 !important;
	top: 40px !important;
}

/* MegaMenu */
.sf-menu.sf-style-metroz span.sf-description {
	color: #999;
	display: block;
	font-size: 0.8em;
	line-height: 1.5em;
	margin: 5px 0 0 5px;
	padding: 0;
}

.sf-menu.sf-style-metroz a.sf-with-ul {
	padding-right: 2.25em;
}

.sf-menu.sf-style-metroz.rtl a.sf-with-ul {
	padding-left: 2.25em; /* RTL */
	padding-right: 1em;
}

.sf-menu.sf-style-metroz ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	display: inline;
	float: left;
	width: 12em;
}

.sf-menu.sf-style-metroz.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
	float: right; /* RTL */
}

.sf-menu.sf-style-metroz ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-metroz ul.sf-megamenu li.sf-megamenu-wrapper ol li {
	margin: 0;
	padding: 0;
}

.sf-menu.sf-style-metroz li.sf-parent-children-1 ul.sf-megamenu {
	width: 12em;
}

.sf-menu.sf-style-metroz li.sf-parent-children-10 ul.sf-megamenu {
	width: 120em;
}

.sf-menu.sf-style-metroz li.sf-parent-children-2 ul.sf-megamenu {
	width: 24em;
}

.sf-menu.sf-style-metroz li.sf-parent-children-3 ul.sf-megamenu {
	width: 36em;
}

.sf-menu.sf-style-metroz li.sf-parent-children-4 ul.sf-megamenu {
	width: 48em;
}

.sf-menu.sf-style-metroz li.sf-parent-children-5 ul.sf-megamenu {
	width: 60em;
}

.sf-menu.sf-style-metroz li.sf-parent-children-6 ul.sf-megamenu {
	width: 72em;
}

.sf-menu.sf-style-metroz li.sf-parent-children-7 ul.sf-megamenu {
	width: 84em;
}

.sf-menu.sf-style-metroz li.sf-parent-children-8 ul.sf-megamenu {
	width: 96em;
}

.sf-menu.sf-style-metroz li.sf-parent-children-9 ul.sf-megamenu {
	width: 108em;
}
