/* --- Articles (nodes) --- */
.article {
	margin-bottom: 60px; /* Articles spacing */
}

/* Teaser */
.node-teaser {
}

/* Article Title */
.article > .header {
}

.node-title {
	color: #333;
	font-size: 36px;
	font-weight: 100;
	margin: 0;
}

.node-title a,
.node-title a:visited {
	color: #333;
}

.node-title a:hover,
.node-title a:active,
.node-title a:focus {
	color: #00AEEE;
	text-decoration: none;
}

/* User Picture */
.article .user-picture {
	display: inline;
	margin-right: .5em;
}

.article .submitted .user-picture img {
	display: none;
}

/* Meta */
.node-author {
}

.username {
}

.article > .submitted {
	color: #7b7b7b;
	line-height: 1;
	margin: 10px 0 30px;
	padding: 0;
}

.article > .submitted a {
}

.article > .submitted a:hover,
.article > .submitted a:active,
.article > .submitted a:focus {
}

.article > .submitted .username {
}

.article > .submitted .time {
}

/* Field Image */
.article .field-type-image {
	margin-bottom: 20px;
}

/* Article Lists */
.article ul {
}

.article ul li {
}

.article ol {
}

.article ol li {
}

/* Article Links */
.article .menu {
	margin-top: 1.5em;
}

.article ul.links {
	color: #999;
	font-size: 100%;
	margin: 0;
}

.article ul.links li {
	margin: 0;
	padding: 0;
}

.article ul.links li.comment-new-comments{
	display: none;
}
.article ul.links li a {
	background: #fff;
	color: #333;
	font-weight: 100;
	padding: 0;
}

.article ul.links li a:hover,
.article ul.links li a:active,
.article ul.links li a:focus {
	background: #333;
	color: #fff;
	text-decoration: none;
}


.article ul.links li.comment-add a {
	background: #fff;
	border: 1px solid #e5e5e5;
	color: #333;
	float: left;
	font-weight: 100;
	line-height: 38px;
	min-height: 38px;
	padding: 0 14px;
	text-transform: uppercase;
}

.article ul.links li.comment-add a:hover,
.article ul.links li.comment-add a:active,
.article ul.links li.comment-add a:focus {
	border: 1px solid #00AEEE;
	color: #00AEEE;
	text-decoration: none;
}

.article ul.links li.node-readmore a {
	background: #333;
	color: #fff;
}



.article ul.links li.node-readmore a {
	background: url("../images/bg-view-more-slide.png") no-repeat scroll 85% 50% #00AEEE;
	border: 1px solid #00AEEE;
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	font-weight: 400;
	line-height: 38px;
	margin: 0 10px 0 0;
	min-height: 38px;
	padding: 0 55px 0 25px;
	text-transform: uppercase;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

.article ul.links li.node-readmore a:active,
.article ul.links li.node-readmore a:focus,
.article ul.links li.node-readmore a:hover{
	background: url("../images/bg-view-more-slide-hover.png") no-repeat 85% 50% #fff;
	color: #00AEEE;
	text-decoration: none;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}






.article ul.links li.comment-add a {
}

.article ul.links li.comment-comments a {
	background: none;
	color: #00AEEE;
	font-size: 13px;
	font-weight: 100;
}

.article ul.links li.comment-new-comments a {
}

.article ul.links li.blog_usernames_blog a {
}

.article ul.links li.print_html a {
}

.article ul.links li.print_email a {
}

.article ul.links li.print_pdf a {
}

.article ul.links li.first {
}

.article ul.links li.last {
}

.node-teaser ul.links li.comment_forbidden {
	display: none;
	float: right;
	margin: 20px 0 0 0;
}


.node-article .sharethis-buttons{
	display: none;
}

.node-type-blog-post .field-name-body {
	margin-bottom: 40px;
}

.node-type-blog-post h1 {
	margin: .8em 0 0 0;
}

/* Status */
.article-unpublished {
}

/* --- Blogs --- */
.page-blog .article {
}

/* Teaser */
.page-blog .node-teaser {
}

.page-blog .node-teaser .user-picture{
	display: none;
}



/**
 * Misc.
 */

/* Skinr article title alignment */
.ta-l .article-title {
	text-align: left;
}

.ta-r .article-title {
	text-align: right;
}

.ta-c .article-title {
	text-align: center;
}

