/**
 * Common Block
 */

 /* --- Blocks --- */
 .block {
    margin: 0;
}

.block-inner {
    padding: 10px 20px;
}

#topbar-wrapper .block-inner{
    padding:0px;
}

.block-title {
    background-color: white;
    display: inline-block;
    padding: 0 10px;
}

.panel-prefooter .block-title,
.panel-footer .block-title,
#pulldown-wrapper .block-title {
    background-color: transparent;
}

.block-content {
}

/* --- Block Lists --- */
.block ul {
}

.block ul li {
    margin: 0 0 0 0.5em;
}

.block ol {
}

.block ol li {
}

/* Block Item list */
.block .item-list ul {
}

.block .item-list ul li {
}

/* Block Links List */
.block ul.links {
    margin: 0;
}

.block ul.links li {
    margin: 0;
}

/* Block More Links */
.block .more-link {
    margin-top: 5px;
}

.block .more-link a {
    background: url("../images/bg-view-more-slide.png") no-repeat 85% 50% #00AEEE;
    border: 3px solid #00aeee;
    color: #fff;
    float: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 44px;
    min-height: 44px;
    padding: 0 55px 0 25px;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.block .more-link a:hover,
.block .more-link a:focus,
.block .more-link a:active{
    background: url("../images/bg-view-more-slide-hover.png") no-repeat 85% 50% #fff;
    color: #00AEEE;
    text-decoration: none;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

/* --- Sidebar Blocks --- */
.sidebar .block {
    color: #333;
}

.sidebar .block-inner {
    padding: 0;
}

.sidebar .block-title {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 10px 0;
    color: #333;
    font-size: 18px;
    font-weight: 300;
    margin-top: 0;
    display: block;
}

.sidebar .block-content {
}

/*PULLDOWN*/

#pulldown-wrapper img {
    border: 1px solid #ddd;
}

#pulldown-wrapper .group-link-pulldown{
    margin-top: 10px;
}

#pulldown-wrapper div.field-name-field-link,
#pulldown-wrapper div.field-name-field-link-destra{
    display:inline-block;
    border: 2px solid #e3b49a !important; 
    width: 45%;
    text-align: center;
    
}

#pulldown-wrapper div.field-name-field-link{
    float: left;
}

#pulldown-wrapper div.field-name-field-link-destra{
    float: right;
}


#pulldown-wrapper .link-pulldown {
    background-color: transparent;
    color: #e3b49a;
    text-transform: uppercase;
    text-decoration:none;
    padding: 5px 0;
    display:block;
}

#pulldown-wrapper div.field-name-field-link:hover,
#pulldown-wrapper div.field-name-field-link-destra:hover{
  opacity: 0.7;
}

#pulldown-wrapper .link-pulldown a:active,
#pulldown-wrapper .link-pulldown a:focus,
#pulldown-wrapper .link-pulldown a:hover{
	text-decoration:none;
}

/*block footer*/
#panel-footer-wrapper {
    background-color: #892027;
}

#panel-footer-wrapper  a{
    font-weight: 400;
}

#panel-footer-wrapper  a:active,
#panel-footer-wrapper  a:focus,
#panel-footer-wrapper  a:hover{

}

.ico-contact .block-title{
    background: url('../images/ico-contact.png') no-repeat 0 50%;
    height: 26px;
    line-height: 26px;
    padding: 0 0 0 40px;
}

#panel-footer-wrapper .block-menu:first-child {
    margin: 0 0 40px 0;
}

#panel-footer-wrapper .block-title { 
    color:#e3b49a;
    line-height: 22px;
    margin-top: 0;
    font-size: 14px;
    font-weight: 400;
}

#panel-footer-wrapper  .block-inner {
    padding: 0;
}

#panel-footer-wrapper .views-col .grid-inner {
    padding: 0;
}

#panel-footer-wrapper .panel-footer-4 p.info{
    margin: 0 0 20px 0;
}

#panel-footer-wrapper .panel-footer-4 p.phone,
#panel-footer-wrapper .panel-footer-4 p.fax,block-views-modes-modes
#panel-footer-wrapper .panel-footer-4 p.email{
    margin: 0 0 5px 0;
}

#panel-footer-wrapper .panel-footer-4 p.phone span,
#panel-footer-wrapper .panel-footer-4 p.fax span,
#panel-footer-wrapper .panel-footer-4 p.email span{

}
#panel-footer-wrapper .panel-footer-4 p.email a{

}

#panel-footer-wrapper .block ul.menu li {
    line-height: 24px; 
    background-repeat:no-repeat; 
    background-position:left;
    font-weight: 400;
}
#panel-footer-wrapper .block ul.menu li a{
    font-size: 14px; 
    margin:0 0 0 10px; 
    color:#e3b49a
}
.tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li  a{
   padding: 1px 0;
   background: none;
   font-size:13px;
}
.tb-megamenu .nav > .active > a, .tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus {
    background-color: #eaeaea;
    background-image: none;
    box-shadow: none;
    color: #707070;
    background: #eaeaea url(../images/bottom-menu-item.png) center bottom no-repeat;
}

.tb-megamenu .mega-nav .mega-group > .mega-group-title, .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title, .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
  font-weight: normal;
  font-size: 14px;
  color: #892027;
}

.tb-megamenu .dropdown-menu li > a {
  border-top: none;
}

.accedi .tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child{
	border: 0;
	border-top: 4px solid #892027;
}
.accedi .tb-megamenu-submenu.dropdown-menu.mega-dropdown-menu.nav-child #tb-megamenu-column-3{
	border-left: 2px solid #ccc;	
	margin: 5px 0;
}

/*social*/
.social {
    float: left;
    margin: 20px 0 35px 0;
    width: 100%;
}

.social a{
    float: left;
    height: 40px;
    margin: 0 2px 0 0;
    width: 40px;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.social a span{
    display: none;
}

.social a.facebook{
    background: url('../images/ico-facebook.png') no-repeat 0 0;
}

.social a.twitter{
    background: url('../images/ico-twitter.png') no-repeat 0 0;
}

.social a.google{
    background: url('../images/ico-google-plus.png') no-repeat 0 0;
}

.social a.facebook:hover,
.social a.twitter:hover,
.social a.google:hover{
    background-position: 0 -40px;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

/*newsletter*/
.block-newsletter{
}

#newsletter-subscribe-form{
    margin: 0;
    position: relative;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

#newsletter-subscribe-form  .form-item{
    border: 3px solid #333;
    margin: 0;
    min-height: 35px;
}

#newsletter-subscribe-form  .form-text{
    background: 0;
    border: 0;
    color: #666;
    min-height: 35px;
    padding: 0 15px;
    width: 95%;
}

#newsletter-subscribe-form #subscribe{
    display: none;
    position: absolute;
    right: 9px;
    top: 9px;
}



#newsletter-subscribe-form #subscribe span.button input.form-submit{
    background: url('../images/btn-submit-newsletter.png') no-repeat 50% 50%;
    border: 0;
    cursor: pointer;
    height: 24px;
    padding: 0;
    text-indent: -999em;
    width: 24px;
}

#newsletter-subscribe-form:hover{
    background: #fff;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

#newsletter-subscribe-form:hover .form-text{
    color: #999;
}

#newsletter-subscribe-form:hover #subscribe{
    display: block;
}

#newsletter-error {
    background: #000;
    color: red;
    line-height: 18px;
    padding: 5px 0 0;
}

/* First Sidebar Blocks */
#sidebar-first .block {
}


#sidebar-first .block-inner {
    padding: 0;
}

#sidebar-first .block-title {
}

#sidebar-first .block-content {
}

/* Second Sidebar Blocks */
#sidebar-second .block {
}

#sidebar-second .block-inner {
}

#sidebar-second .block-title {
}

#sidebar-second .block-content {
}

/* --- Header Blocks --- */
#header-wrapper .block {
    float: left;
}

html.js input.form-autocomplete {
  background-image: none;
}

#header-wrapper #block-views-exp-ricerca-prodotti-page{
    /* background-color: #ddd; */
    width: 200px;
}

#header-wrapper #block-views-exp-ricerca-prodotti-page form {
  margin: 30px 0 0 0 !important;
}

#header-wrapper #block-views-exp-ricerca-prodotti-page .views-exposed-widget.views-submit-button {
    /*display: none;*/
    float:left;
    /* width:20%; */
}

#edit-search-api-views-fulltext-wrapper{
	float:left;
}

#block-current-search-kickstart-search{
    background-color: #e5e5e5;
}

#block-current-search-kickstart-search .item-list ul li {
    float: left;
}

/* ---- Footer Blocks --- */
#footer-wrapper .block {
}

/* --- First Panels Blocks --- */
#panel-first-wrapper .container{
    padding: 40px 0;
}

#panel-first-wrapper .block {
}

/* --- Second Panels Blocks --- */
#panel-second-wrapper .block {
}

#panel-second-wrapper .block-inner {
    padding: 0;
    position: relative;
}

#panel-second-wrapper .block-title {
    margin: 0 0 15px;
}

/**
 * Specfic Blocks
 */

 /* --- Menu Block --- */
 .block-menu {
 }

 .block-menu ul.menu {
    margin-bottom: 0;
    margin-left: 0;
}

.block-menu ul.menu ul {
    margin-left: 1em;
}

/* --- Node Blocks --- */
.block-node .block-content {
}

.block-node table {
    overflow: hidden;
    width: 100%;
}

.block-node tbody {
    border-top: 0;
}

.block-node table tr td {
    border-bottom: 1px dotted #ccc;
}

.block-node table .title-author {
    padding-left: 0;
    padding-right: 0;
}

.block-node table .node-title {
    font-size: 1em;
}

.block-node table .node-title a {
    color: #666;
}

.block-node table .node-title a:hover,
.block-node table .node-title a:active,
.block-node table .node-title a:focus {
    color: #fff;
}

.block-node table .node-author {
    color: #999;
    font-size: 1em;
}

body.not-logged-in .block-node table td.edit,
body.not-logged-in .block-node table td.delete {
    display: none; /* Hide Edit & Delete TD if not log-in */
}

/* --- Forums Block --- */
.block-forum .item-list ul {
    margin: 0;
    padding: 0;
}

.block-forum .item-list ul li {
}

.block-forum .item-list ul li:first-child {
}

.block-forum .item-list ul li a {
}

.block-forum .item-list ul li a:hover,
.block-forum .item-list ul li a:active,
.block-forum .item-list ul li a:focus {
}

.block-forum .more-link {
}

.block-forum .contextual-links-wrapper {
    display: none; /* Drupal Bug. Temporary hiding this link */
}

/* --- Comment Blocks --- */
.block-comment {
}

/* --- Aggregator Blocks --- */
.block-aggregator {
}

.block-aggregator .item-list ul {
    margin: 0;
    padding: 0;
}

.block-aggregator .item-list ul li {
    background-image: none;
    border-bottom: 1px dotted #ccc;
    padding: .5em 0;
}

.block-aggregator .item-list ul li:first-child {
    padding-top: 0;
}

.block-aggregator .item-list ul li a {
    color: #666;
}

.block-aggregator .item-list ul li a:hover,
.block-aggregator .item-list ul li a:active,
.block-aggregator .item-list ul li a:focus {
    background: #333;
    color: #fff;
    text-decoration: none;
}

/* --- Search Blocks --- */
.block-search {
}


/* --- User Blocks --- */
.block-user {
}

.block-user .form-item {
}

.block-user .form-item label {
    color: #666;
    font-weight: 100;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}

.block-user .form-item-name {
    margin: 0 0 15px 0;
}

.block-user .form-item-name input {
    padding: 8px 5px;
    width: 90%;
}

.block-user .form-item-pass {
}

.block-user .form-item-pass input {
    padding: 8px 5px;
    width: 90%;
}

.sidebar .block-menu ul.menu li {
    background: url('../images/bg-bullet-link.png') no-repeat left 50%;
    line-height: 30px;
    padding: 0 0 0 20px;
}

.sidebar .block-menu ul.menu li a.active,
.sidebar .block-menu ul.menu li a:active,
.sidebar .block-menu ul.menu li a:focus,
.sidebar .block-menu ul.menu li a:hover{
    color: #892027;
}

.block-user p {
    margin: 0;
}

/* --- Poll Blocks --- */
.block-poll {
}

.block-poll .poll {
}

.block-poll .title {
    font-weight: bold;
    margin-bottom: 1em;
}

.block-poll ul.links {
    border-top: 1px solid #ddd;
    list-style: none;
    padding: 10px 0 0 0;
}

.block-poll ul.links li.first.last,
.block-poll ul.links li.first {
    float: left;
}

.block-poll ul.links li.last {
    float: right;
}

.block-poll ul.links li a.active{
    color: #00AEEE;
    text-decoration: underline;
}

/* --- Book Blocks --- */
.block-book {

}

/* --- Quicktabs Blocks --- */
.block-quicktabs {
}

#sidebar-first-wrapper .block-quicktabs .item-list{
    border-top: 0;
    padding: 0;
    display: block;
    float: none;
}

.block-quicktabs .block-inner .block-inner {
    margin: 0; /* Prevent extra padding in nested blocks */
    padding: 0;
}

/* --- Views Blocks --- */
.block-views {
}

.half_block{
	/*width: 50%;
	float:left;*/
	box-sizing:border-box;
	padding: 0 20px;
	color:#707070;
}

.half_block>.block-inner{
	background: url(../images/middle-line.jpg) 0 4px repeat-x;
}


/**
 * Misc.
 */

 /* Login Block - horizontal (theme setting) basic styles */
 .lb-h {
    margin-top: 1px;
    min-width: 320px;
}

.region-header .lb-h {
    float: right;
}

.lb-h .block-inner,
.lb-h .block-content {
    background: none;
    padding: 0;
}

.lb-h #user-login-form {
    margin: 0;
}

.lb-h #user-login-form label {
    line-height: 1.2;
}

.lb-h .form-item {
    float: left;
    margin: 0;
}

.lb-h input.form-text {
    margin: 0 3px 0 0;
    width: 110px;
}

.lb-h #edit-actions {
    margin: 0;
}

.lb-h input.form-submit {
    margin: 0;
    position: absolute;
    top: 1.2em;
}

.lb-h .form-required,
.lb-h .item-list {
    display: none;
}

.lb-h h2 {
    display: none;
}

/* Skinr block title alignment */
.ta-l .block-title,
.ta-l .mini-panel-title {
    text-align: left;
}

.ta-r .block-title,
.ta-r .mini-panel-title {
    text-align: right;
}

.ta-c .block-title,
.ta-c .mini-panel-title {
    text-align: center;
}

/* Mini panels */
.mini-panel-title {
    margin: 0 10px;
}

/* Gpanel blocks */
.gpanel .block-inner {
}

.gpanel .block-title {
}

.gpanel .block-content {
}

#main-content .gpanel .block-inner {
}

#main-content .gpanel .block-title {
}

#main-content .gpanel .block-content {
}

/* Block wrapper for Mini Panels */
.block-panels_mini {
}

.block-panels_mini .block-inner {
}

.block-panels_mini .block-content {
}

.block-panels_mini .mini-panel-title {
    margin: 0 10px;
}

/*Padding for block*/
.no-padding .block-inner{
    padding: 0;
}

.small-padding .block-inner{
    padding: 10px;
}

.lager-padding .block-inner{
    padding: 20px;
}


/*static info*/
.static-info {
    float: left;
    width: 55%;
}

.static-image {
    float: right;
    margin: 20px 20px 20px 0;
    width: 35%;
}

.static-title {
    color: #333;
    font-size: 18px;
    line-height: 24px;
}

.static-body {
    color: #666;
    font-size: 14px;
    margin: 30px 0;
}

.view-more-link{
    background: url("../images/bg-view-more-slide.png") no-repeat scroll 85% 50% #00AEEE;
    border: 3px solid #00aeee;
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 44px;
    min-height: 44px;
    padding: 0 55px 0 25px;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.view-more-link:hover,
.view-more-link:focus,
.view-more-link:active{
    background: url("../images/bg-view-more-slide-hover.png") no-repeat 85% 50% #fff;
    color: #00AEEE;
    text-decoration: none;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

/*banner adv*/
.banner-adv {
    min-height: 300px;
    position: relative;
    width: 100%;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.banner-body {
    bottom: 0;
    color: #fff;
    font-size: 12px;
    height: 60px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.banner-body-inner {
    background: url('../images/bg-arrow-adv.png') 260px 20px no-repeat;
    height: 20px;
    padding: 20px;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.banner-body h3{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 20px 0;
}

.banner-body h3 a {
    color: #fff;
    text-decoration: none;
}

.banner-body h3 a:active,
.banner-body h3 a:focus,
.banner-body h3 a:hover{
    text-decoration: none;
    opacity: 0.5;
}

.region-first-adv {
    background: url('../images/region-first-adv.png') top left repeat;
}

.region-second-adv {
    background: url('../images/region-second-adv.png') top left repeat;
}

.region-thrid-adv {
    background: url('../images/region-thrid-adv.png') top left repeat;
}

.adv-body {
    padding: 0 30px 0 0;
}

.banner-adv:hover .banner-body{
    color: #fff;
    height: 120px;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.banner-adv:hover .banner-body h3{
    margin: 0 0 10px 0;
}

.banner-adv:hover  .banner-body-inner{
    background: url('../images/bg-arrow-adv.png') 260px 80px no-repeat;
    height: 80px;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

#special-menu {
    list-style: none;
    margin: 10px 0 0 20px;
}

#special-menu li{
    cursor: pointer;
    float: right;
    height: 24px;
}

#special-menu li.search{
    background: url('../images/bg-ico-search.png') no-repeat 0 0;
}

#special-menu li.search:active,
#special-menu li.search:focus,
#special-menu li.search:hover{
    background: url('../images/bg-ico-search.png') no-repeat 0 -24px;
}

#special-menu li.account{
    background: url('../images/bg-ico-acc.png') no-repeat 0 0;
}

#special-menu li.account:active,
#special-menu li.account:focus,
#special-menu li.account:hover{
    background: url('../images/bg-ico-acc.png') no-repeat 0 -24px;
}



#special-menu li.cart span.special-menu-total {
  display: block;
  width: 100%;
  height: 100%;
  text-align: right;
  padding-top: 17px;
}

#special-menu li.cart:active,
#special-menu li.cart:focus,
#special-menu li.cart:hover{

}

#search-wrapper, #info-wrapper, #wish-wrapper {
    background: #fff;
    border: 1px solid #892027;
    padding: 20px;
    width: 280px;
    height: 120px;
    z-index: 400;
    margin-left: -330px;
    margin-top: -40px;
}

#info-wrapper {
	width: 560px;
	margin-left: -610px;
	margin-top: -80px;
	height: 240px;
}

#wish-wrapper {
	width: 560px;
	margin-left: -610px;
	margin-top: -120px;
	height: 330px;
}

#wish-wrapper .view-wishlist .views-table th {
  width:160px;
}

#popover-right-wrapper, #popover-left-wrapper {
	width: 800px;
	position: absolute;
	/*top: 120px;*/
	left: 200px;
	background: #fff;
	border: 1px solid #892027;
	z-index: 400;
	margin-top: -250px; /* PREV: -246px */
	margin-left: -150px; /* PREV: -147px */
}

#search-wrapper .block-title, #info-wrapper .block-title, #fav-wrapper .block-title{

}

/*

#search-wrapper .arrow {
    background: url('../images/arrow-top.png') top left no-repeat;
    height: 5px;
    position: absolute;
    right: 40px;
    top: -5px;
    width: 9px;
}

#search-wrapper  .block {
    float: right;
    width: 100%;
}

#search-wrapper  .block-inner {
    padding: 0;
}

#search-block-form{
    margin: 0;
    position: relative;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

#search-block-form h2 {
    color: #FFFFFF;
    display: block !important;
    font-size: 18px;
    font-weight: 300;
    height: auto;
    margin: 0 0 10px;
    overflow: visible !important;
    position: static !important;
}

#search-block-form .form-item {
    border: 3px solid #666666;
    display: block;
    margin: 0;
    min-height: 35px;
}

#search-block-form .form-text {
    background: none repeat scroll 0 center transparent;
    border: 0 none;
    color: #999;
    padding: 7px 15px;
    width: 190px;
}

#search-block-form  .form-actions{
    position: absolute;
    right: 9px;
    top: 41px;
}

#search-block-form  .form-actions span.button input.form-submit {
    background: url("../images/bg-ico-button.png") no-repeat scroll right top transparent;
    border: 0 none;
    cursor: pointer;
    height: 24px;
    text-indent: -999em;
    width: 24px;
}
*/

#search-block-form:hover{
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

#search-block-form:hover .form-item {
    background: #fff;
    border: 3px solid #00aeee;
}

#search-block-form:hover .form-text{
    color: #333;
}


#search-block-form:hover .form-actions span.button input.form-submit {
    background: url("../images/bg-ico-button-hover.png") no-repeat scroll right top transparent;
    display: block;
}



#account-wrapper {
    background: #000;
    padding: 20px;
    top: 80px !important;
    width: 280px;
    z-index: 400;
}

#account-wrapper  .block {
    float: right;
    width: 100%;
}

#account-wrapper  .block-inner {
    padding: 0;
}

#account-wrapper  .block-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    height: auto;
    margin: 0 0 10px 0;
}

#account-wrapper .arrow {
    background: url('../images/arrow-top.png') top left no-repeat;
    height: 5px;
    position: absolute;
    right: 40px;
    top: -5px;
    width: 9px;
}

#account-wrapper label {
    color: #fff;
    display: none;
}

#account-wrapper .form-item-pass input,
#account-wrapper .form-item-name input {
    background: #000;
    border: 3px solid #666666;
    color: #666;
    width: 93%;
}

#account-wrapper #edit-openid-identifier {
    background-color: #000;
    background-position: 10px 50%;
    border: 3px solid #666666;
    color: #666;
    padding: 7px 0 7px 30px;
    width: 87%;
}

#account-wrapper #edit-openid-identifier:hover,
#account-wrapper #edit-openid-identifier:focus,
#account-wrapper #edit-openid-identifier:active,
#account-wrapper .form-item-pass input:hover,
#account-wrapper .form-item-pass input:focus,
#account-wrapper .form-item-name input:hover,
#account-wrapper .form-item-name input:focus{
    background-color: #fff;
    border: 3px solid #00aeee;
}

#account-wrapper  .form-actions .form-submit {
    background: url("../images/bg-ico-button-login.png") no-repeat scroll 85% 50% #00aeee;
    padding: 6px 40px 6px 20px;
    -webkit-appearance: none;
    -webkit-border-radius: 0 !important;
}

#account-wrapper  .form-actions .form-submit:hover,
#account-wrapper  .form-actions .form-submit:focus {
    background: url("../images/bg-ico-button-hover.png") no-repeat scroll 85% 50% #fff;
    border: 3px solid #00aeee;
    padding: 0 37px 0 17px;
}

#account-wrapper .item-list {
    border: 0;
    margin: 0;
    padding: 0;
}

#account-wrapper .item-list ul li {
    background: url("../images/bullet-link-user.png") no-repeat left 50%;
    list-style: none outside none;
    margin: 5px 0;
    line-height: 100%;
    padding: 3px 0 3px 25px;
}

#account-wrapper .item-list ul li.openid-link {
    background: none;
    padding: 3px 0 3px 0;
}

#account-wrapper .item-list ul li.openid-link a{
    padding: 0 0 0 25px;
}


#cart-wrapper {
    padding: 28px 0;

}

#cart-wrapper .ajax-shopping-cart-teaser{
    float: right;
}

#cart-wrapper #block-dc-ajax-add-cart-ajax-shopping-cart{
    position: absolute;
    background: #fff; /*  background: #6b6b69;*/
    color: #999;
    padding: 10px;
    top: 70px !important; /* PREV: 100px */
    z-index: 400;
    border:1px #eee solid;
    border-top:3px #eee solid;
    box-shadow: 3px 3px 10px 2px #707070;
    -webkit-box-shadow: 3px 3px 10px 2px #707070;
    -moz-box-shadow: 3px 3px 10px 2px #707070;
    width: 370px;
    margin-left: -185px;
    display: none;
}

#cart-wrapper #block-dc-ajax-add-cart-ajax-shopping-cart-teaser .cart-product-quantity,
#cart-wrapper #block-dc-ajax-add-cart-ajax-shopping-cart-teaser .cart-product-total{
  padding-top: 5px;
}

#cart-wrapper .cart-image{
    height: 45px;
    width: 55px;
    background: url('../images/panariello.png') left center no-repeat;
    background-size: contain;
    margin-top: -10px;
}
.delete-line-item{
	width:30px !important;
}

#cart-wrapper  .block {
    float: right;
    width: 100%;
}

#cart-wrapper  .block-inner {
    padding: 0;
}

#cart-wrapper  .block-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    height: auto;
    margin: 0 0 10px 0;
    display: none;
}

#cart-wrapper .arrow {
    background: url('../images/arrow-top.png') top left no-repeat;
    height: 5px;
    position: absolute;
    right: 108px !important;
    top: -8px;
    width: 9px;
}

#cart-wrapper table {
    /*width: 100%;
    height: 240px;*/
    overflow: hidden;
    /*display: block;*/
    margin: 15px 0;
}

#cart-wrapper table>thead {
  display: none;
}

.line-item-quantity-label {
  font-weight: bold;
}

#cart-wrapper tr {
    border-bottom: 1px solid #eee;
    /*    float: left;*/
    /*padding: 10px 0;*/
    width: 350px; 
}

#cart-wrapper td {
    border-bottom: 0;
    /*    float: left;*/
    text-align: center;
    /*width: 20%;*/
    padding: 0.7em 0 !important;
    /*padding:0px 7px 0px 0px;*/
    text-transform: uppercase;
    color: #888 !important;
}

#cart-wrapper td.product-cart-image {
    /*width: 20%;*/
}

#cart-wrapper td.name {
    width: 30%;
}

#cart-wrapper td.quantity {
    width: 15%;
}

#cart-wrapper td.price {
    width: 20%;
}

#cart-wrapper td.remove-from-cart {
    width: 15%;
}

#cart-wrapper td.views-field-quantity {
    /*color: #707070;*/
    /*    float: left;*/
    /*margin:1em 0 0.5em;*/
    /*width: 10%;*/
}
#cart-wrapper .view-footer .views-field-quantity{
    /*width: 40%;*/
}
#cart-wrapper td.views-field-line-item-title{
    /*float: left;*/
    /*width: 70%;*/
}

#cart-wrapper .field-type-commerce-price{
	/*margin:1em 0 0.5em;*/
}

#cart-wrapper td.views-field-quantity,
#cart-wrapper .view-footer .line-item-quantity-raw,
#cart-wrapper td.views-field-line-item-title a{
    color: #999;
}
#cart-wrapper td.price{
    /*color: #00aeee;*/
    /*float: right;*/
    /*font-weight: bold;*/
    margin: 0;
    text-align: right;
    /*width: 20%;*/
}


#cart-wrapper .view-footer {
    font-weight: 700;
    padding: 20px 0 0;
}
#cart-wrapper .view-footer ul.inline li{
    padding: 0 5px 0 0;
}
#cart-wrapper .view-footer  .line-item-quantity {
    color: #999;
    float: left;
    margin: 0;
    text-align: left;
    width: 20%;
}

.ajax-shopping-cart-more-info .ajax-shopping-cart-total {
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    min-height: 34px;
    display: block;
    text-align: center;
    padding: 0 10px;
}

.ajax-shopping-cart-more-info .ajax-shopping-cart-checkout a {
    background: #892027;
    border: 2px solid #892027;
    color: #e3b49a !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    min-height: 34px;
    display: block;
    text-align: center;
    padding: 0 10px;
}

.ajax-shopping-cart-more-info .ajax-shopping-cart-checkout a:hover {
    color: #892027 !important;
    background: #fff;
    border: 2px solid #892027;
    text-decoration: none;
}


#cart-wrapper .view-footer  .line-item-total-raw {
    color: #00aeee;
}
#cart-wrapper  .block-views{
    margin: 20px 0 0 0;
}

#cart-wrapper .item-list ul li {
    background: none repeat scroll 0 center transparent;
    border-bottom: 1px solid #151515;
    float: left;
    font-weight: 700;
    padding: 10px 0;
    text-align: right;
    width: 100%;
    color: #00AEEE;

}
#cart-wrapper .item-list ul li a {
    color: #999;
    float: left;
    text-align: left;
    width: 75%;
    font-weight: 300;
}
#cart-wrapper .item-list ul li a:active,
#cart-wrapper .item-list ul li a:focus,
#cart-wrapper .item-list ul li a:hover {
    color: #00AEEE;
    text-decoration: none;
}


#block-views-shopping-cart-block-1--2 .line-item-summary-checkout  {
    width: 100%;
    display: block;
    padding: 0;
}

#block-views-shopping-cart-block-1--2 .view-content {
    display:none;
}

#block-views-shopping-cart-block-1--2 .commerce-price-formatted-components .component-title {
    text-transform: uppercase;
}

.line-item-summary-checkout  a,
.line-item-summary-view-cart a,
.line-item-summary-view-cart a.active {
    background:#892027;
    border: 2px solid #892027;
    color: #e3b49a !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    min-height: 34px;
    display: block;
    text-align: center;
    /*-moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
}
.line-item-summary-checkout a:active,
.line-item-summary-checkout a:focus,
.line-item-summary-checkout a:hover,
.line-item-summary-view-cart a:active,
.line-item-summary-view-cart a:focus,
.line-item-summary-view-cart a:hover{    
    color: #892027 !important;
    background: #fff;
    border: 2px solid #892027;
    text-decoration: none;
}

/*webform*/
.node-webform {
    margin: 0;
}

.node-webform .node-content{
    position: relative;
}

.node-webform  .field-name-body{
    float: right;
    width: 100%;
}

.webform-client-form {
    left: 0;
    position: absolute;
    top: 55px;
    width: 48%;
}

.webform-client-form label{
    font-weight: 100;
    line-height: 40px;
}

.node-webform .contact-welcome {
    font-size: 14px;
    font-weight: 300;
    margin: 20px 0 40px;
}

.node-webform .contact-map {
    float: right;
    width: 48%;
}

.contact-email,
.contact-tel,
.contact-address {
    color: #666;
}

.contact-address span{
    color: #000;
    float: left;
    margin: 0 0 5px 0;
    width: 100%;
}

.contact-email span,
.contact-tel  span{
    color: #000;
}

#webform-component-name {
    float: left;
    width: 45%;
}

#webform-component-email {
    float: right;
    width: 45%;
}

#webform-component-subject {
    clear: both;
    width: 100%;
}


#webform-component-name input,
#webform-component-email input{
    width: 94%;
}

#webform-component-subject input{
    clear: both;
    width: 97%;
}

.node-webform  .form-textarea-wrapper textarea{
    height: 170px;
}

.webform-client-form span.button input.form-submit {
    background: url('../images/bg-ico-button.png') 85% 50% no-repeat #000;
    padding: 3px 50px 3px 20px;
}

.webform-client-form span.button input.form-submit:hover,
.webform-client-form span.button input.form-submit:focus {
    background: url('../images/bg-ico-button-hover.png') 85% 50% no-repeat #fff;
    border: 3px solid #00AEEE;
    color: #00AEEE;
    padding: 0 47px 0 17px;
}

.webform-client-form .form-actions {
    margin: 20px 0 0 0;
}
/*color background block*/
.black-color {
}

.black-color  .block-inner {
    padding: 20px;
    background: #111111;
}

.black-color .block-title {
    border-bottom: 0;
    color: #fff;
    margin: 0;
    padding: 0 0 10px 0;
}

.block-menu-block.black-color ul.menu {
    margin: 0;
}

.block-menu-block.black-color ul.menu li,
.block-menu.black-color ul.menu li{
    background: 0;
    padding: 0;
}

.block-menu-block.black-color ul.menu li a,
.block-menu.black-color ul.menu li a{
    color: #999;
    font-size: 12px;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.block-menu-block.black-color ul.menu li li a{
    background: 0;
}

.block-menu-block.black-color ul.menu li a:active,
.block-menu-block.black-color ul.menu li a:focus,
.block-menu-block.black-color ul.menu li a:hover,
.block-menu.black-color ul.menu li a:active,
.block-menu.black-color ul.menu li a:focus,
.block-menu.black-color ul.menu li a:hover{
    background: 0;
    padding: 0 0 0 10px;
    color: #00AEEE;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

/*Orange color*/

#sidebar-first-wrapper .orange-color  .block-content {
    background: #c55c3f;
}

#sidebar-first-wrapper .orange-color .views-row {
    border-bottom: 1px solid #dd6948;
    padding: 0;

}
#sidebar-first-wrapper .orange-color  .block-title{
    border: 0;
    margin: 0;
}
#sidebar-first-wrapper .orange-color  .views-field-title {
    background: 0;
    border: 0;
}
#sidebar-first-wrapper .ui-accordion .ui-accordion-content {
    background: none repeat scroll 0 center transparent;
    border: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 20px;
    color: #fff;
    top: 0;
    overflow: hidden;
}

#sidebar-first-wrapper .ui-accordion .ui-accordion-header .ui-icon {
    display: none;
}
#sidebar-first-wrapper  .ui-accordion-icons .ui-accordion-header {
    margin: 0;
}
#sidebar-first-wrapper  .ui-accordion-icons .ui-accordion-header a {
    padding: 20px;
    color: #fff;
    font-size: 12px;
}


#sidebar-first-wrapper  .ui-accordion-icons .ui-accordion-header.ui-state-active a {
    color: #fff;
    font-weight: 700;
}

#sidebar-first-wrapper .ui-accordion  .views-field-field-rating {
    margin: 20px 0 0;
}
#sidebar-first-wrapper .ui-accordion  .views-field-commerce-price{
    margin: 0 0 20px;
}
#sidebar-first-wrapper  .ui-accordion-icons .ui-accordion-header a:active ,
#sidebar-first-wrapper  .ui-accordion-icons .ui-accordion-header a:focus ,
#sidebar-first-wrapper  .ui-accordion-icons .ui-accordion-header a:hover,
#sidebar-first-wrapper  .ui-accordion-icons .ui-accordion-header.ui-state-active,
#sidebar-first-wrapper  .ui-accordion-icons .ui-accordion-content-active{
    background: #d46444
}


.custom-block  .block-inner {
    padding: 15px;
    border: 1px solid #E5E5E5;
}

.custom-block  .block-title{
    border-bottom: 0;
    margin: 0;
}

.custom-block .free-shipping {
    background: url('../images/ico-free-shipping.png') no-repeat left 5px;
    color: #666;
    font-size: 12px;
    margin: 0 0 20px 0;
    padding: 0 0 0 40px;
}

.custom-block .free-shipping .title{
    color: #333;
    text-transform: uppercase;
}

.custom-block .guarantee-shipping {
    background: url('../images/ico-shipping-guarantee.png') no-repeat left 5px;
    color: #666;
    font-size: 12px;
    margin: 0 0 20px 0;
    padding: 0 0 0 40px;
}

.custom-block .guarantee-shipping  .title{
    color: #333;
    text-transform: uppercase;
}

.custom-block .info-shipping {
    background: url('../images/ico-shipping-info.png') no-repeat left 5px;
    color: #666;
    font-size: 12px;
    padding: 0 0 0 40px;
}

.custom-block .info-shipping  .title{
    color: #333;
    text-transform: uppercase;
}

div.fivestar-widget {
    margin-bottom: 4px;
    float: left;
}
div.fivestar-widget .cancel, div.fivestar-widget .star {
    height: 15px !important;
    width: 16px !important;
}
.fivestar-default div.fivestar-widget-static .star {
    background-image: url("../images/star.png") !important;
}
.fivestar-default div.fivestar-widget-static .star span.on {
    background-image: url("../images/star.png") !important;
}
.fivestar-default div.fivestar-widget-static .star span.off {
    background-image: url("../images/star.png") !important;
}
.fivestar-default div.fivestar-widget .cancel,
.fivestar-default div.fivestar-widget .cancel a {
    background-image: url("cancel.png");
}
.fivestar-default div.fivestar-widget .star,
.fivestar-default div.fivestar-widget .star a {
    background-image: url("../images/star.png") !important;
}
.fivestar-default div.fivestar-widget div.hover a,
.fivestar-default div.rating div a:hover {
    background-image: url("../images/star.png") !important;
}

/* 
PRODUCTS */

.node-product-type-product-grid {

}

.node-product-type-product-grid .field-type-image {

}
/*TASTI FIXED*/

#tools {
    position: fixed;
    right: 0;
    top: 350px;
    z-index: 20;
}

#info-tool .tool-content{ background:url('../images/ico_info.png') 50% 50% no-repeat #fff; }
#fav-tool .tool-content { background:url('../images/ico_wish.png') 50% 50% no-repeat #fff; }

#info-tool, #fav-tool{
    padding: 4px 0 1px 3px;
}

#info-tool .tool-content, 
#fav-tool .tool-content 
{
 width: 32px;
 height: 32px;
 background-size: 90%;
 cursor: pointer;
 display: block;
 /* text-align: center; */
 border: 1px solid #fff;
 margin-bottom: 5px;
 box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
 -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
 box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
 padding: 5px;

}

#fav-tool a {
    margin-bottom: 0;
}


/*LOGIN REGISTER*/
#user_register_form, #user_login_form, #user_pass_form, .create-account{
    background: url(../images/middle-line.jpg) repeat-x; 
    background-position:top;
}
#user_register_form h1, #user_login_form h1, #user_pass_form h1, .create-account h2{    
    text-transform: uppercase;
    margin:0 125px 0 125px; 
    padding:7px 0 0 0;
    font-weight: 400; 
    font-size:20px; 
    text-align: center; 
    background-color:#FFFFFF

}


.page-user form#user-login #user_login_form, .page-checkout form#user-login #user_login_form {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ccc -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 0;
    padding-right: 10px;
    margin:0 5px 0 0
}
.page-user form#user-login #user_login_form, .page-checkout form#user-login #user_login_form {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border:1px solid #ccc; 
    padding-bottom: 0;
    padding-right: 10px;
    margin:0 5px 0 0
}
.page-user #user_register_form, .page-user #user_login_form, .page-user .create-account, .page-user #user_pass_form, .page-checkout #user_register_form, .page-checkout #user_login_form, .page-checkout .create-account, .page-checkout #user_pass_form, #edit-field-username{
    clear: none;
    float: left;
    width: 45%; 

}
.page-user form#user-login .create-account, .page-checkout form#user-login .create-account {
    margin: 0;
    padding: 0 20px 20px;
}
.page-user #user_register_form, .page-user #user_login_form, .page-user #user_pass_form, .page-checkout #user_register_form, .page-checkout #user_login_form, .page-checkout .create-account, .page-checkout #user_pass_form {
    clear: none;
    float: left; 
    border:1px solid #ccc; 
    border-bottom:0;
    padding:15px
}
.page-user .create-account{
    clear: none;
    float: left; 
    border:1px solid #ccc; 
    padding:15px
}


.page-user form#user-register-form .form-actions, .page-user form#user-profile-form .form-actions, .page-checkout form#user-register-form .form-actions, .page-checkout form#user-profile-form .form-actions {
    clear: both;
    margin-bottom: 60px;
    margin-top: 0;
    width: 48%;
    border:1px solid #ccc; 
    border-top:0;

}

/* preslideshow*/

#preslideshow_wrapper{ background-color:#892027; height:85px;  
}

.page-checkout #preslideshow_wrapper{ background-color:#fff; 
}

.view-blocco-pre-slideshow .col-1,.view-blocco-pre-slideshow .col-2{ width:50%; 
}




#panel-prefooter-wrapper{ background-color:#f5f5f5; margin: 0 0 15px 0; height:140px

}
#panel-prefooter-wrapper .panel-cols-4{ padding:0;

}

#block-block-5--2 img{ 
	padding:0 5px 0 0
}

#cloud-zoom-big{ background-color:#fff

}

.block .more-link a {
 background: #00AEEE;
 border: 0;
 color: #e3b49a;
 cursor: pointer;
 font-size: 14px;
 height: 40px;
 padding: 3px 20px;
}

.block .more-link a:form-submit:hover,
.block .more-link a:focus {
 background: #f7f7f7;
 border: 3px solid #00AEEE;
 color: #00AEEE;
 text-decoration: none;
 padding: 0 30px;
}

.group-right ul.links.inline{
 line-height:50px;
 margin:0;
 padding:0;
}

.group-right ul.inline li{
 padding:20px 0;
}

#block-views-modes-modes{
   display: none;
}

#sidebar-first-wrapper{
   margin-top: 10px;
}

#block-views-popular-block .block-inner,
#block-views-3e6a0a98f0961b169027fd765f11361c .block-inner {
    padding:0;
}

/* MOD 04/02/2015 */

/* Dimensione Font Login */
div#block-user-login.block.block-user,
form#user-login-form div div label {
  font-size: 12px;
}

