/**
 *
 * TODO: check classes still apply in D7 - in particular the unpublished classes and the extra classes.
 */

/* Comment wrapper */
#comments {
	border-top: 1px dotted #ccc;
	margin-top: 2em;
	padding-top: 1em;
}

#comments > h2 {
	font-size: 24px;
	font-weight: 100;
	margin: 10px 0 20px 0;
}


#comments > h2.title.comment-form {
	font-size: 24px;
	font-weight: 100;
	margin: 40px 0 0;
	padding: 20px 0 0;
	border-top: 1px dotted #ccc;
}

#comments > h2:first-child {
	border-top: 0;
	padding-top: 0;
}

/* Individual comment */
.comment {
	/*background: #fafafa;
	margin-bottom: 10px;
	margin-left: 60px;*/
	padding: 15px 20px;
	/*position: relative;*/
}

.comment .user-picture {
	position: absolute;
	top: 0;
	left: -60px;
}	

.comment .user-picture img {
  height: 50px;
  width: 50px;
}

.comment .username {
  font-weight: bold;
}

/* Indentation */
#comments .indented {
	margin-bottom: 10px;
	margin-left: 0;
	padding-left: 60px;
}

#comments .indented .comment {
}

/* Comment Title */
.comment > .header {
}

.comment-title {
	margin: 0 0 5px;
	padding: 0;
}

.comment-title a {
	text-decoration: none;
	color: #333;
	font-weight: 500;
}

.comment-title a:hover,
.comment-title a:active,
.comment-title a:focus {
	color: #00AEEE;
	text-decoration: none;
}

/* Skinr comment title alignment. */
.ta-l .comment-title {
	text-align: left;
}

.ta-r .comment-title {
	text-align: right;
}

.ta-c .comment-title {
	text-align: center;
}

/* Comment "new" title */
.comment-title .new {
	color: #f80;
}

/* User Picture */
.comment .user-picture {
	margin: 0 20px 0 0;
	float: left;
}

.comment .user-picture img {
}

/* Comment Content */
.comment-content {
}

/* Submitted */
.comment > .footer {
	color: #666;
	font-size: 0.92em;
	margin: .5em 0 1em;
}

.comment > .footer .username {
}

.comment > .footer .time {
}

.comment > .footer a {
}

.comment > .footer a:hover,
.comment > .footer a:active,
.comment > .footer a:focus {
}

/* Links */
.comment .comment-links {
	margin-top: 0;
}

.comment ul.links {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.comment ul.links li {
}

.comment ul.links li a {
  background: none !important;
  border: 0 none !important;
  float: none !important;
  margin: 0 5px 0 0 !important;
  padding: 0 !important;
  text-transform: capitalize !important;
}
.comment ul.links li a:active ,
.comment ul.links li a:focus ,
.comment ul.links li a:hover {
	background: 0;
	color: #00AEEE;
}

/* Core comment link classes. */
ul.links li.comment_reply a {
}

ul.links li.comment_edit a {
}

ul.links li.comment_delete a {
}

.comment ul.links li.first {
}

.comment ul.links li.last {
}

/**
 * Different status for comments
 */

/* Author */
.comment-by-anonymous {
}

.comment-by-node-author {
}

.comment-by-viewer {
}

/* New */
.comment-new {
}

/* Unpublished */
.comment-unpublished {
}

.comment-unpublished .unpublished {
}

/**
 * Comment Form
 */

.comment-form input.form-text {
  width: 96%;
}

