/**
 * IE Compatibility Tweaks
 */
.node-webform .form-textarea-wrapper textarea {
  overflow: hidden;  
}

@-moz-document url-prefix() {   
  #webform-component-subject input {
	 width: 98%;
  }
  
  #webform-component-name input, #webform-component-email input {
	 width: 95%;
  }
  
  #newsletter-subscribe-form  .form-text {
	 width: 90%;
  }
}
