/**
 *
 * TODO: check all D7 field class names, these are mostly from D6 CCK...
 */

 /* Wrapper for all fields. */
 .field {
 }

 /* Field labels */

 .field .field-label {
 	font-weight: normal;
 }

 .field-label{
 	font-size: 1em;
 }
 .field-label {
 	margin: 0;
 }

 .field-lable-above .field-label {
 }

 .field-lable-inline .field-label {
 	display: inline;
 }

 .field-label-inline .field-items {
 	float: none;
 }

 /* Imagefields */
 .field-type-image {
 }

 .field-type-image img {
 }

 /* Use "datetime" when creating new CCK date fields. */
 .field-type-datetime {
 }

 /* Filefield field. */
 .field-type-filefield {
 }

 /* Node reference field. */
 .field-type-nodereference {
 }

 /* User reference field. */
 .field-type-userreference {
 }

 /* Number fields. */
 .field-type-number-decimal {
 }

 .field-type-number-float {
 }

 .field-type-number-integer {
 }

 /* Text fields. */
 .field-type-text {
 }

 .field-type-text-long {
 }

 /* Term reference fields. */
 .field-type-taxonomy-term-reference {
 	margin-bottom: 1em;
 }

 .field-type-taxonomy-term-reference .field-label {
 	font-size: 1em;
 	margin-bottom: 1em;
 }

 .field-type-taxonomy-term-reference ul {
 	margin: 0;
 	padding: 0;
 }

 .field-type-taxonomy-term-reference ul li {
 	display: inline-block;
 	font-size: 0.92em;
 	list-style: none;
 	margin: 0 5px 7px 0 !important;
 	padding: 0;
 }

 .field-type-taxonomy-term-reference ul li a {
 	border: 1px dotted #ccc;
 	color: #333;
 	display: inline-block;
 	padding: 1px 10px;
 }

 .field-type-taxonomy-term-reference ul li a:hover,
 .field-type-taxonomy-term-reference ul li a:active,
 .field-type-taxonomy-term-reference ul li a:focus {
 	background: #ccc;
 	border: 1px solid #ccc;
 	color: #333;
 	text-decoration: none;
 }

 /* Imagefield skinr settings */
 .ai-l .field-type-image {
 	margin: 4px 20px 10px 0;
 }

 .ai-r .field-type-image {
 	margin: 4px 0 10px 20px;
 }

 .ai-b,
 .ai-b .block-inner,
 .ai-b .block-content {
 }

 .ai-b .block-content p,
 .ai-b .block-content div.field-type-image {
 }

 .field-name-field-produttore .field-label{
 	display:none;
 }


 .links.inline{
 	display: block !important;
 	margin: 10px 0;
 	border-top:#eaeaea 1px solid;
 	border-bottom:#eaeaea 1px solid;
 }

 .filtra_per_produttore{
 	border-top:#eaeaea 1px solid;
 	padding:10px 0;
 	text-transform:uppercase;
 	text-decoration:none;
 }

 .filtra_per_produttore a {
 	color: #888;
 }

 .field-name-field-prodotto-correlato .field-label{
 	margin: 1em 0 .4em 0;
 	font-weight: normal;
 	text-transform: uppercase;
 	font-size:18px;
 }

 .node-product-type .node-produttore .field-name-title-field{
 	font-weight: normal;
 }

 .field-group-htabs-wrapper.group-product-group strong {
 	font-weight: normal;
 	font-size:18px;
 }

 .field-group-htabs-wrapper.group-product-group .selected strong {
 	font-weight: bold;
 }