form {
	margin: 0 0 1em;
	padding: 0;
}

#commerce-addressbook-customer-profile-form{
	border:1px #ddd solid;
}

#commerce-addressbook-customer-profile-form fieldset{
	border:none;
}

#commerce-addressbook-customer-profile-form legend{
	display:none;
}

#commerce-addressbook-customer-profile-form .field-widget-phone-textfield{
	margin:-20px 0 0 20px;
}

#commerce-addressbook-customer-profile-form .form-submit{
	margin-left:20px;
}

#block-tb-megamenu-menu-user-menu input,
input,
textarea,
select {
	border: 1px solid #ccc;
	font-family: 'Quicksand', sans-serif; /* Need to define font-family */
	font-size: 1em;
	margin: 0;
}

#block-tb-megamenu-menu-user-menu input[type='submit'] {
  border: 2px solid #892027;
}

#block-tb-megamenu-menu-user-menu input[type='submit']:hover {
	border: 2px solid #e3b49a;
}


legend {
	font-weight: bold;
}

.views-widget-filter-search_api_views_fulltext{
	float:left;
	width:80%;
}

.form-autocomplete{
	width:100%;
}

/**
 * Drupal Form
 */
 .form-wrapper {
 }

 .form-item,
 .form-action {
 	margin-bottom: 0;
 	margin-top: 0;
 }

 .form-item label {
 }

 .form-item label.option {
 }

 .description,
 .form-item .description {
 }

 .form-item .description,
 fieldset .description,
 .fieldset-layout-settings dd {
 	color: #7b7b7b;
 	font-size: 0.92em;
 }

 span.form-required,
 span.marker {
 }

 ul.tips {
 }

 /* --- Text Inputs --- */

 /* --- search */

 #block-views-exp-ricerca-prodotti-page {
 	/* float: right !important; */
 }

 #block-views-exp-ricerca-prodotti-page .block-inner {
 	padding: 0;
 }

 #edit-search-api-views-fulltext-wrapper .form-item {
 	margin-top: 30px;
 }

 #topbar-wrapper #edit-search-api-views-fulltext-wrapper .form-item {
 	margin-top:0 !important;
 }

 #edit-search-api-views-fulltext {
 	background: #fff;
 	border: 1px solid #ccc;
 	padding: 7px 7px 7px 30px;
 	size:20 !important;
 }

 #topbar-wrapper #edit-search-api-views-fulltext {
 	margin-top:3px;
 	background: #fff;
 	border: 1px solid #ccc;
 	padding: 3px 7px 3px 30px;
 }
 
 #block-tb-megamenu-menu-user-menu input.form-text,
 .form-text,
 textarea {
 	border: 1px solid #f0f3f4;
 	box-sizing: border-box;
 	height: auto;
 	padding: 7px 3px;
 }

 .form-text:hover,
 .form-text:focus,
 textarea:hover,
 textarea:focus {
 	border: 1px solid #00AEEE;
 }

 .form-item textarea.error {
 	padding: 2px;
 }

 .container-inline .form-item input {
 	vertical-align: middle;
 }

 /* --- Buttons --- */

 input.form-submit:hover,
 input.form-submit:focus,
 a.button:hover,
 a.button:focus {
 	background: #ccc;
 	border: 1px solid #ccc;
 }


 span.button input.form-submit {
 	width:180px;
 	color: #e3b49a;
 	cursor: pointer;
 	font-size: 14px;
 	margin: 5px 0;
 	height: 35px;
 	border: 2px solid #892027;
 	background-color: #892027
 }

 span.button input.form-submit:hover,
 span.button input.form-submit:focus,
 .confirmation a#edit-cancel:hover,
 .confirmation input.form-submit:hover,
 .confirmation input.form-submit:focus {
 	color: #892027;
 	background-color: white;
 	text-decoration: none;
 }

 #views-exposed-form-ricerca-prodotti-page span.button input.form-submit {
 	background: none;
 	border: 0;
 	color: #e3b49a;
 	cursor: pointer;
 	font-size: 0;
 	height: 26px;
 	width: 30px;
 	margin: 2px 0;
 	padding: 0;
 	background: url("../images/ico_cerca.png") no-repeat center right;
 }

 /* --- Checkbox --- */
 .form-type-checkbox label {
 }

 input.form-checkbox {
 	border: 0;
 }

 .form-type-checkbox .description {
 	margin-left: 0;
 }

 /* --- Radio --- */
 .form-type-radio label {
 }

 input.form-radio {
 	border: none;
 }

 .form-type-radio .description {
 	margin-left: 0;
 }

 /* --- Selects --- */
 select,
 .form-select {
 }

 .node-product-type-product-list .form-type-select,
 .node-product-type-product-grid .form-type-select{
 	display:none;
 }

 /* --- Fieldsets --- */
 fieldset {
 	background: transparent;
 	border: 1px solid #ddd;
 	margin: 10px 0;
 	padding: 20px;
 }

 fieldset fieldset:last-child {
 	margin-bottom: 0;
 }

 *:first-child+html fieldset {
 	background-color: transparent;
 	background-position: 0 10px;
 	padding: 0 10px 10px;
 }

 *:first-child+html fieldset > .description,
 *:first-child+html fieldset .fieldset-wrapper .description {
 	padding-top: 10px;
 }

 legend.fieldset-legend {
 }

 fieldset legend {
 	display: block;
 	font-weight: 400;
 	padding: 0 10px 0 0;
 }

 *:first-child+html fieldset legend,
 *:first-child+html fieldset.collapsed legend {
 	display: inline;
 }

 html.js fieldset.collapsed {
 	background: transparent;
 	padding-top: 5px;
 }

 .field-name-field-phone {
 	clear: both;
 }

 /* --- Misc. --- */
 .hide-label label {
 	background: none;
 	display: none;
 }

 .exposed-filters .form-item {
 	margin-bottom: 10px;
 	margin-top: 0;
 }

 #article-admin-filter ul {
 	padding: .5em 0;
 }

 #edit-operation-wrapper select {
 	margin: .5em;
 }

 div.resizable-textarea textarea {
 	margin-top: 0;
 }

/**
 * Specific Forms
 */

 /* --- Search --- */
 #search-block-form {
 }

 #search-block-form > div {
 }

 #search-block-form .container-inline {
 }

 #edit-search-block-form-1-wrapper {
 }

 #search-block-form label {
 }

 #search-block-form input {
 }

 #search-block-form .form-submit {
 }

 #search-block-form .form-text {
 }

 /* Advanced search form */
 fieldset#edit-advanced fieldset {
 	float: left;
 	margin: 0 10px 10px 0;
 }

 fieldset#edit-advanced fieldset .fieldset-legend {
 	background: none;
 	padding-left: 1em;
 }

 .advanced-search-submit {
 	clear: both;
 }

 .search-advanced .criterion {
 	float: none;
 	margin: 0 5px;
 }

 #edit-keywords-fieldset .form-item:first-child {
 	margin-top: 5px;
 }

 #search-form {
 	margin: 10px 0;
 }

 #search-form > div {
 }

 #search-form .container-inline {
 }

 #search-form label {
 }

 #search-form input {
 }

 #search-form .form-item {
 }

 #search-form .form-submit {
 	vertical-align: middle;
 }

 #search-form input.form-checkbox {
 	float: left;
 	height: 13px;
 	margin: 2px 5px 0 0;
 	width: 13px;
 }

 /* --- User login --- */
 #user-login-form .form-item-name {
 }

 #user-login-form .form-item-pass {
 }

 #user-login-form .form-action {
 }

 #user-login-form ul {
 	margin: 0;
 	padding: 0;
 }

 #user-login ul {
 	margin: 0 0 5px;
 }

 #user-login ul li {
 	margin: 0;
 }

 #block-tb-megamenu-menu-user-menu input.form-text, 
 #user-login input.form-text {
 	width: 97%;
 }

 #user-login-form .item-list li {
 	list-style: none;
 	margin: 0;
 }

 #user-login-form li.openid-link,
 #user-login li.openid-link {
 	background: none;
 	padding-left: 0;
 }

 #user-admin-filter ul li,
 #article-admin-filter ul li {
 	list-style: none;
 }

 /* --- Tips overrides --- */
 .field-type-text-long fieldset {
 	padding: 10px 0;
 }

 .field-type-text-long fieldset .form-item {
 	margin: 0;
 	padding: 0 0 0 15px;
 }

 fieldset .filter-help {
 	padding: 0 15px 5px;
 }

 .filter-guidelines {
 	font-size: .923em;
 	margin: 0;
 	padding: 5px 18px 10px;
 }

 /* --- Special case modules --- */
 #devel-switch-user-form {
 	margin-bottom: 0;
 }

 #autocomplete li {
 	padding: 5px;
 }