#forum {
  width: 100%;
}

.page-forum #page-title {
  margin-bottom: 10px;
}

#forum .name {
  font-weight: 300;
}

#forum .description {
  color: #666;
  font-size: .92em;
}

/* Forums Table */
#forum table {
  width: 100%;
}
#forum tr {
  border-left: 1px solid #e2e2e2;
}  
#forum tr.even td,
#forum tr.odd td {
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}

#forum thead tr {
  background: #333;
}

#forum thead th {
	font-weight: 300;
}

#forum thead th a {
}

#forum thead th.active {
}

#forum td {
}

#forum td .submitted a {
  color: #999;
  font-style: italic;
}

#forum td .submitted a:hover,
#forum td .submitted a:focus {
  color: #e47e6b;
}

#forum td.topics,
#forum td.posts,
#forum td.replies,
#forum td.created,
#forum td.last-reply {
  font-size: .857em;
}

/* Forums Head */
#forum tr td.container {
  background: #f5f5f5;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  padding: .75em 5px .75em 15px;
}

#forum tr td.container a {
  
}

#forum tr td.container .name {
  font-size: 1.15em;
}

#forum tr td.container .description {
	color: #999;
}

/* Forums List */
#forum td.forum {
  width: 60%;
} 

#forum td.forum div.indent .name {
  background-image: url(../images/forum-default.png);
  background-position: left center; /* LTR */
  background-repeat: no-repeat;
  padding-left: 30px; /* LTR */
  font-weight: 300;
}

#forum td.forum .name a {
}

#forum td.forum .description {
}

#forum td.topics {
}

#forum td.posts {
}

/* Topic List */
#forum td.title {
}

#forum td.title a {
}

#forum td.title .submitted {
  font-size: .92em;
}

#forum td.replies {
}

#forum td.last-reply {
}

/* Forums Indent */
#forum div.indent {
  margin-left: 0px;
}

/* Forums Icons */
#forum .icon div {
  background-image: url(../images/forum-icons.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

#forum .icon .topic-status-new {
  background-position: -24px 0;
}

#forum .icon .topic-status-hot {
  background-position: -48px 0;
}

#forum .icon .topic-status-hot-new {
  background-position: -72px 0;
}

#forum .icon .topic-status-sticky {
  background-position: -96px 0;
}

#forum .icon .topic-status-closed {
  background-position: -120px 0;
}

/* Forums Action Links */
.page-forum ul.action-links {
  margin: 0 0 2em;
  padding: 0;
}

.page-forum ul.action-links li {
  margin: 0;
}

.page-forum ul.action-links li a {
	background: #00AEEE;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
	text-transform: uppercase;
    line-height: 40px;
	display: inline-block;
    padding: 3px 20px;
}

.page-forum ul.action-links a:hover,
.page-forum ul.action-links a:active,
.page-forum ul.action-links a:focus {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #00AEEE;
    color: #00AEEE;
    padding: 0 17px;
    text-decoration: none;
}
