/* --- Common Links --- */
a {
	text-decoration: none;
}

/* Any menu block in the menu-bar region */
.nav {
	clear: both;
	margin: 0;
}

.nav li,
.nav .menu li {
	display: inline;
	float: left;
	list-style: none;
}

.nav li a,
.nav .menu li a {
	display: block;
	padding: 0 10px;
	white-space: nowrap;
}

.nav ul,
.nav ul.menu,
.nav ul.menu li {
	margin: 0;
	padding: 0;
}

.region-menu-bar ul.menu {
	float: right;
	margin: 0;
}


.nav .block {
	margin: 0;
	padding: 0;
}

/* --- Default Drupal Menu --- */
.block ul.menu {
}

ul.menu ul {
	font-weight: normal;
}

ul.menu li {
	line-height: 28px;
	list-style-image: none;
	list-style-type: none;
	margin: 0;
}

ul.menu li.expanded,
ul.menu li.collapsed,
ul.menu li.leaf {
}

ul.menu li a {
	color: #666;
	display: block;
	padding: 0;
}

ul.menu li li a {
	background-image: url(../images/plus.png);
	background-position: 0.667em 0.667em;
	background-repeat: no-repeat;
	padding-left: 10px;
}

.block ul.menu li a:visited {
}

ul.menu li a:hover,
ul.menu li a:focus,
ul.menu li a:active {
	color: #fff;
	text-decoration: none;
}

.block ul.menu li li a:hover,
.block ul.menu li li a:focus,
.block ul.menu li li a:active {
  padding-left: 20px !important;
}

/* Expanded Items */
.block ul.menu li.expanded {
}

.block ul.menu li.expanded li.expanded {
}

.block ul.menu li.expanded li.expanded a {
}

ul.menu li.expanded ul {
	margin: 0 0 0 10px;
}

.block ul.menu li.expanded ul ul {
}

/* Collapsed Item */
.block ul.menu li.collapsed {
}

.block ul.menu li li.collapsed a,
.block ul.menu li.expanded li.collapsed a {
}

/* Leaf Items */
.block ul.menu li.leaf a {
}

.block ul.menu li.expanded li.leaf a {
}

/* Active Items */

.block ul.menu li.leaf a.active {
}

.block ul.menu li li a.active {
}

.block ul.menu li li li a.active {
}

/* Misc. Items */
.block ul.menu li.first {
}

.block ul.menu li.last {
	border-bottom: 0;
}

.block ul.menu li.content {
	padding: 0;
}

/* --- Breadcrumb --- */
#block-crumbs-breadcrumb .block-inner{
	padding: 10px 0px;
}


#block-crumbs-breadcrumb h2 {
	display: none;
}

#block-crumbs-breadcrumb ol {
	display: block;
	float: left;
	margin: 0;
	padding: .1em 0;
}

#block-crumbs-breadcrumb ol li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#block-crumbs-breadcrumb ol li span {
	background: url('../images/arrow-breadcrum.png') no-repeat left 50%;
	display: block;
	float: left;
	margin: 0 7px;
	text-indent: -999em;
	width: 6px;
}

#block-crumbs-breadcrumb ol li a {
	display: block;
	float: left;
}

/* --- Seconday Menu (User Menu) --- */
#secondary-menu {
	display: block;
	float: right;
	padding-top: .75em;
	text-align: right;
}

#secondary-menu ul {
	margin: .5em 0 0 0;
}

#secondary-menu ul li {
	display: inline;
	margin: 0;
	padding: 0 0 0 .5em;
}

#secondary-menu ul li a {
}

#secondary-menu ul li a:hover,
#secondary-menu ul li a:active,
#secondary-menu ul li a:focus {
}

/* --- Footer Menu --- */
#footer ul.menu {
	float: left;
	margin: -3px 0 0;
	padding: 0;
}

#footer ul.menu li {
	border-right: 1px dotted #ccc;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

#footer ul.menu li a {
	display: block;
	float: left;
	padding: 3px 10px;
}

#footer ul.menu li a:hover,
#footer ul.menu li a:active,
#footer ul.menu li a:focus {
	color: #333;
	text-decoration: none;
}

#footer ul.menu li a.active {
	background: #c00;
	color: #fff;
}

/* --- Pager --- */
div.pager {
}

ul.pager {
	clear: both;
	margin: 0;
	text-align: center;
}

.item-list ul.pager li {
	margin: 0;
}

ul.pager li {
	background-image: none;
	display: inline;
	float: left;
	font-size: .92em;
	font-weight: bold;
	line-height: normal;
	list-style-type: none;
	margin: 0 3px !important;
	padding: 0 !important;
}

ul.pager li a,
ul.pager li span {
	display: inline-block;
	padding: 10px !important;
}

ul.pager li a {
	background: #F7F7F7;
	color: #313131;
	font-size: 100%;
	font-weight: 500;
}

ul.pager li a:visited {
}

ul.pager li a:hover,
ul.pager li a:active,
ul.pager li a:focus {
	background: #fff;
	border: 3px solid #00AEEE;
	color: #00AEEE;
	padding: 7px !important;
	text-decoration: none;
}

ul.pager li a.active {
}

ul.pager li.pager-item {
}

ul.pager li.pager-item  a{
	padding: 10px 20px !important;
}

ul.pager li.pager-item a:hover,
ul.pager li.pager-item a:active,
ul.pager li.pager-item a:focus {
	padding: 7px 17px !important;
}

ul.pager li.first {
}

ul.pager li.last {
}

ul.pager li.pager-current {
	background: #00AEEE;
	color: #fff;
	padding: 10px  20px !important;
}

ul.pager li.pager-current span {
	background: #c00;
	color: #fff;
}

ul.pager li.pager-first {
}

ul.pager li.pager-previous {
}

ul.pager li.pager-next {
}

ul.pager li.pager-last {
}

/* Pager List */
ul.pager-list {
}

/* Pager Links */
ul.pager-links {
	margin-top: 5px;
}

/* --- Items List --- */
.item-list ul {
	margin: 0;
	padding: 0;
}

.item-list ul li {
/*	background: url(../images/bullet.png) no-repeat 5px 9px;*/
	list-style: none;
	margin: 0;
	padding: 3px 0 3px 15px;
}



.item-list ul li a {
}

.item-list ul li a:hover,
.item-list ul li a:active,
.item-list ul li a:focus {
}

/* --- Links --- */
.links a {
}

ul.links {
}

ul.links li {
}

ul.links li a {
}

/* --- Action Links --- */
ul.action-links {
	list-style: none;
	margin: 5px;
	padding: 0.5em 1em;
}

ul.action-links li {
	display: inline-block;
	margin-left: 10px;
}

ul.action-links li a {
	background: url(../images/plus.png) no-repeat left center;
	margin: 0 10px 0 0;
	padding-left: 15px;
}

/* --- More Links --- */
.more-link {
}

.more-link a {
}

/* SUPERFISH
----------------------------------------------------*/
.sf-menu {
}

.sf-menu a {
	padding: .5em 1em;
	text-decoration: none;
}

.sf-menu > li > a {
}

.sf-menu li {
	background: transparent;
}

.sf-menu li li {
}

.sf-menu li li li {
}

.sf-menu li li li li {
}

.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active {
	outline: 0;
}

/* --- Supperfish --- */
.block-superfish .block-inner,
.block-superfish .block-inner .block-content {
	margin: 0;
	padding: 0;
}

.block-superfish ul,
.block-superfish ul ul,
.block-superfish ul ul ul,
.block-superfish ul ul ul ul,
.block-superfish li {
	margin: 0;
	padding: 0;
}

.sf-vertical,
.sf-vertical li {
	width: 100%;
}

.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
	left: 100%; /* match ul width */
	margin: 0;
	padding: 0;
	top: 0;
}



.sf-shadow ul {
	background: 0;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-right-radius: 0;
}




/**
 * Tabs
 */

/* --- System Tabs --- */
ul.primary {
	border-bottom-color: #ddd;
	line-height: normal;
	margin: 0 0 1em;
	padding: 0 0 5px 10px;
}

ul.primary li {
	margin: 0;
}

ul.primary li a {
	background-color: #ddd;
	border: 1px solid #ddd;
	color: #7b7b7b;
	margin-right: .08em;
	padding: 5px 10px;
}

ul.primary li a:hover {
	background-color: #ddd;
	border-color: #ddd;
	color: #00AEEE;
}

ul.primary li.active a {
	background-color: #fff;
	border-bottom-color: #fff;
	border-color: #ddd;
	color: #00AEEE;
}

.local-tasks ul.primary li a:hover {
	background-color: transparent;
	border-color: #ddd;
	color: #00AEEE;
}

.local-tasks ul.primary li.active a {
	background-color: #fff;
	border-bottom-color: #ccc;
}

ul.secondary {
	border-bottom: 1px solid #ccc;
	margin: 1em 0 0;
	padding: 0 .3em 1em;
}

ul.secondary li {
	border-right: 0;
	list-style: none;
	padding: 0 2em 0 0;
}

ul.secondary li a:hover,
ul.secondary li a.active {
	border-bottom: none;
	text-decoration: underline;
}

/**
 * Misc.
 */

#tasks {
	margin-bottom: 1em;
}

/* Skip Navigation */
#skip-link {
}

#skip-link a,
#skip-link a:visited {
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
}

/* Back To Top */
a.btn-btt {
	background: url('../images/backtotop.png') no-repeat 0 0;
	bottom: 20px;
	color: #7b7b7b;
	display: none;
	height: 51px;
	line-height: normal;
	padding: 0;
	position: absolute;
	right: 80px;
	text-indent: -999em;
	width: 51px;
	z-index: 1;
}

a.btn-btt:hover,
a.btn-btt:active,
a.btn-btt:focus {
	background-position: 0 -51px;
	color: #fff;
	text-decoration: none;
}

/* Contextual Links */
.contextual-links-wrapper ul {
}

.contextual-links-wrapper ul li {
	background-image: none;
}

/* Feed Icon */
a.feed-icon {
	display: none;
	float: right;
	margin: 10px 10px 0 0;
}

.front a.feed-icon {
	display: none;
}

a.feed-icon img {
	margin: 0;
	padding: 0;
}

/* Responsive menu*/
.responsive-menu-button {
  display: none;
  background: url("../images/bg-explain-menu.png") no-repeat 0 0;
  float: right;
  height: 26px;
  margin: 0;
  padding: 0;
  width: 26px;
}

.responsive-menu-button:hover,
.responsive-menu-button:active,
.responsive-menu-button:focus {
  background: url("../images/bg-explain-menu.png") no-repeat 0 -24px;
}

#topbar-wrapper ul li{
    display: inline-block;
    list-style: none;
}