body,
html {
  width: 100%;
}

body {
  overflow-x: hidden;
}

.wrapper {
}

.wrapper .container {
}

/* Grid Gutter */
.grid {
}

.grid-inner {
    padding: 0 10px;
}

.grid .grid-inner {
}

.region-content .block {
}

.sidebar .block {
    margin: 0 0 40px 0;
}

/**
 * Main Containner
 */
 #main-wrapper {
    position: static;
}

/* NO MARGINS IN HOME PAGE */
.front #main-wrapper {
    margin: 0;
}

#main-wrapper .container {
    padding: 0 0 1em 0;
}

.page-user #main-wrapper .container {
    padding: 20px 0;
}

.front #main-wrapper .container {
    padding-bottom: 0;
}

#main-wrapper .container-inner {
}

/**
 * Header
 */

 ul.language-switcher-locale-url {
    margin: 0;
}

#header-wrapper #topbar-wrapper .topbar-user-menu a,
#block-menu-menu-user-menu .menu > li.leaf,
ul.language-switcher-locale-url > li > a {
    height: 30px;
    padding: 0;
    line-height: 30px;
    z-index: 0;
}

#header-wrapper {
    background: #fbfbfb;
    left: 0;
    min-height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
#header-wrapper.sticky-bar {
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
/*.logged-in #header-wrapper{
  top: 30px;
}
*/

#header-wrapper #topbar-wrapper{
    /*background-color: #892027;*/
    border-top: 5px solid #892027;
    border-bottom:2px solid #eaeaea;
    padding:10px 0;
    height: 30px;
}

.page-checkout #header-wrapper #topbar-wrapper {
	display:none;
}

.logged-in.toolbar-drawer #header-wrapper{
    top: 65px;
}

#header-wrapper .container {
    padding: 0;
}

#header {
    clear: both;
    position: relative;
}

/* Logo & Site name */
#logo {
    float: left;
    margin: 0 0 0 0;
}

#name-and-slogan {
    float: left;
    line-height: 1.2;
}

.site-name {
    font-size: 5em;
    margin: 0;
}

.site-name a {
    color: #c00;
    text-decoration: none;
}

.site-name a:visited {
}

.site-name a:hover,
.site-name a:focus,
.site-name a:active {
    color: #c00;
    text-decoration: none;
}

.site-slogan {
    background: #ddd;
    color: #666;
    font-size: 1.286em;
    font-weight: bold;
    margin: 0.188em 0 0;
    padding: 5px;
    text-align: center;
}

/* Region */
.region-menu-bar {
    float: right;
    min-height: 80px;
}

/**
 * Main Navigation
 */
 #menu-bar-wrapper {
    clear: none;
    float: left;
    margin: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 0; /*499;*/
}

#menu-bar-wrapper .menu-bar {
    position: relative;
}

#menu-bar-wrapper .region-menu-bar {
}

/* Region */
.region-menu-bar {
}

/**
 * Main Content
 */
 #main-content {
    position: static;
}

#main-content .grid-inner {
    padding: 10px 20px 20px 10px;
}

.front #main-content .grid-inner {
    padding: 0;
}

#main-content .region-content {
}

#main-content .region-content #block-system-main {
}

#main-content .region-content #block-system-main .block-inner {
    padding: 0;
}

#main-content .region-content #block-system-main .block-content {
    padding: 0;
}

/* Content on Front-page */
body.front #main-content .region-content {
}

/* Content on other pages */
body.not-front #main-content .region-content {
}

/* Page Title */
#main-title-outer {
   /* background: #d46444;
    color: #fff;
    font-weight: 100;*/
}
#main-title-outer .container {
    padding: 0 !important;
}
#page-title {
    margin: 0 10px 10px 10px;
    padding: 0;
    text-transform: uppercase;*/
}

.page-product-category #page-title{
    display: none;
}

#main-title-outer .container{
    padding: 0;
}

.in-maintenance #page-title {
    padding: 10px;
}

/**
 * Sidebars
 */
 .sidebar {
 }

 .region-sidebar-first {
 }

 .region-sidebar-second {
 }

/**
 * Panels
 */
 .panel {
 }

 .panel .container {
    padding: 40px 0;
}

/* --- First Panel --- */
#panel-first-wrapper {
}

#panel-first-wrapper .grid-inner{
    padding: 0 10px;
}

#panel-first-wrapper .grid-inner2{
    border-bottom: 1px solid #e5e5e5;
    float: left;
    padding: 0 0 40px 0;
}

#panel-first-wrapper .panel-first-1{
    margin: 0 0 0 -10px;
}

#panel-first-wrapper .panel-first-3{
    margin: 0 -10px 0 0;
}

/* --- Second Panel --- */
#panel-second-wrapper {
}

#panel-second-wrapper .container{
}

.front #panel-second-wrapper .grid-inner{
    padding: 0 10px;
}

#panel-second-wrapper .grid-inner2{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    float: left;
    padding: 40px 0;
}

#panel-second-wrapper .panel-column {
    width: 50%;
}

#panel-second-wrapper .panel-second-1 .grid-inner{
    border-top: 0;
    margin: 0;
    padding: 0 10px 0 0;
}

#panel-second-wrapper .panel-second-2 .grid-inner{
    border-top: 0;
    margin: 0;
    padding: 0 0 0 10px;
}

/* --- Third Panel --- */
#panel-third-wrapper {
}

#panel-third-wrapper .grid-inner{
    padding: 0 10px;
}

#panel-third-wrapper .grid-inner2{
    border-top: 1px solid #e5e5e5;
    float: left;
    padding: 40px 0;
}

#panel-third-wrapper .panel-column {
    width: 50%;
}

#panel-third-wrapper .panel-third-1 .grid-inner{
    border-top: 0;
    margin: 0;
    padding: 0 10px 0 0;
}

#panel-third-wrapper .panel-third-2 .grid-inner{
    border-top: 0;
    margin: 0;
    padding: 0 0 0 10px;
}






/*mass top wrapper*/
#mass-top-wrapper .grid-inner{
    padding: 0;
}

#mass-top-wrapper .grid-inner .grid-inner{
    padding: 0 10px;
}

#mass-top-wrapper .grid-inner2{
    margin: 0;
    padding: 40px 0;
}

#mass-top-wrapper  .block-inner {
    padding: 0;
}


/*  PAGE MARGIN  */

#page {
    padding: 160px 0 0 0;
}

/**
 * Slideshow
 */
 #slideshow-wrapper {
    min-height: 300px;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
#slideshow-wrapper .views-slideshow-controls-top {
    display: none;
}
#slideshow-wrapper:hover .views-slideshow-controls-top {
    display: block;
}

#slideshow-wrapper img {
    height: auto;
}
#slideshow-wrapper .views_slideshow_cycle_main, #slideshow-wrapper .container { width: 100%; }
#slideshow-wrapper .grid-inner {padding-left: 0; padding-right: 0;}
#slideshow-wrapper .views_slideshow_cycle_main .views-slideshow-cycle-main-frame { width: 100% !important; height: auto; }
#slideshow-wrapper .views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row { width: 100% !important; height: auto; border-bottom:5px solid #892027 }
#slideshow-wrapper .views_slideshow_cycle_main .field-content { max-width: 100%; width: 100%; }
#slideshow-wrapper .views_slideshow_cycle_main .field-content img { max-width: 100%; width: 100%; height: auto; margin: 0; padding: 0; }
#views_slideshow_cycle_main_demo_content_slideshow-block_2 .views-slideshow-cycle-main-frame-row-item { width: 100% !important; }


/*
#slideshow-wrapper.style-1 {
        background: url('../images/bg-slideshow.jpg') top center no-repeat;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
}
#slideshow-wrapper.style-2 {
        background: url('../images/bg-slideshow2.jpg') top center no-repeat;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
}
#slideshow-wrapper.style-3 {
        background: url('../images/bg-slideshow3.jpg') top center no-repeat;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        }*/

        .page-newsletter .form-item-email input{
            width: 305px;
        }

/**
 * Footer
 */



 #panel-footer-wrapper {
    background: #000;
}

#footer-wrapper {
    background: #4f1217;
    color: #892027;
}

#footer-wrapper a{
    color: #892027;
}

.page-checkout #footer-wrapper {
  background: none;
}

#footer-wrapper p{
    font-size: 95%;
    margin: 0;
}

.payment-getway {
    background: url('../images/bg-payment.png') top left no-repeat;
    float: right;
    height: 17px;
    width: 196px;
}

.payment-getway  span {
    display: none;
}

#footer-wrapper .container {
}

#footer-wrapper .grid-inner {
    border-top: 1px solid #222;
    margin: 0 10px;
    padding: 40px 0;
}

#footer {
    position: relative;
}

#footer .tb-copyright {
    float: left;
    padding: 0 10px;
}

/* Region */
.region-footer {
}

/**
 * Other Pages
 */

 /* --- Blogs --- */
 .page-blog {
 }

 /* Blog Action Links */
 .page-blog ul.action-links {
    margin: 0 0 2em;
    padding: 0;
}

.page-blog ul.action-links li {
    margin: 0;
}

.page-blog ul.action-links li a {
    background: #00aeee;
    border: 3px solid #00aeee;
    color: #fff;
    font-size: 14px;
    padding: 3px 20px;
}

.page-blog ul.action-links a:hover,
.page-blog ul.action-links a:active,
.page-blog ul.action-links a:focus {
    background: #fff;
    color: #00aeee;
    text-decoration: none;
}

.node-webform .contact-map iframe {
    width: 100%;
}

/* --- Profiles --- */
.profile {
    margin-top: 0;
}

.profile h3 {
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    padding: 0 0 .5em 0;
}


.profile .user-picture {
    float: none;
}

.profile .field {
}

.profile .field .field-label {
}

.profile .field .field-items {
}

.profile .field .field-items .field-item {
}

/* --- Search Results --- */
.search-results {
    margin: 0;
}

.search-results .search-result {
}

.search-results .title {
    font-size: 1.154em;
}

.search-results .search-snippet-info {
    padding: 0;
}

.search-results p {
    margin: 0;
}

.search-results .search-snippet {
}

.search-results .search-info {
    font-size: .923em;
}

span.search-info-type {
}

span.search-info-user {
}

span.search-info-date {
}

span.search-info-comment {
}

span.search-info-upload {
}

/* --- Poll Page --- */
.poll {
}

/* Vote Form */
.poll .vote-form {
    text-align: left;
}

.poll .vote-form .choices {
    margin: 0;
}

.poll .vote-form .choices .form-item {
}

/* Vote Result */
.poll .text {
}

.poll .bar {
    background: #ddd;
}

.poll .bar .foreground {
    background: #333;
}

.poll .percent {
    color: #7b7b7b;
    font-size: 0.92em;
}

.poll .total {
}

/* --- Feed Aggregator ---*/
/* Feed Items */
#aggregator .feed-item {
    margin-bottom: 40px;
}

#aggregator .feed-item .header {
}

#aggregator .feed-item .header h2 {
}

#aggregator .feed-item .content {
}

#aggregator .feed-item .footer {
}

#aggregator .feed-item .footer .meta {
}

#aggregator .feed-item .footer .categories {
}

/* Feed Lists */
#aggregator .feed {
    margin: 1em 0;
}

#aggregator .feed .summary-title {
}

#aggregator .feed .feed-url {
    margin: .5em 0 0;
}

#aggregator .feed .item-list {
}

#aggregator .feed .item-list ul {
}

#aggregator .feed .item-list ul li {
    background-image: none;
    margin: 1em 0 0;
    padding: 0;
}

#aggregator .feed .source {
    margin: .5em 0 0;
}

#aggregator .feed .time {
}

#aggregator .feed .feed-name {
    margin: 0;
}

#aggregator .feed .links a {
    margin: 0;
}

/* --- Maintenance Page --- */
.maintenance-page #skip-link {
    position: absolute;
    top: -99em;
}

.maintenance-page .footer {
}

.maintenance-page .footer a {
}

/**
 * Misc.
 */

 /* Feed icons */
 .feed-icon img {
    padding: 0 10px;
}

#feed-icons {
}

#feed-icons .feed-icon {
}

#feed-icons .feed-icon img {
}

#feed-icons a.feed-icon {
}


/*
Pull Down */

#pulldown-wrapper {
    position: relative;
    z-index: 1;
}
.pulldown-button-wrapper {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -35px;
    left: 50%;
    display: block;
}

.pulldown-button-wrapper a#header-pull {
    width: 30px;
    height: 60px;
    position: relative;
    display: block;
    margin-left: -25px;
    background: #892027;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    border-radius: 10px; /* CSS3 */
}

.pulldown-button-wrapper a#header-pull span {
    background: url(../images/pull-down.png) center bottom no-repeat;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*
remove div with data */

#node-41 {
    display: none;
}

.page-product-category .form-item-product-id{
	display:none;
}


/** pagina profilo utente **/
.page-user .informazioni-sul-profilo-utente dl li,
.page-user .recent-orders dl li {
    list-style: none;
    border-bottom: 1px #ddd solid;
    padding: 10px 0;
}

.page-user .recent-orders dl li{
    padding: 0;
}
.page-user .recent-orders dl li h4,
.page-user .recent-orders ul.action-links {
    display:none;
}


#pulldown-wrapper h2{
    color: #fbfbfb;
}


.page-taxonomy .view-content .views-row .views-field-title a:active,
.page-taxonomy .view-content .views-row .views-field-title a:focus,
.page-taxonomy .view-content .views-row .views-field-title a:hover,
.page-taxonomy .view-content .views-row .field-name-title-field a:active,
.page-taxonomy .view-content .views-row .field-name-title-field a:focus,
.page-taxonomy .view-content .views-row .field-name-title-field a:hover{
    text-decoration: none;
    opacity: 0.5;
}

