body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.header {
  width: 100%;
  height: 100px;
}
.header img {
  width: 200px;
  position: absolute;
}
.text {
  position: absolute;
  top: 300px;
}
.invoice-header {
  font-size: 14px;
  color: #646464;
  text-align: right;
}
.invoice-footer {
  border-top: 1px solid #646464;
  width: 100%;
  font-size: 14px;
  color: #646464;
  text-align: center;
  padding-top: 4px;
}

.invoice-text {
  margin-top: 50px;
}

.customer .field-label,
.customer .field__label {
  display: none;
}
.customer .field-name-field-customer-lastname,
.customer .field--name-field-customer-lastname {
  display: none;
}

.invoice-number {
  position: absolute;
  top: 350px;
}
.order-id {
  position: absolute;
  top: 370px;
}
.invoice-header-date {
  margin-top: 25px;
  margin-left: 550px;
  text-align: right;
}
.line-items {
  margin-top: 200px;
}
.invoice-footer {
  position: absolute;
  bottom: 0;
}
.view-commerce-line-item-table table {
  width: 100%;
  line-height: 1.2em;
  border-collapse: collapse;
}
.view-commerce-line-item-table thead {
  border-bottom: 2px solid black;
}
.view-commerce-line-item-table th {
  text-align: right;
}
.view-commerce-line-item-table td {
  text-align: right;
  height: 30px;
}
.view-commerce-line-item-table .views-field-commerce-total {
  text-align: right;
  padding-right: 5px;
  width: 200px;
}
.view-commerce-line-item-table .views-field-line-item-title {
  text-align: left;
  width: 300px;
}

.order-total table {
  width: 100%;
  border-top: 2px solid black;
  font-weight: bold;
}
td.component-title {
  text-align: right;
}
td.component-total {
  text-align: right;
  width: 200px;
}

.contextual-links-wrapper {
  display: none;
}

.invoice-canceled .order-total table {
  border: 2px solid black;
  margin-top: 100px;
}
