
.node-product-display .node-title {
	font-size: 24px;
	font-weight: 300;
}

.commerce-add-to-cart .button .wishlist{ 
	height: 35px !important;
	border: 2px solid #892027 !important; 
	background-color: transparent;
	color: #892027;
	width:180px !important;
	padding:0 !important;
}
.commerce-add-to-cart .button .wishlist:hover,
.commerce-add-to-cart .button .wishlist:active,
.commerce-add-to-cart .button .wishlist:focus{
	border: 2px solid #888; 
	background-color:#FFFFFF;
	color: #888;
	padding:0 !important;
	width:180px !important;
	height: 35px !important;
	border: 2px solid #892027 !important;
}

.node-product-display .commerce-add-to-cart .form-item label {
	float: left;
	font-weight: 500;
	margin: 8px 10px 0 0; display:none
}


.node-product-display .form-item-quantity {
	margin: 0 0 10px 0;
	clear:both;
	overflow:hidden;
}

.form-item-quantity label{
	display:none;
}

.node-product-display .form-item-quantity input,
.views-field-edit-quantity input,
.form-item-quantity input{
	text-align: center;
	width: 35px !important;
	float:left;
	margin-top:2px;
}

.views-field-edit-quantity input{
	width: 30px !important;
}

.node-product-display .form-item-quantity .plus,
.node-product-display .form-item-quantity .minus,
.node-prodotto-bundle-full .form-item-quantity .plus,
.node-prodotto-bundle-full .form-item-quantity .minus,
.view-commerce-cart-form .plus,
.view-commerce-cart-form .minus{
	float:left;
	font-size:24px;
	color:#888;
	width:10px;
	cursor:pointer;
	font-weight:300;
}

.node-product-display .form-item-quantity .minus,
.node-prodotto-bundle-full .form-item-quantity .minus{
	margin-right:10px;
}

.node-product-display .form-item-quantity .plus,
.node-prodotto-bundle-full .form-item-quantity .plus{
	margin-left:10px;
}

.node-prodotto-bundle-full .form-item-quantity{
	margin-top:10px;
}

.view-commerce-cart-form .minus{
	margin-right:3px;
}

.view-commerce-cart-form .plus{
	margin-left:1px;
}

.node-prodotto-bundle-full .commerce-add-to-cart span.button input.form-submit
{
	margin-top:50px;
	margin-left:-75px;
}

.node-type-blog-post .node-product-display .button .form-submit {
	margin: 0;

}

.node-product-display   .button .form-submit:focus,
.node-product-display  .button .form-submit:hover{
	text-decoration: none;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

.node-type-product-display  .article{
	margin-bottom: 0;
}

.node-product-type-scheda-prodotto-in-blog > .group-left{
	width: 60% !important;
}

.node-product-type-scheda-prodotto-in-blog > .group-right{
	width: 40% !important;
}

.node-product-type-scheda-prodotto-in-blog > .group-right h2{
	margin-top:40%;
	margin-bottom:-5px;

	clear:both;
	width:100%;
}


.node-product-type-scheda-prodotto-in-blog > .group-right #edit-add-to-wishlist{
	margin-bottom:10px;
}

.node-product-type-scheda-prodotto-in-blog > .group-right .field-type-commerce-product-reference{
	margin-top:30px;
}

.page-node .node-product-type.ds-2col-stacked > .group-right{
	width: 57%;
	background-color:#FFFFFF
}
.page-node .node-product-type.ds-2col-stacked > .group-left{
	width: 40%;
	background-color:#FFFFFF
}

.cloud-zoom-gallery-thumbs {
	float: right;
}
/*message*/
div.messages.commerce-add-to-cart-confirmation {
	background-color: #FFFFFF;
	border-color: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 15px #57595A;
	color: #AEAAA5;
	top: 50%;
	margin-left: -225px !important;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 450px;
	z-index: 201;
	height:250px;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
	color: #2698F2;
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 30px 10px 20px;
	text-align: center;
	text-transform: uppercase;
	width: 55%;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout {
	background-color: #892027;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue {
	background-color: #892027;
}
div.messages.commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-total .field-content {
	color: #e3b49a;
	display: inline;
	float: right;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
	color: #892027;
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 30px 10px 20px;
	text-align: center;
	text-transform: uppercase;
	width: 55%;
}
div.error, table tr.error {
	background-color: #FFFFFF;
}
/*FIELD PRODOTTO*/
.node-product-display .commerce-product-field-field-formato { 
	float:left; 
	border:1px solid #eaeaea; margin:0 0 0 -180px

}
.node-product-display .commerce-product-field-field-formato .field-name-field-formato{ padding:3px 


}
.commerce-cart-add-to-cart-form-4 .form-item-quantity{ 

}

.node-product-display,
.node-prodotto-bundle{
	margin: 0 5px 0 0;
	background:none repeat scroll 0 0 #f7f7f7;
}

.col-3 .node-product-display{
	margin: 0;
}

.node-product-display-product-grid img{
	width:100% !important;
}

.node-product-display-product-grid img:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.node-product-display-product-grid .node-content,
.node-prodotto-bundle-product-grid,
.node-product-display-product-list{
	border: 1px solid #f7f7f7;
}

.node-product-display-product-list{
	margin:0 !important;
}

.node-product-type-product-list .field-name-title-field,
.node-product-display-full .field-name-title-field {
	float:left !important;
}

.node-product-type-product-list .field-name-title-field {
	margin:0.5em 0 0.5em 0 !important;
}
.node-product-type .field-name-title-field,
.view-home-banners-block .field-name-title-field{
	float: none;
	font-size: 20px;
	text-transform:uppercase;
	margin: 0;
	width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.node-product-type-product-grid .field-commerce-price,
.node-product-type-product-grid .field-name-title-field,
.node-product-type-product-grid .total-bundle-price,
.view-home-banners-block .field-name-commerce-price{
	font-size: 20px;
	margin-bottom: 10px;
}

.view-home-banners-block .field-name-title-field {
	margin: 10px 0;
}

.node-prodotto-bundle .field-name-title a{ 
	color: #888;
}

.node-product-type .field-commerce-price,
.node-product-type .total-bundle-price,
.view-home-banners-block .field-name-commerce-price{
	text-align: right;
	font-size:20px;
	text-transform:uppercase;
}

.node-product-type-product-list .field-commerce-price{
	margin:0.5em 0 0.5em 0 !important;
	float:right;
}


.node-product-type-product-grid .field-name-title-field,
.view-home-banners-block .field-name-title-field {
	text-align: center;
	width: 180px;
	margin: 15px auto;
}

.node-product-type-product-grid .field-commerce-price,
.node-product-type-product-grid .total-bundle-price,
.view-home-banners-block .field-name-commerce-price{
	text-align: center;
	font-size: 20px;
}
.node-product-display-scheda-prodotto-in-blog .field-commerce-price,
.node-product-display-scheda-prodotto-in-blog .total-bundle-price{
	text-align: left;
}

.node-product-display-full .field-name-field-product{
	margin-top: 20px;
}


.node-product-type-product-list .field-name-body,
.node-product-type .field-name-body {
	float: left;
}

.commerce-product-extra-field-sku{
	clear:both;
}

.node-product-bundle .commerce-product-extra-field-sku{
	margin-top:10px;
}

.node-product-type-product-list .field-type-text-with-summary{
	min-height:110px;
}

.field-type-text-with-summary{
	min-height:150px;
}

.node-product-display-scheda-prodotto-in-blog{
	margin: 0 5px 0 0;
	background:none repeat scroll 0 0 #fff;
}

.node-product-type-full{    
	background-color:#fff;
	margin-bottom: 25px;
}

.node-produttore-in-prodotti-del-produ h2{
	margin:0 !important;
}

.node-produttore-in-prodotti-del-produ .ds-description{
	padding-bottom:10px;
}

.gallery-thumbs .wrapper, .gallery-slides {
	float: right;
}


span.already {
	width: 176px;
	border: 2px solid #888;
	padding: 6px 0;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 4px 0;
}
