/*
    Document   : custom_class
    Created on : 29-gen-2014, 18.49.54
    Author     : [A2PLab] - Giuseppe Mastroeni <m.giuseppe@a2plab.com>
    Description:
        Purpose of the stylesheet follows.
*/

.clear-right{
    clear: right;
}

.display-block {
  display: block;
}
.margin-auto {
  margin: 0 auto;
}
.no-margin {
  margin: 0;
}
.margin-left-0 {
  margin-left: 0;
}
.margin-right-0 {
  margin-right: 0;
}
.no-padding {
  padding: 0;
}
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
.margin-top-negative-5 {
  margin-top: -5px;
}
.margin-top-negative-50 {
  margin-top: -50%;
}
.margin-top-40 {
  display: ; margin-top: 40px;
}
.margin-top-35 {
  display: ; margin-top: 35px;
}
.margin-top-30 {
  display: ; margin-top: 30px;
}
.margin-top-25 {
  display: ; margin-top: 25px;
}
.margin-top-20 {
  display: ; margin-top: 20px;
}
.margin-top-15 {
  display: ; margin-top: 15px;
}
.margin-top-10 {
  display: ; margin-top: 10px;
}
.margin-top-5 {
  display: ; margin-top: 5px;
}
.margin-right-40 {
  display: ; margin-right: 40px;
}
.margin-right-35 {
  display: ; margin-right: 35px;
}
.margin-right-30 {
  display: ; margin-right: 30px;
}
.margin-right-25 {
  display: ; margin-right: 25px;
}
.margin-right-20 {
  display: ; margin-right: 20px;
}
.margin-right-15 {
  display: ; margin-right: 15px;
}
.margin-right-10 {
  display: ; margin-right: 10px;
}
.margin-right-5 {
  display: ; margin-right: 5px;
}
.margin-bottom-40 {
  display: ; margin-bottom: 40px;
}
.margin-bottom-35 {
  display: ; margin-bottom: 35px;
}
.margin-bottom-30 {
  display: ; margin-bottom: 30px;
}
.margin-bottom-25 {
  display: ; margin-bottom: 25px;
}
.margin-bottom-20 {
  display: ; margin-bottom: 20px;
}
.margin-bottom-15 {
  display: ; margin-bottom: 15px;
}
.margin-bottom-10 {
  display: ; margin-bottom: 10px;
}
.margin-bottom-5 {
  display: ; margin-bottom: 5px;
}
.margin-left-40 {
  display: ; margin-left: 40px;
}
.margin-left-35 {
  display: ; margin-left: 35px;
}
.margin-left-30 {
  display: ; margin-left: 30px;
}
.margin-left-25 {
  display: ; margin-left: 25px;
}
.margin-left-20 {
  display: ; margin-left: 20px;
}
.margin-left-15 {
  display: ; margin-left: 15px;
}
.margin-left-10 {
  display: ; margin-left: 10px;
}
.margin-left-5 {
  display: ; margin-left: 5px;
}
.padding-top-40 {
  display: ; padding-top: 40px;
}
.padding-top-35 {
  display: ; padding-top: 35px;
}
.padding-top-30 {
  display: ; padding-top: 30px;
}
.padding-top-25 {
  display: ; padding-top: 25px;
}
.padding-top-20 {
  display: ; padding-top: 20px;
}
.padding-top-15 {
  display: ; padding-top: 15px;
}
.padding-top-10 {
  display: ; padding-top: 10px;
}
.padding-top-5 {
  display: ; padding-top: 5px;
}
.padding-right-40 {
  display: ; padding-right: 40px;
}
.padding-right-35 {
  display: ; padding-right: 35px;
}
.padding-right-30 {
  display: ; padding-right: 30px;
}
.padding-right-25 {
  display: ; padding-right: 25px;
}
.padding-right-20 {
  display: ; padding-right: 20px;
}
.padding-right-15 {
  display: ; padding-right: 15px;
}
.padding-right-10 {
  display: ; padding-right: 10px;
}
.padding-right-5 {
  display: ; padding-right: 5px;
}
.padding-bottom-40 {
  display: ; padding-bottom: 40px;
}
.padding-bottom-35 {
  display: ; padding-bottom: 35px;
}
.padding-bottom-30 {
  display: ; padding-bottom: 30px;
}
.padding-bottom-25 {
  display: ; padding-bottom: 25px;
}
.padding-bottom-20 {
  display: ; padding-bottom: 20px;
}
.padding-bottom-15 {
  display: ; padding-bottom: 15px;
}
.padding-bottom-10 {
  display: ; padding-bottom: 10px;
}
.padding-bottom-5 {
  display: ; padding-bottom: 5px;
}
.padding-left-40 {
  display: ; padding-left: 40px;
}
.padding-left-35 {
  display: ; padding-left: 35px;
}
.padding-left-30 {
  display: ; padding-left: 30px;
}
.padding-left-25 {
  display: ; padding-left: 25px;
}
.padding-left-20 {
  display: ; padding-left: 20px;
}
.padding-left-15 {
  display: ; padding-left: 15px;
}
.padding-left-10 {
  display: ; padding-left: 10px;
}
.padding-left-5 {
  display: ; padding-left: 5px;
}
.padding-40 {
  display: ; padding: 40px;
}
.padding-35 {
  display: ; padding: 35px;
}
.padding-30 {
  display: ; padding: 30px;
}
.padding-25 {
  display: ; padding: 25px;
}
.padding-20 {
  display: ; padding: 20px;
}
.padding-15 {
  display: ; padding: 15px;
}
.padding-10 {
  display: ; padding: 10px;
}
.padding-5 {
  display: ; padding: 5px;
}
.cursor-pointer {
  cursor: pointer;
}
.no-border-radius {
  border-radius: 0 !important;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.display-inline {
  display: inline-block;
}
.display-none {
  display: none;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.clear-right {
  clear: right;
}
.clear-left {
  clear: left;
}
.clear-both {
  clear: both;
}
.on-top-layer {
  z-index: 1;
}
p a {
  position: relative;
  margin: -0.5em;
  padding: .5em;
}
.text-light {
  font-weight: 100;
}
.text-normal {
  font-weight: 300;
}
.text-white {
  color: white;
}
.text-grey {
  color: #ccc;
}
.text-black {
  color: #34383c;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-underline {
  text-decoration: underline;
}
.text-decoration-none {
  text-decoration: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}