/**
* Common View Elements
* */

.views-col:hover .views-field-title a {
    color: #e3b49a;
}

.cols-1 .views-col{
    width: 100%;
}

.cols-2 .views-col{
    width: 50%;
}

.cols-3 .views-col{
    width: 33.33%;
}

.cols-4 .views-col{
    width: 22%;
}

.cols-5 .views-col{
    width: 20%;
}

.cols-6 .views-col{
    width: 16.66%;
}

/**
 * * Supported Views Formats
 * */
 /* --- Slideshow --- */

 #slideshow-wrapper  .region-slideshow{
    position: relative;
}

#slideshow-wrapper  .views-slideshow-cycle-main-frame,
#slideshow-wrapper  .views_slideshow_slide{
    width: 100% !important;
}


#slideshow-wrapper .views_slideshow_cycle_main .views-field-nothing { 
    position:absolute;
    width:100%;
}

#slideshow-wrapper .views_slideshow_cycle_main .views-field-nothing > .field-content {
    width:100%;
    margin: auto;
    display:block;
    height: 400px;
}

#slideshow-wrapper .region-slideshow .views-fields-outer-wrapper{
    font-size: 16px;
    top: 80px;
    position: absolute;
    color: #fff;
    width: 600px;
}

#slideshow-wrapper .region-slideshow .views-fields-outer-wrapper.slideshow-align-left{
    right:50%;
    text-align:right;
}

#slideshow-wrapper .region-slideshow .views-fields-outer-wrapper.slideshow-align-right{
    left:50%;    
}


#slideshow-wrapper  .region-slideshow .views-field-title{
    font-size: 32px;
    line-height: 1.2;
    margin:0 0 15px 0;
    font-family: 'Cinzel', serif;  
    text-shadow: 3px 3px 3px #333;
}


#slideshow-wrapper  .region-slideshow  .views-field-view-node a{
    margin-top:10px;
    border:2px solid  #892027;
    color: #892027;
    background-color: #892027;
    padding: 4px 10px;
    display:block;
    color: #e3b49a;
    font-size: 14px;
    /*-moz-transition: all 0.2s linear;
 *     -ms-transition: all 0.2s linear;
 *         -o-transition: all 0.2s linear;
 *             transition: all 0.2s linear;
 *                 -webkit-transition: all 0.2s linear;*/

}

#slideshow-wrapper .slideshow-align-right .views-field-view-node a{
    float:left;
}

#slideshow-wrapper .slideshow-align-left .views-field-view-node a{
    float:right;
}

#slideshow-wrapper  .region-slideshow  .views-field-view-node a:hover,
#slideshow-wrapper  .region-slideshow  .views-field-view-node a:focus,
#slideshow-wrapper  .region-slideshow  .views-field-view-node a:active{
    background: #fff;
    color: #892027;
    text-decoration: none;
   /* -moz-transition: all 0.2s linear;
 *     -ms-transition: all 0.2s linear;
 *         -o-transition: all 0.2s linear;
 *             transition: all 0.2s linear;
 *                 -webkit-transition: all 0.2s linear;*/
}

#slideshow-wrapper  .views-field-field-slideshow-image{
    float: right;
    margin: 50px 0 0 0;
}

#slideshow-wrapper  .views-slideshow-controls-bottom{
    bottom: 40px;
    display: block !important;
    height: 5px;
    position: absolute;
    width: 100%;
    z-index: 66;
}

#slideshow-wrapper  .views-slideshow-controls-bottom .widget_pager{
    margin: 0 auto;
    width: 150px;
}

#slideshow-wrapper  .views-slideshow-controls-bottom .views_slideshow_pager_field_item{
    background: #fff;
    cursor: pointer;
    float: left;
    height: 5px;
    margin: 0 5px 0 0;
    width: 30%;
}

#slideshow-wrapper  .views-slideshow-controls-bottom .views_slideshow_pager_field_item.active{
    background: #892027;
}

#slideshow-wrapper  .views-slideshow-controls-bottom .views-field-nid{
    display: none;
}

#slideshow-wrapper .views-slideshow-controls-top {
    width: 100%;

}

#slideshow-wrapper .views-slideshow-controls-text-previous {
    position: absolute;
    left: -150px;
    top: 225px;
    width: 44px;
    height: 44px;
    text-indent: -999em;
    background: url('../images/bg-next-pre-slide.png') no-repeat 0 0;
}
#slideshow-wrapper .views-slideshow-controls-text-next {
    position: absolute;
    right: -150px;
    top: 225px;
    width: 44px;
    height: 44px;
    text-indent: -999em;
    background: url('../images/bg-next-pre-slide.png') no-repeat 0 -44px;
}
#slideshow-wrapper .views-slideshow-controls-text-previous:active,
#slideshow-wrapper .views-slideshow-controls-text-previous:focus,
#slideshow-wrapper .views-slideshow-controls-text-previous:hover{
    background: url('../images/bg-next-pre-slide-hover.png') no-repeat 0 -44px;
}

#slideshow-wrapper .views-slideshow-controls-text-next:active,
#slideshow-wrapper .views-slideshow-controls-text-next:focus,
#slideshow-wrapper .views-slideshow-controls-text-next:hover{
    background: url('../images/bg-next-pre-slide-hover.png') no-repeat 0 0;
}
#slideshow-wrapper .views-slideshow-controls-text-pause{
    display: none;
}
#views_slideshow_cycle_main_partner_in_homepage-block .views-row {
    float: left;
    margin-left: 20px;
}
#views_slideshow_cycle_main_prodotti_correlati-block .views-row {
    float: left;
    padding-right:40px;
}

#views_slideshow_cycle_teaser_section_ultimi_prodotti_visti-block .views-row, .views-slideshow-cycle-main-frame-row-item {
    float: left;
    padding-right:40px;
}

#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-cycle-main-frame-row-item,
#block-views-popular-block .views-slideshow-cycle-main-frame-row-item
{
    float:left;
    width:205px;
    padding-right:0;
    background-color:#fff;
}

#block-views-3e6a0a98f0961b169027fd765f11361c .group-left,
#block-views-popular-block  .group-left{
    width:60% !important;
}

#block-views-3e6a0a98f0961b169027fd765f11361c .group-right,
#block-views-popular-block  .group-right{
    width:40% !important;
}

.views-slideshow-cycle-main-frame-row-item .field-name-field-image img{
    float: none;

}
.views-slideshow-cycle-main-frame-row-item .views-field-title a{
    float:none;

}
.views-slideshow-controls-bottom ul {
    list-style-type:none

}


/* HOME */
.view-home-caratterstiche-block, .view-home-banners-block, .view-categorie-in-evidenza{
    padding-bottom: 20px;    
}

.view-home-caratterstiche-block .group-right {
  width: 70%;
}

.view-home-caratterstiche-block .group-left {
  width: 30%;
}

#mass-bottom-wrapper .view-home-caratterstiche-block, #mass-bottom-wrapper .view-home-banners-block, #mass-bottom-wrapper .view-categorie-in-evidenza-block {
    padding-bottom: 0;
    background: none;
}
.view-home-banners-block .field-name-field-image{
    padding-bottom: 0;
    background: none;
}

.view-home-banners-block .view-header, 
.view-categorie-in-evidenza .view-header,
.view-categorie-in-evidenza .view-header,
.view-home-caratterstiche-block .view-header
{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: url(../images/middle-line.jpg) center center repeat-x;
}


#block-views-partner-in-homepage-block{
    margin-bottom: 20px;
    text-align: center;

}

#block-views-partner-in-homepage-block>.block-inner{
    background: url(../images/middle-line.jpg) 0 7px repeat-x;
}

.view-categorie-in-evidenza a{ 
    color:#888;
}

.view-categorie-in-evidenza h4.field-content{ 
    float:left; 
    text-transform: uppercase;
    font-weight:500;
    color:#888;
    padding:0 0 0 6px;    
}

.view-home-caratterstiche-block h4{
    color:#892027;
    font-weight: normal !important; 
    font-size:18px;     
}

.node-caratteristiche-home h3{
    color:#892027;
    font-weight: normal !important; 
    font-size:18px; 
    text-align:left;
    text-transform:uppercase  
}

.field-type-text-with-summary p{
    /* color:#888; */
    /* font-size:16px; */     
}

.view-home-caratterstiche-block p {
  text-align: center !important;
}

#mass-bottom-wrapper .node-caratteristiche-home p{ 
    text-align: left !important;
}

#block-views-home-banners-block-block h2.block-title, 
.view-home-caratterstiche-block .view-header h2.block-title, 
.view-categorie-in-evidenza .view-header h2,
#block-views-partner-in-homepage-block h2.block-title,  {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold; 
    font-size:18px;
    background: #fff;
    padding-left: 15px;
    padding-right: 15px; 
    color:#888;

}

#block-views-prodotti-correlati-block h2.block-title,
#block-views-popular-block h2.block-title,
#block-views-3e6a0a98f0961b169027fd765f11361c h2.block-title{
 text-transform:uppercase;
 font-size:18px;
 text-align:center;
 font-weight:lighter;
 display:block;
 margin-left:auto;
 margin-right:auto;
 background-color:#FFF;
 padding-top: 25px;
}

#views_slideshow_cycle_teaser_section_popular-block,
#views_slideshow_cycle_main_prodotti_da_categorie_correlate-block{
    width:100% !important;
}

#block-views-3e6a0a98f0961b169027fd765f11361c h2.block-title{
    width:250px;
}

#block-views-popular-block h2.block-title{
    width:250px;
}


#block-views-popular-block .views-slideshow-controls-bottom,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-bottom,
#block-views-partner-in-homepage-block .views-slideshow-controls-bottom{
    display:block;
    background: url(../images/middle-line.jpg) center center repeat-x;
    text-align:center;
    margin-top: 20px;
}

#block-views-dicono-di-noi-block .views_slideshow_controls_text ,
#block-views-popular-block .views_slideshow_controls_text ,
#block-views-3e6a0a98f0961b169027fd765f11361c .views_slideshow_controls_text,
#block-views-partner-in-homepage-block .views_slideshow_controls_text{
    display:inline-block;
}

#views_slideshow_cycle_main_dicono_di_noi-block {
}
#views_slideshow_cycle_teaser_section_dicono_di_noi-block {


}

.view-home-caratterstiche-block .views-field {
    margin: 0 auto;
    width: 75%;
}
#views_slideshow_controls_text_prodotti_correlati-block{ background-color:#0033FF

}

#block-views-dicono-di-noi-block .views-slideshow-controls-text-pause,
#block-views-dicono-di-noi-block .views-slideshow-controls-text-next a,
#block-views-dicono-di-noi-block .views-slideshow-controls-text-previous a,
#block-views-prodotti-correlati-block .views-slideshow-controls-text-pause,
#block-views-prodotti-correlati-block .views-slideshow-controls-text-next a,
#block-views-prodotti-correlati-block .views-slideshow-controls-text-previous a,
#block-views-popular-block .views-slideshow-controls-text-pause,
#block-views-popular-block .views-slideshow-controls-text-next a,
#block-views-popular-block .views-slideshow-controls-text-previous a,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-pause,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-next a,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-previous a,
#block-views-partner-in-homepage-block .views-slideshow-controls-text-pause,
#block-views-partner-in-homepage-block .views-slideshow-controls-text-next a,
#block-views-partner-in-homepage-block .views-slideshow-controls-text-previous a{
    display: none;
}

#block-views-dicono-di-noi-block .views-slideshow-controls-text-next,
#block-views-dicono-di-noi-block .views-slideshow-controls-text-previous,
#block-views-prodotti-correlati-block .views-slideshow-controls-text-next,
#block-views-prodotti-correlati-block .views-slideshow-controls-text-previous,
#block-views-popular-block .views-slideshow-controls-text-next,
#block-views-popular-block .views-slideshow-controls-text-previous,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-next,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-previous,
#block-views-partner-in-homepage-block .views-slideshow-controls-text-next,
#block-views-partner-in-homepage-block .views-slideshow-controls-text-previous{
    display: block;
    height: 24px;
    width: 24px;
}

#block-views-dicono-di-noi-block .views-slideshow-controls-text-previous,
#block-views-prodotti-correlati-block .views-slideshow-controls-text-previous,
#block-views-popular-block .views-slideshow-controls-text-previous,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-previous,
#block-views-partner-in-homepage-block .views-slideshow-controls-text-previous
{
    background: url('../images/bg-vpre-scroll.png') no-repeat 0 0;
    float:left;
    /*position: absolute;
 *     right: 910px;    
 *         -moz-transition: all 0.2s linear;
 *             -ms-transition: all 0.2s linear;
 *                 -o-transition: all 0.2s linear;
 *                     transition: all 0.2s linear;
 *                         -webkit-transition: all 0.2s linear;*/
}

#block-views-partner-in-homepage-block .views-slideshow-controls-text-previous {
  background: url('../images/bg-vpre-scroll.png') no-repeat 0 0;
}

#block-views-dicono-di-noi-block .views-slideshow-controls-text-previous:active,
#block-views-prodotti-correlati-block .views-slideshow-controls-text-previous:active,
#block-views-prodotti-correlati-block .views-slideshow-controls-text-previous:focus,
#block-views-prodotti-correlati-block .views-slideshow-controls-text-previous:hover,
#block-views-popular-block .views-slideshow-controls-text-previous:active,
#block-views-popular-block .views-slideshow-controls-text-previous:active,
#block-views-popular-block .views-slideshow-controls-text-previous:active,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-previous:active,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-previous:active,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-previous:active,
#block-views-partner-in-homepage-block .views-slideshow-controls-text-previous:active,
#block-views-partner-in-homepage-block .views-slideshow-controls-text-previous:active,
#block-views-partner-in-homepage-block .views-slideshow-controls-text-previous:active{
    background: url('../images/bg-vpre-scroll.png') no-repeat 24px 0;
    float:left;
    /*-moz-transition: all 0.2s linear;
 *     -ms-transition: all 0.2s linear;
 *         -o-transition: all 0.2s linear;
 *             transition: all 0.2s linear;
 *                 -webkit-transition: all 0.2s linear;*/
}

#block-views-dicono-di-noi-block .views-slideshow-controls-text-next,
#block-views-prodotti-correlati-block .views-slideshow-controls-text-next,
#block-views-popular-block .views-slideshow-controls-text-next,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-next,
#block-views-partner-in-homepage-block .views-slideshow-controls-text-next{
    background: url('../images/bg-vnext-scroll.png') no-repeat -24px 0;
    /*position: absolute;
    *     left:24px;*/
    float:left;
    /*right: 880px;   
 *     -moz-transition: all 0.2s linear;
 *         -ms-transition: all 0.2s linear;
 *             -o-transition: all 0.2s linear;
 *                 transition: all 0.2s linear;
 *                     -webkit-transition: all 0.2s linear;*/
}

#block-views-partner-in-homepage-block .views-slideshow-controls-text-next{
  background: url('../images/bg-vnext-scroll.png') no-repeat -24px 0;
}

#block-views-dicono-di-noi-block .views-slideshow-controls-text-next:active,
#block-views-dicono-di-noi-block .views-slideshow-controls-text-next:focus,
#block-views-dicono-di-noi-block .views-slideshow-controls-text-next:hover,
#block-views-prodotti-correlati-block .views-slideshow-controls-text-next:active,
#block-views-prodotti-correlati-block .views-slideshow-controls-text-next:focus,
#block-views-prodotti-correlati-block .views-slideshow-controls-text-next:hover,
#block-views-popular-block .views-slideshow-controls-text-next:active,
#block-views-popular-block .views-slideshow-controls-text-next:focus,
#block-views-popular-block .views-slideshow-controls-text-next:hover,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-next:active,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-next:focus,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-next:hover,
#block-views-partner-in-homepage-block .views-slideshow-controls-text-next:active,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-next:focus,
#block-views-3e6a0a98f0961b169027fd765f11361c .views-slideshow-controls-text-next:hover{
   /* background: url('../images/bg-vnext-scroll.png') no-repeat 0 0;
    -moz-transition: all 0.2s linear;
 *     -ms-transition: all 0.2s linear;
 *         -o-transition: all 0.2s linear;
 *             transition: all 0.2s linear;
 *                 -webkit-transition: all 0.2s linear;*/
}

#views_slideshow_controls_text_dicono_di_noi-block {
  width: 100%;
}

#block-views-dicono-di-noi-block .views-slideshow-controls-text-next {
  float: right;
}

#block-views-dicono-di-noi-block .views-slideshow-controls-text-previous {
  float: left;
}

/*jcarousel*/
.jcarousel-skin-default .jcarousel-clip-vertical {
    height: 430px;
}



.jcarousel-skin-default .jcarousel-container-vertical{
    height: 430px;
    margin: auto;
    padding: 0;
    width: 100%;
}

.jcarousel-skin-default .jcarousel-item{
    background: #fff;
    border: 1px solid #e5e5e5;
    height: 120px !important;
    list-style: none;
    overflow: hidden;
    padding: 2px;
    text-align: left;
    width: 98%;
}

.jcarousel-skin-default .jcarousel-item:active,
.jcarousel-skin-default .jcarousel-item:focus,
.jcarousel-skin-default .jcarousel-item:hover{
    background: #fff;
    border: 3px solid #e3b49a;
    padding: 0;
}

.jcarousel-skin-default .jcarousel-item-vertical{
    margin: 10px 0;
}

.jcarousel .views-field-field-product-image{
    float: left;
    margin: 20px;
}

.jcarousel .views-field-title{
    margin: 20px 20px 5px 0;
}

.jcarousel .views-field-title a{
    color: #333;
}

.jcarousel .views-field-title a:active,
.jcarousel .views-field-title a:focus,
.jcarousel .views-field-title a:hover{
    color: #2dafef;
    text-decoration: none;
}

.jcarousel .views-field-field-rating{
    display: inline-block;
    height: 16px;
    margin: 0 0 5px 0;
}

.jcarousel .views-field-commerce-price{
    color: #e3b49a;
    font-size: 14px;
}

.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
    display: block;
    height: 24px;
    width: 24px;
}
/*
.jcarousel-skin-default .jcarousel-prev-vertical{
    background: url('../images/bg-pre-scroll.png') no-repeat 0 0;
    display: block !important;
    left: auto;
    position: absolute;
    right: 35px;
    top: -40px;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.jcarousel-skin-default .jcarousel-prev-vertical:active,
.jcarousel-skin-default .jcarousel-prev-vertical:focus,
.jcarousel-skin-default .jcarousel-prev-vertical:hover{
    background: url('../images/bg-pre-scroll.png') no-repeat 0 -24px;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.jcarousel-skin-default .jcarousel-next-vertical{
    background: url('../images/bg-next-scroll.png') no-repeat 0 -24px;
    bottom: auto;
    left: auto;
    position: absolute;
    right: 0;
    top: -40px;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.jcarousel-skin-default .jcarousel-next-vertical:active,
.jcarousel-skin-default .jcarousel-next-vertical:focus,
.jcarousel-skin-default .jcarousel-next-vertical:hover{
    background: url('../images/bg-next-scroll.png') no-repeat 0 0;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}
*/

#sidebar-first-wrapper .jcarousel-skin-default .jcarousel-prev-vertical,
#sidebar-first-wrapper .jcarousel-skin-default .jcarousel-next-vertical{
    top: -60px;
}

#sidebar-first-wrapper  .jcarousel-skin-default .jcarousel-item {
    border: 0;
    padding: 0;
}

#sidebar-first-wrapper .jcarousel-skin-default .jcarousel-item:active,
#sidebar-first-wrapper .jcarousel-skin-default .jcarousel-item:focus,
#sidebar-first-wrapper .jcarousel-skin-default .jcarousel-item:hover {
    background: 0;
    border: 0;
    padding: 0;
}

#sidebar-first-wrapper  .jcarousel .views-field-field-product-image {
    float: right;
    margin: 0 0 0 10px;
}

#sidebar-first-wrapper  .jcarousel .views-field-title,
#sidebar-first-wrapper  .jcarousel .views-field-commerce-price {
    margin: 0;
}

/*Popular Style*/
#panel-second-wrapper .view-popular-slideshow{
    position: relative;
}

#panel-second-wrapper .views-slideshow-controls-top{
    position: absolute;
    right: 0;
    top: -40px;
}

#panel-second-wrapper .views-slideshow-controls-top .views-slideshow-controls-text-pause{
    display: none;
}

#panel-second-wrapper  .views-slideshow-controls-text-next,
#panel-second-wrapper  .views-slideshow-controls-text-previous{
    display: block;
    float: right;
    height: 24px;
    margin: 0 0 0 5px;
    text-indent: -999em;
    width: 24px;
}

#panel-second-wrapper  .views-slideshow-controls-text-previous{
    background: url('../images/bg-vpre-scroll.png') no-repeat 0 0;
    position: absolute;
    right: 35px;
    top: 0;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

#panel-second-wrapper  .views-slideshow-controls-text-previous:active,
#panel-second-wrapper  .views-slideshow-controls-text-previous:focus,
#panel-second-wrapper  .views-slideshow-controls-text-previous:hover{
    background: url('../images/bg-vpre-scroll.png') no-repeat -24px 0;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

#panel-second-wrapper  .views-slideshow-controls-text-next{
    background: url('../images/bg-vnext-scroll.png') no-repeat -24px 0;
    position: absolute;
    right: 0;
    top: 0;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

#panel-second-wrapper  .views-slideshow-controls-text-next:active,
#panel-second-wrapper  .views-slideshow-controls-text-next:focus,
#panel-second-wrapper  .views-slideshow-controls-text-next:hover{
    background: url('../images/bg-vnext-scroll.png') no-repeat 0 0;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

#panel-second-wrapper .views_slideshow_main{
    float: left;
    margin: 10px 0 0 0;
}

#panel-second-wrapper .views_slideshow_main .views-fields-wrapper{
    background: url('../images/bg-popular-style.png') top left repeat;
    bottom: 0;
    color: #fff;
    height: 90px;
    left: 0;
    padding: 20px;
    position: absolute;
}

#panel-second-wrapper .views_slideshow_main .views-field-commerce-price{
    background: url('../images/bg-popular-style-price.png') top left repeat;
    bottom: 130px;
    color: #fff;
    font-size: 18px;
    height: 40px;
    left: 0;
    line-height: 40px;
    padding: 0 20px;
    position: absolute;
    width: auto;
}

#panel-second-wrapper  .views_slideshow_main .views-field-body{
    font-size: 14px;
}

#panel-second-wrapper  .views_slideshow_main .views-field-title{
    font-size: 24px;
    line-height: 34px;
}

#panel-second-wrapper  .views_slideshow_main .views-field-title a{
    color: #fff;
}
#panel-second-wrapper .views_slideshow_main .views-field-title a:active,
#panel-second-wrapper .views_slideshow_main .views-field-title a:focus,
#panel-second-wrapper .views_slideshow_main .views-field-title a:hover{
    opacity: 0.5;
    text-decoration: none;
}

/*view latest news*/
#panel-footer-wrapper .panel-column{
}

#panel-footer-wrapper .panel-column  .views-row{
    border-bottom: 1px solid #222;
    padding: 20px 0;
    width: 100%;
}

#panel-footer-wrapper .panel-column  .row-first{
    padding-top: 5px;
}

#panel-footer-wrapper .panel-column  .row-last{
    border-bottom: 0;
    padding-bottom: 0;
}

#panel-footer-wrapper .panel-column .views-field-field-image{
    float: left;
    margin: 5px 15px 0 0;
}

#panel-footer-wrapper .panel-column .views-field-title{
    font-size: 13px;
    padding-top: 0px;
    margin-bottom: 5px;
}

#panel-footer-wrapper .panel-column .views-field-title a{
    color: #e3b49a;
    text-decoration: none;
}

#panel-footer-wrapper .panel-column .views-field-title a:hover,
#panel-footer-wrapper .panel-column .views-field-title a:focus,
#panel-footer-wrapper .panel-column .views-field-title a:active{
    color: #fff;
    text-decoration: none;
}

#panel-footer-wrapper .panel-column  .views-field-created{
    font-size: 11px;
}



/*Products display*/
.page-taxonomy .view-filters {
    background: #fbfbfb;
    border: 1px solid #eee;
    padding: 10px;
}

.page-taxonomy  .view-filters .views-exposed-widget {
    float: left;
    font-weight: 500;
    line-height: 30px;
    /*width: 25%;*/
}

.page-taxonomy .view-filters .views-widget-sort-order,
.page-taxonomy .view-filters .views-widget-view-as{
    /*width: 19%;*/
}

.page-taxonomy .view-filters .views-submit-button{
    float: right;
    /*width: 10%;*/
}


.page-taxonomy .grid-view {
    background: url('../images/bg-grid-content-product.png') no-repeat 0 0;
    float: left;
    height: 11px;
    margin: 9px 0 0 10px;
    text-indent: -999em;
    width: 11px;
}

.page-taxonomy .grid-view.views-modes-active{
    background: url('../images/bg-grid-content-product.png') no-repeat 0 -11px;
}

.page-taxonomy .list-view {
    background: url('../images/bg-list-view.png') no-repeat 0 0;
    float: left;
    height: 11px;
    margin: 9px 0 0 10px;
    text-indent: -999em;
    width: 11px;
}

.page-taxonomy .list-view.views-modes-active{
    background: url('../images/bg-list-view.png') no-repeat 0 -11px;
}

.page-taxonomy   .view-filters .views-exposed-widget span.button input.form-submit {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #dddddd;
    color: #FFFFFF;
    color: #333;
    cursor: pointer;
    float: right;
    font-weight: 300;
    height: 35px;
    padding: 4px 10px;
}

.page-taxonomy   .view-filters .views-exposed-widget span.button input.form-submit:hover,
.page-taxonomy   .view-filters .views-exposed-widget span.button input.form-submit:focus {
    border-color: #e3b49a;
}


.page-taxonomy   .view-filters .views-exposed-widget .form-item,
.page-taxonomy   .view-filters .views-exposed-widget.form-action {
    margin-bottom: 0;
    margin-top: 0;
}

.page-taxonomy   .view-filters .views-exposed-widget select,
.page-taxonomy   .view-filters .views-exposed-widget .form-select{
    border: 1px solid #e5e5e5;
    margin: 2px 0 0 0;
    padding: 3px;
}

.page-taxonomy   .view-filters .views-exposed-widget label {
    float: left;
    font-weight: 500;
    line-height: 29px;
    margin: 0 10px 0 0;
    /*font-family: 'Cinzel', serif;*/
}

.page-taxonomy   .view-filters form {
    margin: 0;
    padding: 0;
}

.page-taxonomy   .view-content .views-row {
    padding: 5px 0;
}

.page-taxonomy .view-header .view-content .views-row{
    padding: 0;
}

.page-taxonomy .view-content .views-row.views-row-last{
    border-bottom: 0;
}

.page-taxonomy   .view-content .views-row  .views-field-field-product-image,
.page-taxonomy   .view-content .views-row  .field-name-field-images {
    /*float: left;
    *     margin: 0 20px 0 0;*/
}

.page-taxonomy .view-content .views-row .views-field-title,
.page-taxonomy .view-content .views-row .field-name-field-title {
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 5px;
}

.page-taxonomy   .view-content .views-row   .views-field-title a ,
.page-taxonomy   .view-content .views-row   .field-name-title-field a,
.field-name-title-field .field-items .field-item{
  color:#888;
}

.page-taxonomy   .view-content .views-row   .views-field-title a:active ,
.page-taxonomy   .view-content .views-row   .views-field-title a:focus ,
.page-taxonomy   .view-content .views-row   .views-field-title a:hover,
.page-taxonomy   .view-content .views-row   .field-name-title-field a:active ,
.page-taxonomy   .view-content .views-row   .field-name-title-field a:focus ,
.page-taxonomy   .view-content .views-row   .field-name-title-field a:hover {

    color:#888;
    text-decoration: none; 
    opacity:1
}




.page-taxonomy   .view-content .views-row   .field-field-rating {
    height: 20px;
    display: inline-block;

}
.page-taxonomy   .view-content .views-row   .field-field-rating  form{
    margin: 0;
}

.view-catalogo-prodotti-del-produttore .form-submit {
    /*background: url("../images/bg-cart-button.png") no-repeat scroll 98% 50% #892027;*/
    color: #e3b49a;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 0 37px !important;
    height: 40px;
    padding: 3px 30px;
}



.page-taxonomy  .view-filters .views-widget-view-as,
.page-taxonomy  .view-filters .views-widget-sort-by,
.page-taxonomy  .view-filters .views-widget-sort-order,
.page-taxonomy  .view-filters .views-widget-per-page{
    margin: 0 10px;
}

.page-taxonomy  .item-list {
    border-top: 1px solid #f0f0f0;
    float: left;
    margin: 20px 0 0;
    padding: 20px 0;
    width: 100%;
}

/* Slideshow pull-down */

#views_slideshow_cycle_main_dicono_di_noi-block {
  min-height: 150px;
  width:350px !important;
  height: auto;
  display: block;
}

#pulldown-wrapper .views_slideshow_cycle_slide {
  width: 310px !important;
}

#pulldown-wrapper .view-dicono-di-noi {
  box-sizing: border-box; 
}

#pulldown-wrapper .views-slideshow-cycle-main-frame-row-item {
  padding: 20px;
  width: 100%;
  display: block;
  border: 1px solid #e3b49a;
  background: url('../images/bg-quote.png') left top no-repeat;
  box-sizing: border-box; 
}

/*
#pulldown-wrapper .views_slideshow_cycle_slide {
  padding: 20px;
  width: 100%;
  display: block;
  border: 1px solid #e3b49a;
  background: url('../images/bg-quote.png') left top no-repeat;
  box-sizing: border-box; 
}
*/

#pulldown-wrapper .views_slideshow_cycle_slide .field-type-text-with-summary {
  min-height: 0;
  height: auto;
}

.views_slideshow_cycle_slide .field-type-text-with-summary p,
.node-pulldown-left .field-type-text-with-summary{  
    color: #e3b49a !important;
    font-size: 14px !important;
    text-align:justify;
}

.view-dicono-di-noi .views-field-title{ 
    color: #fff !important;
    font-size: 14px !important;
}

.views-slideshow-controls-bottom {
  z-index: 999;
}

/*views view grid*/
.page-taxonomy .view-content .views-view-grid   .views-row {
    padding: 20px 0;
}

#main-content .view-content .views-view-grid   .views-row .grid-inner{
    padding: 0 10px;
}

#main-content .view-home-banners-block .view-content .views-view-grid .views-row .views-col {
    margin: 0 10px 0 16px;
    background:none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #f7f7f7;
    width: 230px;
}

.contextual-links-region .field-name-title-field{
    width:100%;
    float:none;
}

.read-more,
.read-less{ 
    /*padding:0 0 0 350px*/
    float: right;
}

a.in-wishlist{ 
    color: #888;
    font-size: 14px;
    text-decoration:none;
    /*padding-bottom: 10px;
 *     padding-left: 23px;
 *         padding-right: 23px;
 *             padding-top: 10px;*/
}

a.in-wishlist:hover {
    text-decoration:none;
}

.node-product-display-product-list .wishlist{
    margin-right:2px !important;
}

.node-product-display-product-list .field-type-text-with-summary p,
.node-prodotto-bundle-product-list .field-type-text-with-summary p{
    font-size:13px;
}

.node-product-type-product-list .summary .read-more{
    display: none;
}

.node-product-display-product-list .field-type-commerce-product-reference,
.node-prodotto-bundle-product-list .field-type-commerce-product-reference{
    float:right;
}

.view-list-product-in-bundle table{
    width:30%;
}

.group-desc-left,
.group-desc-right{
    width:50%;
    float:left;
    min-height:30px;
}

.group-desc-right .commerce-product-field-field-formato{
    margin:0 !important;
    float:none !important;
    border:none !important;
    padding:0 !important;
}

.group-desc-right .field-name-field-formato{
    padding:0 !important;
}

#AlreadyWish { 
    margin:0 auto;
    margin-bottom:5px;
    padding-top:5px;
    width:176px;
    height: 26px;
    border:2px solid #888;
}

.node-product-type-product-grid #AlreadyWish { 
    margin-bottom:0;
    margin-top:12px;
}

.node-product-type-full #AlreadyWish,
.ds-right #AlreadyWish{
    float:left;
    text-align:center;
    margin-right:5px;
    margin-bottom:0;
    padding-top:5px;
    width:176px;
    height: 26px;
    border:2px solid #888;
}

.ds-right #AlreadyWish{
    margin-top:10px;
}

.node-product-display-product-grid .node-links{
    display:none !important;
}

.node-product-type-scheda-prodotto-in-blog > .group-right #AlreadyWish{
    margin:20px 0 15px 0;
}


#main-content .view-content .views-view-grid .views-row .col-3 {
    margin: 0;
}

.page-taxonomy .view-content .views-view-grid .views-row .views-field-field-product-image {
    margin: 0 0 15px 0;
}

.page-taxonomy  .view-content .views-view-grid  .views-row .views-field-title {
    font-size: 14px;
    font-weight: 100;
}

.page-taxonomy  .view-content .views-view-grid  .views-row .views-field-field-rating {
    margin: 10px 0;
}

.page-taxonomy  .view-content .views-view-grid  .views-row {
    border-bottom: 0;
}

/*product details */
.field-group-htabs-wrapper  div.horizontal-tabs {
    border: 0;
    float: left;
    margin: 40px 0 0;
    padding: 0;
    width: 100%;
}

.field-group-htabs-wrapper  .horizontal-tabs ul.horizontal-tabs-list {
    background: 0;
    border: 0;
    height:20px;    
    font-size:16px;
    text-transform:uppercase;
}

.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li {
    background: none;
    border-right: 0;
    float: left;
    margin: 0;
    min-width: 0;
    padding: 0; 
    height:20px;
}

.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li a{
    display: block;
    height: 10px;
    line-height: 10px;
    padding:0px 15px 0 15px;
    position: relative;
    text-decoration: none;
    top: 0;
    border-right:1px solid #9b9b9b; 
    color:#9b9b9b !important;
}

.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li.first a{
    padding-left:0 !important;
}

.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li.last a{
    border-right:none;
}

.horizontal-tabs ul.horizontal-tabs-list a strong {
    float: left;
    /* height: 45px;*/
}

.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li.selected a,
.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li.selected a:active,
.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li.selected a:focus,
.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li.selected a:hover{
    background: #fff;
    color: #666;
}

.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li.selected a strong,
.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li.selected a:active strong,
.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li.selected a:focus strong,
.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li.selected a:hover strong{
    /*background: url('../images/arrow-tab.png') bottom center no-repeat;*/
    background-color: none;
    color: #666666;
}

.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li a:active,
.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li a:focus,
.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li a:hover,
.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li a:active strong,
.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li a:focus strong,
.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li a:hover strong{
    background: 0;
    color: #e3b49a;
}



.field-group-htabs-wrapper .horizontal-tabs fieldset.horizontal-tabs-pane {
    border: 0 none;
    padding: 0;
    line-height: 24px;
}

.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li a strong{
    /*color: #666;*/
    /*font-weight: 300;*/
}
/*
 * .galleryformatter-greenarrows .gallery-thumbs .wrapper {
 *         background: 0;
 *                 border-bottom: 0;
 *                         line-height: 0;
 *                                 overflow: auto;
 *                                 }
 *
 *                                 .galleryformatter-greenarrows .gallery-thumbs {
 *                                         margin: 10px 0 0;
 *                                                 padding: 0;
 *                                                 }
 *
 *                                                 .galleryformatter-greenarrows .gallery-thumbs li {
 *                                                         padding-top: 0;
 *                                                         }
 *
 *                                                         .galleryformatter-greenarrows .gallery-thumbs .arrow {
 *                                                                 bottom: 0;
 *                                                                         display: block;
 *                                                                                 height: 70px;
 *                                                                                         position: absolute;
 *                                                                                                 text-indent: -9999px;
 *                                                                                                         width: 30px;
 *                                                                                                         }
 *
 *                                                                                                         .galleryformatter-greenarrows .gallery-thumbs li a {
 *                                                                                                                 display: block;
 *                                                                                                                         padding: 0;
 *                                                                                                                         }
 *
 *                                                                                                                         .galleryformatter-greenarrows .gallery-thumbs li.active a {
 *                                                                                                                                 background: 0;
 *                                                                                                                                 }
 *
 *                                                                                                                                 .galleryformatter-greenarrows .gallery-thumbs .arrow.back{
 *                                                                                                                                         background: url('../images/bg-pre-gallery.png') top left no-repeat;
 *                                                                                                                                         }
 *
 *                                                                                                                                         .galleryformatter-greenarrows .gallery-thumbs .arrow.back:hover,
 *                                                                                                                                         .galleryformatter-greenarrows .gallery-thumbs .arrow.back:active,
 *                                                                                                                                         .galleryformatter-greenarrows .gallery-thumbs .arrow.back:focus{
 *                                                                                                                                                 background: url('../images/bg-pre-gallery-hover.png') top left no-repeat;
 *                                                                                                                                                 }
 *
 *                                                                                                                                                 .galleryformatter-greenarrows .gallery-thumbs .arrow.forward{
 *                                                                                                                                                         background: url('../images/bg-next-gallery.png') top right no-repeat;
 *                                                                                                                                                         }
 *
 *                                                                                                                                                         .galleryformatter-greenarrows .gallery-thumbs .arrow.forward:hover,
 *                                                                                                                                                         .galleryformatter-greenarrows .gallery-thumbs .arrow.forward:active,
 *                                                                                                                                                         .galleryformatter-greenarrows .gallery-thumbs .arrow.forward:focus{
 *                                                                                                                                                                 background: url('../images/bg-next-gallery-hover.png') top right no-repeat;
 *                                                                                                                                                                         } */


 /* Gallery ---*/
 .galleryformatter {
    width: 400px;
    display: inline-block;
    float: left;
    margin: 0px 0px 20px 0px;
}

.galleryformatter .gallery-slides, .galleryformatter .gallery-thumbs {
    margin:0px;
}

.galleryformatter-greenarrows .gallery-thumbs {
    width: 300px !important;
    padding: 0px;
    margin: 20px 0px 0px;
}

.galleryformatter-greenarrows .gallery-thumbs li {
    width: 110px !important;
    padding: 0px;
}

.galleryformatter-greenarrows .gallery-thumbs li a {
    margin: 0px auto;
    display: inline-block;
    background: #FFFFFF;
    border: 0;
    padding: 0;
}

.galleryformatter-greenarrows .gallery-thumbs .arrow {
    width: 30px;
    height: 70px;
    bottom: 20px;
}

.galleryformatter-greenarrows .gallery-thumbs .back {
    background: url("../images/bg-pre-gallery.png") top left no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.galleryformatter-greenarrows .gallery-thumbs .back:hover {
    background: url("../images/bg-pre-gallery-hover.png") top left no-repeat;
}

.galleryformatter-greenarrows .gallery-thumbs .forward {
    background: url("../images/bg-next-gallery.png") top left no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.galleryformatter-greenarrows .gallery-thumbs .forward:hover {
    background: url("../images/bg-next-gallery-hover.png") top left no-repeat;
}

.galleryformatter-greenarrows .gallery-thumbs .wrapper {
    border: none;
    background: none;
}

.galleryformatter-greenarrows .gallery-thumbs li.active a,
.galleryformatter-greenarrows .gallery-thumbs li a:hover,
.galleryformatter-greenarrows .view-full { border: 0; background: none; }

.galleryformatter-greenarrows .slide-button {
    width: 30px;
    height: 70px;
}

.galleryformatter-greenarrows .prev-slide  {
    background: url("../images/bg-pre-gallery.png") top left no-repeat;
}

.galleryformatter-greenarrows .prev-slide:hover {
    background: url("../images/bg-pre-gallery-hover.png") top left no-repeat;
}

.galleryformatter-greenarrows .next-slide {
    background: url("../images/bg-next-gallery.png") top left no-repeat;
}

.galleryformatter-greenarrows .next-slide:hover {
    background: url("../images/bg-next-gallery-hover.png") top left no-repeat;
}


.node-product-display .commerce-add-to-cart .form-item label {
    float: left;
    font-weight: 500;
    margin: 8px 10px 0 0;
}

.node-product-display .form-item-quantity {
    margin: 20px 0 0;
}
.node-product-display .form-item-quantity input{
    text-align: right;
    width: 35px;
}

.node-type-product-display  .article{
    margin-bottom: 0;
}

.field-group-htabs-wrapper {
    clear: both;
    overflow:hidden;
}

/*Banners*/
.view-banners-block .col-1 .banner-body{
    background: url("../images/region-first-adv.png") repeat scroll left top transparent;
}

.view-banners-block  .banner-body-inner {
    background: 0;
    height: 20px;
    padding: 20px;
}

.view-banners-block .banner-adv:hover  .banner-body-inner{
    background: 0;
}

.view-banners-block .col-2 .banner-body{
    background: url("../images/region-second-adv.png") repeat scroll left top transparent;
}

.view-banners-block .col-3 .banner-body{
    background: url("../images/region-thrid-adv.png") repeat scroll left top transparent;
}

.banner-adv  .views-field-view-node  a{
    background: url('../images/bg-arrow-adv.png') 0 0 no-repeat;
    float: right;
    height: 24px;
    position: absolute;
    right: 13px;
    text-indent: -999em;
    bottom: 20px;
    width: 24px;
    z-index: 1;
}

.banner-adv  .views-field-view-node  a:active,
.banner-adv .views-field-view-node  a:focus,
.banner-adv  .views-field-view-node  a:hover{
    opacity: 0.5;
}

.region-mass-bottom .block-inner{
    padding: 20px 0;
}

.region-mass-bottom .static-title a{
    color: #333;
}

.region-mass-bottom .static-title a:active,
.region-mass-bottom .static-title a:focus,
.region-mass-bottom .static-title a:hover{
    color: #e3b49a;
    text-decoration: none;
}

.region-mass-bottom .static-view-more a{
    background: url("../images/bg-view-more-slide.png") no-repeat 85% 50% #e3b49a;
    border: 3px solid #e3b49a;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
    min-height: 40px;
    padding: 0 50px 0 20px;
    text-transform: uppercase;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.region-mass-bottom .static-view-more a:hover,
.region-mass-bottom .static-view-more a:focus,
.region-mass-bottom .static-view-more a:active{
    background: url("../images/bg-view-more-slide-hover.png") no-repeat 85% 50% #fff;
    color: #e3b49a;
    text-decoration: none;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

/*sidebar first*/
#sidebar-first-wrapper .views-row {
    border-bottom: 1px solid #E5E5E5;
    float: left;
    margin: 0;
    padding: 20px 0;
    width: 100%;
}
#sidebar-first-wrapper .views-field-field-product-image,
#sidebar-first-wrapper .views-field-field-image {
    float: right;
    margin: 0 15px 0 10px;
}

.node-type-blog-post #sidebar-first-wrapper .views-field-field-product-image,
.node-type-blog-post #sidebar-first-wrapper .views-field-field-image {
    float: left;
    margin: 0 15px 0 10px;
}

#sidebar-first-wrapper  .views-field-created {
    color: #999;
}

#sidebar-first-wrapper  .views-field-title {
    float: none;
}

#sidebar-first-wrapper  .views-field-title a{
    font-size: 13px;
    font-weight: 300;
}


/*comment*/
#sidebar-first-wrapper .view-most-view .views-field-field-product-image{
    margin: 0;
}

#sidebar-first-wrapper .view-last-comments .views-field-picture {
    float: left;
    margin: 5px 20px 0 0;
}

#sidebar-first-wrapper .view-last-comments  .views-row {
    border-bottom: 0;
}

#sidebar-first-wrapper .view-last-comments .views-field-name{
    color: #e3b49a;
    font-size: 14px;
}

#sidebar-first-wrapper .view-last-comments .views-field-subject a{
    color: #333;
    font-size: 12px;
}

#sidebar-first-wrapper .view-last-comments .views-field-subject a:active,
#sidebar-first-wrapper .view-last-comments .views-field-subject a:focus,
#sidebar-first-wrapper .view-last-comments .views-field-subject a:hover{
    color: #e3b49a;
    text-decoration: none;
}


/*page cart*/
.view-commerce-cart-form tr, .view-commerce-cart-summary tr {
    vertical-align: middle;
}

.view-wishlist thead tr,
.view-commerce-cart-form thead tr{
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
}

.view-commerce-cart-form tr strong{
    font-size:16px;
}

.view-shopping-cart .links.inline{
    border:none;
}

.view-wishlist .views-field,
.page-cart .views-field {
    vertical-align: middle;
    padding:10px;
}

.view-wishlist .views-field-line-item-id,
.page-cart  .views-field-line-item-id {
  display:none;
}

.view-wishlist p,
.page-cart p{
    font-size:10px;
}

.view-wishlist .views-table th,
.page-cart .views-table th {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 0 none;
    color: #888;
}

.view-wishlist .bundle-item strong,
.page-cart .bundle-item strong{
    font-size:12px;
}

.view-wishlist .bundle-item,
.page-cart .bundle-item{
    background:#f8f8f8;
}

.view-wishlist .bundle-item img,
.page-cart .bundle-item img{
    margin-left:30px;
    height:70px;
    width:60px;
}

.view-wishlist .views-table,
.page-cart .views-table {
    width: 100%;
}


.view-wishlist span.edit-checkout.button input.form-submit:hover,
.view-wishlist span.edit-checkout.button input.form-submit:focus,
.view-wishlist .views-field-edit-delete span.button input.form-submit:hover,
.view-wishlist .views-field-edit-delete span.button input.form-submit:focus,
.view-wishlist span.edit-submit.button input.form-submit:hover,
.view-wishlist span.edit-submit.button input.form-submit:focus,
.page-cart span.edit-checkout.button input.form-submit:hover,
.page-cart span.edit-checkout.button input.form-submit:focus,
.page-cart .views-field-edit-delete span.button input.form-submit:hover,
.page-cart .views-field-edit-delete span.button input.form-submit:focus,
.page-cart span.edit-submit.button input.form-submit:hover,
.page-cart span.edit-submit.button input.form-submit:focus,
.page-checkout span.edit-continue input.form-submit:hover,
.page-checkout span.edit-continue input.form-submit:focus{
    color: #892027 !important;
    background: white;
}

.views-field-edit-quantity .form-text{
    text-align: center;
}

.view-wishlist .views-field-commerce-price,
.page-cart .views-table .price{
    color: #e3b49a;
}

.line-item-summary {
    font-size: 14px;
    margin: 10px 0 0 0;
}
.view-shopping-cart .line-item-summary {
    font-size: 12px;
    margin: 10px 0 0 0;
    float:none
}

.commerce-line-item-views-form .commerce-line-item-actions {
    margin: 30px 0 0 0;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title{
    float: none !important;
    margin: 0 auto;
    width: 60% !important;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .view-content{
    clear: both;
    width: 93%;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .views-label-line-item-title{
    color:#888;
    font-weight:bold;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper{
    background:#FFF !important;
    position:absolute;
    top: 150px;
    left:0;
    width:90% !important;
    padding:45px 30px !important;
}

div.messages.commerce-add-to-cart-confirmation .message-inner a.commerce-add-to-cart-confirmation-close{
    display:none;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button {
    width:165px;
    margin-right:5px;
    float:left;
    border-radius:0;
    color: #e3b49a !important;
    border: 3px solid #892027;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button a{
    text-decoration:none;
    color: #e3b49a !important;
}

div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button:focus,
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button:hover{
    /*background: url("../images/bg-cart-button-hover.png") no-repeat 10% 50% #fff;*/
    background-color: #fff !important;
    border: 3px solid #892027;
    color: #e3b49a !important;
    text-decoration: none;
}


.commerce-order-commerce-order .views-table th {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 0 none;
    color: #888;
}

/*check out*/
.page-checkout .checkout-review,
.page-checkout .views-table{
    width: 98%;
    border:1px #ddd solid;
    margin:10px;
}


/**********************************************************/
/* PREZZO */
.commerce-order-handler-area-order-total .commerce-price-formatted-components {
    margin-left: auto;
    width: 100%;
}
.commerce-order-handler-area-order-total .commerce-price-formatted-components tr.even, tr.odd{ height:55px;

}

.page-checkout .commerce-price-formatted-components  td{
    border-bottom: 0;
}

.page-checkout .commerce-price-formatted-components  td.component-title{
    text-align: right;
}

.page-checkout .component-total,
.page-checkout .price{
    color: #e3b49a;
}

.page-checkout  .commerce-order-handler-area-order-total .commerce-price-formatted-components {
    width: 100%;
}
.page-checkout .commerce-price-formatted-components td.component-title {
    text-align: left;
}

/**********************************************************/
.page-checkout span.edit-continue input.form-submit{
    background: #e3b49a;
    color: #e3b49a;
    margin: 0;
    padding: 3px 20px;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0 !important;
}

/*.page-checkout span.edit-continue input.form-submit:hover,
 * .page-checkout span.edit-continue input.form-submit:focus{
 *     background: #fff;
 *         border: 3px solid #e3b49a;
 *             color: #e3b49a;
 *                 padding: 0 17px;
 *                     }*/
 .page-checkout   th {
    background: #FAFAFA;
    color: #333333;
}


.page-checkout .views-field-commerce-total,
.page-checkout .component-total {
    width: 100px;
    text-align: left;
    padding: 0.75em 1em;
}

.page-checkout  fieldset{
    margin:0 10px;
}

.page-checkout  fieldset.checkout-buttons{
    width: 100%;
    float: left;
}
.page-checkout  fieldset.account{
    width: 96%;
    float: left;
    padding: 18px;
}
.page-checkout .form-item label{
    margin: 0 0 5px 0;
}
.page-checkout  fieldset.customer_profile_billing{
    width: 45%;
    float: left;
    padding: 18px;
}
.page-checkout  fieldset.customer_profile_shipping{
    width: 45%;
    float: left;
    padding: 18px;
} 
.page-checkout  fieldset.cart_contents{
    width: 45%;
    /*float: right;*/
    padding: 18px;
} 

.page-checkout div.form-item {
    margin-right: 0;
    width: 100%;
}
.page-checkout .form-select{
    border: 1px solid #F0F3F4;
    height: auto;
    padding: 7px 3px;
    width: 100%;
}

#payment-details .form-select{
    width:auto;
}

.page-checkout  fieldset.checkout-buttons{
    border: 0;
    padding: 0;
    margin-top:10px;

}
.page-checkout  .edit-cancel  input.form-submit {
    /*background: #333;*/
    -webkit-appearance: none;
    -webkit-border-radius: 0 !important; 
    margin:0 645px 0 0;
}
span.edit-continue{ 
    float:right;
    margin-right:20px; 
}

.page-checkout  fieldset.checkout-buttons .button-operator{
    display: none;
}
.page-checkout fieldset.customer_profile_billing input,
.page-checkout  fieldset.account .form-text{
    width: 100%;
}

.page-checkout table.checkout-review .pane-data-full,
.page-checkout table.checkout-review .pane-title td {
    padding: 10px;
}

.page-checkout-review  fieldset.checkout-buttons {
    float: left;
    /*margin: 20px 0 0 0 ;*/
}

.page-checkout-review span.edit-back input.form-submit {
    /*background: #333;*/
}

.page-checkout .customer_profile_billing .street-block,
.page-checkout .customer_profile_billing .addressfield-container-inline {
    float: left;
    width: 48%;
}

.page-checkout .street-block,
.page-checkout .locality-block
{
    width:100% !important;
}

.page-checkout .customer_profile_billing .locality-block,
.page-checkout .customer_profile_billing .form-type-select {
    float: right;
    position: relative;
    width: 48%;
}

.page-checkout .form-item-customer-profile-billing-addressbook,
.page-checkout .form-item-customer-profile-billing-commerce-customer-address-und-0-country{
    width: 100% !important;
}

.page-checkout .ajax-progress-throbber {
    position: absolute;
    top: 0;
    right: 30px;
}

.page-checkout .checkout-help,
.page-checkout .checkout-completion-message{
    border:1px #ddd solid;
    padding:10px;
    margin:0 10px;
}

.page-checkout .checkout-help{
    font-size:16px;
    color: #e3b49a;
}

div.addressfield-container-inline > div.form-item {
    float: none !important;
}


/*view products info*/
.node-product-display .galleryformatter {
    display: inline-block;
    float: left;
    margin: 0 20px 20px 0;
    width: 300px;
}
.galleryformatter-greenarrows .view-full {
    display: none;
}
.node-product-display div.field-type-fivestar {
    display: inline-block;
    margin: 5px 0 10px 0;
}

/*page products*/
.page-products   .view-content .views-row {
    border-bottom: 1px solid #f0f0f0;
    clear: both;
    padding: 40px 0;
    float: left;
    width: 100%;
}
.page-products   .view-content .views-row.views-row-first {
    padding-top: 0;
}

.page-products .view-content .views-row.views-row-last{
    border-bottom: 0;
}

.page-products   .view-content .views-row  .views-field-field-product-image {
    float: left;
    margin: 0 20px 0 0;
}

.page-products   .view-content .views-row   .views-field-title {
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.page-products   .view-content .views-row   .views-field-title a {
    color: #333;
}

.page-products   .view-content .views-row   .views-field-title a:active ,
.page-products    .view-content .views-row   .views-field-title a:focus ,
.page-products   .view-content .views-row   .views-field-title a:hover {
    color: #e3b49a;
    text-decoration: none;
}


.page-products   .view-content .views-row   .views-field-commerce-price {
    font-size: 24px;
    font-weight: 100;
    margin: 8px 0;
}

.page-products   .view-content .views-row   .views-field-field-rating {
    height: auto;
    display: inline-block;

}
.page-products   .view-content .views-row   .views-field-field-rating  form{
    margin: 0;
}

.page-products   .view-content .views-row .button .form-submit {
    /*background: url("../images/bg-cart-button.png") no-repeat scroll 10% 50% #e3b49a;*/
    border: 2px solid #e3b49a;
    color: #e3b49a;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    height: 35px;
    padding: 3px 30px;
    /*-moz-transition: all 0.2s linear;
 *     -ms-transition: all 0.2s linear;
 *         -o-transition: all 0.2s linear;
 *             transition: all 0.2s linear;
 *                 -webkit-transition: all 0.2s linear;*/
 margin:5px 0 0 26px;
}

.page-products   .view-content .views-row .button .form-submit:focus,
.page-products   .view-content .views-row .button .form-submit:hover{
    /*background: url("../images/bg-cart-button-hover.png") no-repeat 10% 50% #fff;*/
    border: 2px solid #e3b49a;
    color: #e3b49a;
    text-decoration: none;
    /*-moz-transition: all 0.2s linear;
 *     -ms-transition: all 0.2s linear;
 *         -o-transition: all 0.2s linear;
 *             transition: all 0.2s linear;
 *                 -webkit-transition: all 0.2s linear;*/
 margin: 5px 0 0 26px;
}

.page-products  .view-filters .views-widget-view-as,
.page-products  .view-filters .views-widget-sort-by,
.page-products  .view-filters .views-widget-sort-order,
.page-products  .view-filters .views-widget-per-page{
    margin: 3px 0;
}
.page-products   .view-content .views-field-add-to-cart-form {
    margin: 0 0 0 240px;
}

.page-products  .item-list {
    float: left;
    width: 100%;
}

/*page user order*/

.page-user table {
    /*margin: 41px 0 0;*/
    width: 100%;
}
.page-user-orders table{
    margin: 0;
    /*  width: 100% !important;*/
}

.page-user-orders table td.component-total,
.page-user-orders table tr.even td,
.page-user-orders table tr.odd td {
    width: 50px;
    padding: 10px;
}


.page-user-orders table tr,
.page-user .recent-orders table tr {
    border-top:10px solid #fff;
    border-bottom:10px solid #fff;
    height:40px;
}

.page-user-orders .view-commerce-message-messages .view-footer {
    display:none;
}

.page-user-orders table tr.odd {
    /*    background: #eee !important;*/
}

.page-user-orders .views-field-view table tr{
    background: #fff !important;
    border-bottom:1px #eee solid;
    border-top:1px #eee solid;
}

.page-user-orders .view-commerce-backoffice-user-orders table tr.odd,
.page-user-orders .commerce-order-commerce-order table tr.odd{
    background-color: #eee;
}

#views-exposed-form-commerce-backoffice-user-orders-order-page .views-exposed-form{
    background: #fff !important;
    border-bottom:2px #888 solid;
    border-top:2px #888 solid;
}

.page-user-orders .views-widget-filter-order_id,
.page-user-orders .views-widget-filter-created,
.page-user-orders .form-item-created-min,
.page-user-orders .form-item-created-max,
.page-user-orders .form-item-created-max label{
    float:left;
    margin-right:20px;
}

.page-user-orders .form-item-created-max label{
    padding-top:5px;
}

#views-exposed-form-commerce-backoffice-user-orders-order-page .views-submit-button{
    padding-top:12px;
    float:right;
}

.page-user-orders table tr.even {
    display:none;
}

.page-user-orders table tr th,
.page-user .recent-orders table tr th{
    background:#fff;
    color:#000000;
    
}

.page-user-orders .arrow-close{
    margin-left:10px;
    cursor:pointer;
    padding: 10px;
}

.page-user-orders table tr th a{
    background:#fff;
    color:#000000;
    
}
.page-user-orders table.commerce-price-formatted-components tr td.component-total {
    width: 50px;
    color: #892027;
}

.page-user td.active{
    background: 0;
}

.field-name-commerce-order-total {
    margin-bottom: 20px;
}
.confirmation  .edit-submit {
    float: left;
}

.confirmation  a#edit-cancel,
.confirmation  input.form-submit {
    background: #e3b49a;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    float: left;
    margin: 0 3px 0 0;
    padding: 3px 20px;
    -webkit-appearance: none;
    -webkit-border-radius: 0 !important;
}
.confirmation  a#edit-cancel{
    background: #333;
}
.confirmation  a#edit-cancel:hover,
.confirmation  input.form-submit:hover,
.confirmation  input.form-submit:focus {
    background: #fff;
    border: 3px solid #e3b49a;
    color: #e3b49a;
    padding: 0 17px;
    text-decoration: none;
}

.page-user-orders ul.action-links{
    margin: 0 0 20px;
    padding: 0;
}

.page-user-orders ul.action-links li {
    margin: 0;
}
.page-user-orders ul.action-links li a {
    background: #e3b49a;
    border: 3px solid #e3b49a;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
    min-height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
}

.page-user-orders ul.action-links li a:active,
.page-user-orders ul.action-links li a:focus,
.page-user-orders ul.action-links li a:hover {
    background: #fff;
    color: #e3b49a;
    text-decoration: none;
}

.field-type-text-long {
    font-size: 12px;
    font-weight: 300;
}
.field-type-text-long  .field-label {
    font-size: 16px;
    font-weight: 300;
}
.field-type-text-long  .field-items{
    margin: 0 0 0 20px;
}

html.js input.form-autocomplete {
    background-position: 98% 10px;
    padding: 6px 3px;
}
html.js input.throbbing {
    background-position: 98% -13px;
    padding: 6px 3px;
}

/* Price range */
#search-api-ranges-block-slider-view-form .range-box-left .form-item,
#search-api-ranges-block-slider-view-form .range-box-right .form-item {
    margin-top: 0;
}

#search-api-ranges-block-slider-view-form .range-box-left,
#search-api-ranges-block-slider-view-form .range-box-right {
    position: absolute;
    top: -30px; 
}

#search-api-ranges-block-slider-view-form .range-box-left label,
#search-api-ranges-block-slider-view-form .range-box-right label {
    display: none;
}

#search-api-ranges-block-slider-view-form .range-box-left {
    left: 0; 
}

#search-api-ranges-block-slider-view-form .range-box-right {
    right: 0; 
}

#search-api-ranges-block-slider-view-form .range-box-right #edit-range-to {
    text-align: right; 
}

#search-api-ranges-block-slider-view-form .range-slider-box {
    display: block;
    margin-top: 25px; 
}

#search-api-ranges-block-slider-view-form #edit-range-from,
#search-api-ranges-block-slider-view-form #edit-range-to {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    width: auto;
}
#search-api-ranges-block-slider-view-form #edit-submit {
    display: none; 
}

.view-partner-in-homepage .skin-default{ 
    padding:0 0 0 0;   
}

.page-taxonomy .view-immagine-testata-categoria .category-header-content h1,
.page-taxonomy .view-immagine-testata-categoria .category-header-content h3,
.page-taxonomy .view-immagine-testata-categoria .category-header-content p{
    color: #fff;  
    margin:0;
}

.page-taxonomy .view-immagine-testata-categoria .category-header-content h1,
.page-taxonomy .view-immagine-testata-categoria .category-header-content h3{
    margin:0;
}


.view-immagine-testata-categoria .category-header {
    left: 30px;
    top: 30px;
    width: 90%;
}
.block-facetapi a{
    color: #888;
    text-transform: uppercase;
}

/* CARRELLO*/

.view-shopping-cart .view-content .views-row{ 
    border-bottom:1px solid #ccc; 
    height:100px 
}
.view-shopping-cart .view-content .views-row .field-name-field-images{ float: left;
}


/*MESSAGGIUO UPDATE CARRELLO*/  
div.messages {
    margin: 10px 0;
}
div.status, table tr.ok {
    background-color: #892027;
}
div.status, .ok {
    color: #FFF;
}
div.status {
    background-image: url("../skins/itaste/message-24-ok.png");
    border-color: #FFF;
}

/*BLOG*/
.node-blog-post .group-right {
    float: right;
    width: 70%;
}
.node-blog-post .group-left {
    float: left;
    width: 30%;
}

.vocabulary-blog-category .field-name-field-immagine-categoria-blog{ padding:0 0 20px 0    
}
.node-blog-post .group-left,
.view-blog .group-left img{ padding:0 0 20px 0    
}


/*BLOCCO WISHLIST NEI PULSANTI IN SOVRAIMPRESSIONE*/

.view-display-id-block_wishlist_overlay td{
    padding: 0.75em;
}


.view-display-id-block_wishlist_overlay td.active{
    background: none;
}

.view-display-id-block_wishlist_overlay td.views-field-add-to-cart-form {
    padding:0;
    width: auto;
}

.block .view-display-id-block_wishlist_overlay .more-link{
    text-align: center;
}
.block .view-display-id-block_wishlist_overlay .more-link a{
    display: block;
    margin: 0 20px;
    float:none;
}

/* MOD 04/02/2015 */

/* Distanze prodotti correlati e più visti nella pagina prodotto */

div#views_slideshow_cycle_main_prodotti_da_categorie_correlate-block 
div.views-slideshow-cycle-main-frame
div.views-slideshow-cycle-main-frame-row-item,
div#views_slideshow_cycle_teaser_section_popular-block
div.views-slideshow-cycle-main-frame-row 
div.views-slideshow-cycle-main-frame-row-item {
  width: 50% !important;
}

div#views_slideshow_cycle_teaser_section_popular-block
div.views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}

/* Padding tabella Contenuto del carrello - CASSA */

div.view-commerce-cart-summary
div.view-content 
table.views-table thead tr th,
div.view-commerce-cart-summary
div.view-content
table.views-table tbody tr td, 
div.commerce-order-handler-area-order-total  
div.field-name-commerce-order-total  
div.field-items  
div.field-item  
table.commerce-price-formatted-components tbody tr td {
  padding: 0.75em 1em;
}

