/**
 * @file
 * Display Suite header produttore stylesheet.
 */

.ds-description {
  width: 68%;
  padding: 0 10px 0 0;
  float: left;
  text-align: justify;
}

.ds-logo {
   width: 30%;
   float: right;
}
