.hybridauth-icon-itaste {
  display: block;
  float: left;
  width: 160px;
  height: 40px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.hybridauth-icon-itaste:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.hybridauth-none-itaste {
  background: transparent url(icons/openid.png) 0px 0px no-repeat;
}
.hybridauth-aol-itaste {
  background: transparent url(icons/aol.png) 0px 0px no-repeat;
}
.hybridauth-facebook-itaste {
  background: transparent url(icons/facebook.jpg) 0px 0px no-repeat;
}
.hybridauth-foursquare-itaste {
  background: transparent url(icons/foursquare.png) 0px 0px no-repeat;
}
.hybridauth-google-itaste {
  background: transparent url(icons/google.jpg) 0px 0px no-repeat;
}
.hybridauth-linkedin-itaste {
  background: transparent url(icons/linkedin.png) 0px 0px no-repeat;
}
.hybridauth-live-itaste {
  background: transparent url(icons/live.png) 0px 0px no-repeat;
}
.hybridauth-myspace-itaste {
  background: transparent url(icons/myspace.png) 0px 0px no-repeat;
}
.hybridauth-openid-itaste {
  background: transparent url(icons/openid.png) 0px 0px no-repeat;
}
.hybridauth-twitter-itaste {
  background: transparent url(icons/twitter.jpg) 0px 0px no-repeat;
}
.hybridauth-yahoo-itaste {
  background: transparent url(icons/yahoo.png) 0px 0px no-repeat;
}

.hybridauth-px500-itaste {
  background: transparent url(icons/500px.png) 0px 0px no-repeat;
}
.hybridauth-disqus-itaste {
  background: transparent url(icons/disqus.png) 0px 0px no-repeat;
}
.hybridauth-github-itaste {
  background: transparent url(icons/github.png) 0px 0px no-repeat;
}
.hybridauth-goodreads-itaste {
  background: transparent url(icons/goodreads.png) 0px 0px no-repeat;
}
.hybridauth-identica-itaste {
  background: transparent url(icons/identica.png) 0px 0px no-repeat;
}
.hybridauth-instagram-itaste {
  background: transparent url(icons/instagram.png) 0px 0px no-repeat;
}
.hybridauth-lastfm-itaste {
  background: transparent url(icons/lastfm.png) 0px 0px no-repeat;
}
.hybridauth-mailru-itaste {
  background: transparent url(icons/mailru.png) 0px 0px no-repeat;
}
.hybridauth-murmur-itaste {
  background: transparent url(icons/murmur.png) 0px 0px no-repeat;
}
.hybridauth-odnoklassniki-itaste {
  background: transparent url(icons/odnoklassniki.png) 0px 0px no-repeat;
}
.hybridauth-pixnet-itaste {
  background: transparent url(icons/pixnet.png) 0px 0px no-repeat;
}
.hybridauth-plurk-itaste {
  background: transparent url(icons/plurk.png) 0px 0px no-repeat;
}
.hybridauth-qq-itaste {
  background: transparent url(icons/qq.png) 0px 0px no-repeat;
}
.hybridauth-sina-itaste {
  background: transparent url(icons/sina.png) 0px 0px no-repeat;
}
.hybridauth-skyrock-itaste {
  background: transparent url(icons/skyrock.png) 0px 0px no-repeat;
}
.hybridauth-tumblr-itaste {
  background: transparent url(icons/tumblr.png) 0px 0px no-repeat;
}
.hybridauth-viadeo-itaste {
  background: transparent url(icons/viadeo.png) 0px 0px no-repeat;
}
.hybridauth-vimeo-itaste {
  background: transparent url(icons/vimeo.png) 0px 0px no-repeat;
}
.hybridauth-vkontakte-itaste {
  background: transparent url(icons/vkontakte.png) 0px 0px no-repeat;
}
.hybridauth-yandex-itaste {
  background: transparent url(icons/yandex.png) 0px 0px no-repeat;
}
/* Last used provider */
.hybridauth-last-provider .hybridauth-icon-itaste {
  opacity: 1;
  filter: alpha(opacity=100);
}
