/**
 * @file
 * Display Suite Three column - smallest on the right stylesheet.
 */

.ds-top {
  clear: both;
}

.ds-left {
  width: 50%;
  float: left; /* LTR */
}

.ds-center {
  width: 30%;
  float: left; /* LTR */
}

.ds-right {
  width: 20%;
  float: left; /* LTR */
}

.ds-bottom {
  clear: both;
}