/**
  iTaste Skin
  */

  a {
  	color: #892027;
  }

  a:hover,
  a:focus,
  a:active {
  	color: #892027;
  }

  #main-title-outer {
  	/*background-color: #892027;*/

  }

  #system-messages-wrapper .messages a{ color:#fff !important;}
  #system-messages-wrapper .messages.error  a{ color: #892027!important;font-weight: bold;}

  /* Superfish */
  .sf-menu.sf-style-metroz .active-trail a,
  .sf-menu.sf-style-metroz a.active {
  	color: #892027;
  }

  .sf-menu.sf-style-metroz ul .active-trail  a,
  .sf-menu.sf-style-metroz ul li a.active
  ul.sf-menu.sf-style-metroz.sf-navbar ul li a.active {
  	color: #892027;
  }

  .sf-menu.sf-style-metroz li:hover,
  .sf-menu.sf-style-metroz li.sfHover,
  .sf-menu.sf-style-metroz li.sfHover a,
  .sf-menu.sf-style-metroz a:hover,
  .sf-menu.sf-style-metroz a:focus,
  .sf-menu.sf-style-metroz a:active {
  	background: #892027;
  }

  .sf-menu.sf-style-metroz ul li:hover,
  .sf-menu.sf-style-metroz ul li.sfHover,
  .sf-menu.sf-style-metroz ul li a:focus,
  .sf-menu.sf-style-metroz ul li a:hover,
  .sf-menu.sf-style-metroz ul li a:active {
  	color: #892027;
  }

  .sf-menu.sf-style-metroz a.active:hover,
  .sf-menu.sf-style-metroz a.active:focus,
  .sf-menu.sf-style-metroz a.active:active {
  	background:#892027;
  }

  .sf-menu.sf-style-metroz ul .active-trail a:hover,
  .sf-menu.sf-style-metroz ul .active-trail a:active,
  .sf-menu.sf-style-metroz ul .active-trail a:focus,
  .sf-menu.sf-style-metroz ul li.sfHover a,
  .sf-menu.sf-style-metroz ul a:hover,
  .sf-menu.sf-style-metroz ul a:focus,
  .sf-menu.sf-style-metroz ul a:active {
  	color: #892027 !important;
  }

  .sf-menu.sf-style-metroz ul li a.active {
  	color: #892027;
  }

  .sf-menu.sf-style-metroz .active-trail a:hover,
  .sf-menu.sf-style-metroz .active-trail a:focus,
  .sf-menu.sf-style-metroz .active-trail a:active{
  	background-color: #892027;
  }

  .sf-menu.sf-style-metroz  ul li a.active:hover,
  .sf-menu.sf-style-metroz  ul li a.active:focus,
  .sf-menu.sf-style-metroz  ul li a.active:active {
  	color: #892027;
  }

  .sf-menu.sf-style-metroz ul ul li.active-trail a,
  .sf-menu.sf-style-metroz ul ul li.active-trail a:active,
  .sf-menu.sf-style-metroz ul ul li.active-trail a:focus,
  .sf-menu.sf-style-metroz ul ul li.active-trail a:hover,
  .sf-menu.sf-style-metroz ul ul li.sfHover a,
  .sf-menu.sf-style-metroz ul ul li a:hover,
  .sf-menu.sf-style-metroz ul ul li a:focus,
  .sf-menu.sf-style-metroz ul ul li a:active {
  	color: #892027 !important;
  }

  .sf-menu.sf-style-metroz ul li.sfHover a .sf-sub-indicator,
  .sf-menu.sf-style-metroz ul li a:hover  .sf-sub-indicator,
  .sf-menu.sf-style-metroz ul li a:active .sf-sub-indicator,
  .sf-menu.sf-style-metroz ul li a:focus .sf-sub-indicator {
  	background-image: url("images/sub-arrow2-hover.png") !important;
  }

  /* Sidebar first */
  #sidebar-first-wrapper .view-last-comments .views-field-subject a:active,
  #sidebar-first-wrapper .view-last-comments .views-field-subject a:focus,
  #sidebar-first-wrapper .view-last-comments .views-field-subject a:hover {
  	color: #892027;
  }

  #sidebar-first-wrapper .view-last-comments .views-field-name {
  	color: #892027;
  }

  /* Forum */
  #forum td .submitted a:hover,
  #forum td .submitted a:focus {
  	color: #892027;
  }

  /* Breadcrumb */
  #breadcrumb-wrapper ol li a {
  	color: #892027;
  }

  /* Block */
  .block-menu-block.black-color ul.menu li a:active,
  .block-menu-block.black-color ul.menu li a:focus,
  .block-menu-block.black-color ul.menu li a:hover,
  .block-menu.black-color ul.menu li a:active,
  .block-menu.black-color ul.menu li a:focus,
  .block-menu.black-color ul.menu li a:hover {
  	color: #892027;
  }

  .block-poll ul.links li a.active{
  	color: #892027;
  }

  /* Custom Block */
  #special-menu li.search:active,
  #special-menu li.search:focus,
  #special-menu li.search:hover {
  	background-image: url("images/bg-ico-search.png");
  }


  #special-menu li.account:active,
  #special-menu li.account:focus,
  #special-menu li.account:hover {
  	background-image: url("images/bg-ico-acc.png");
  }

  #special-menu li.responsive-menu-button:active,
  #special-menu li.responsive-menu-button:focus,
  #special-menu li.responsive-menu-button:hover {
  	background-image: url("images/bg-explain-menu.png");
  }


  #cart-wrapper td.views-field-quantity,
  #cart-wrapper .view-footer .line-item-quantity-raw,
  #cart-wrapper .item-list ul li {
  	color: #892027;
  }

  #cart-wrapper .item-list ul li a:active,
  #cart-wrapper .item-list ul li a:focus,
  #cart-wrapper .item-list ul li a:hover {
  	color: #892027;
  }

  .views-field-edit-delete span.button input.form-submit, .block .more-link a{
  	background: #fff;
  	color: #707070;
    border: none;
  }

  .block .more-link a {
  	background: #892027;
  	color: #c59275;
  }


  .block .more-link a:hover {
  	border: 3px solid #892027;
  	color: #892027;
  	background: #fff;
  }

  .page-cart span.edit-submit.button input.form-submit,
  .page-cart span.edit-checkout.button input.form-submit,
  .page-checkout span.edit-continue input.form-submit {
  	background: #892027;
  }

  .page-cart .views-field-edit-delete span.button input.form-submit:hover  {
  	border-color: #fff;
  	color: #707070;
  }

  .page-cart .views-field-edit-delete span.button input.form-submit:focus,
  .page-cart span.edit-submit.button input.form-submit:hover,
  .page-cart span.edit-submit.button input.form-submit:focus,
  .page-cart span.edit-checkout.button input.form-submit:hover,
  .page-cart span.edit-checkout.button input.form-submit:focus,
  .page-checkout span.edit-continue input.form-submit:hover,
  .page-checkout span.edit-continue input.form-submit:focus,
  .block .more-link a:hover,
  .block .more-link a:focus {
  	border-color: #892027;
  	color: #c59275;
  }

  .page-cart .views-table .price {
  	color: #c59275;
  }

  .page-checkout .component-total,
  .page-checkout .price {
  	color: #c59275;
  }

  .view-wishlist .views-field-add-to-cart-form{ 
  	width:290px

  }

  .ico-contact .block-title {
  	background-image: url("images/ico-contact.png");
  }

  .page-user-orders ul.action-links li a {
  	background-color: #892027;
  	border-color: #892027;
  }

  .page-user-orders ul.action-links li a:active,
  .page-user-orders ul.action-links li a:focus,
  .page-user-orders ul.action-links li a:hover {
  	color: #c59275;
  }

  /* Views */
  .quicktabs-tabpage .views-col:hover .views-field-title a {
  	color: #c59275;
  }

  .page-taxonomy .view-content .views-row .views-field-title a:active,
  .page-taxonomy .view-content .views-row .views-field-title a:focus,
  .page-taxonomy .view-content .views-row .views-field-title a:hover {
  	color: #c59275;
  }

  .page-taxonomy .view-content .views-row .button .form-submit .edit-add-to-wishlist {
  	/*background-color: #892027;*/

  }
/*
#slideshow-wrapper .region-slideshow .views-fields-wrapper {
  background: none;
  padding: 25px 0;
}

#slideshow-wrapper .region-slideshow .views-field-view-node a {
  background-color: #892027;
  border-color: #892027;
}

#slideshow-wrapper .region-slideshow .views-field-view-node a:hover,
#slideshow-wrapper .region-slideshow .views-field-view-node a:focus,
#slideshow-wrapper .region-slideshow .views-field-view-node a:active {
  background-image: url("images/bg-ico-button-hover.png");
  border-color: #892027;
  color: #c59275;
}

#slideshow-wrapper .views-slideshow-controls-bottom .views_slideshow_pager_field_item {
  background: #718442;
  }*/

  /* Articles */
  .article ul.links li.comment-comments a {
  	color: #892027;
  }

  .article ul.links li.node-readmore a {
  	background-color: #892027;
  	border-color: #892027;
  }

  .article ul.links li.node-readmore a:active,
  .article ul.links li.node-readmore a:focus,
  .article ul.links li.node-readmore a:hover {
  	/*background-image: url("images/bg-ico-button-hover.png");*/
  }

  .article ul.links li.comment-add a:hover,
  .article ul.links li.comment-add a:active,
  .article ul.links li.comment-add a:focus {
  	border-color: #892027;
  }

  .node-title a:hover,
  .node-title a:active,
  .node-title a:focus {
  	color: #892027;
  }

  .node .menu ul.links li a:hover,
  .node .menu ul.links li a:focus {
  	border-color: #892027;
  	color: #892027;
  }

  .node .menu ul.links li.comment_forbidden a:hover {
  	color: #892027;
  }

  .field-type-taxonomy-term-reference ul li a:hover,
  .field-type-taxonomy-term-reference ul li a:active,
  .field-type-taxonomy-term-reference ul li a:focus {
  	color: #892027;
  }

  /* Quicktab */
  .item-list ul.quicktabs-tabs li a:active,
  .item-list ul.quicktabs-tabs li a:focus,
  .item-list ul.quicktabs-tabs li a:hover {
  	color: #c59275;
  }

  .quicktabs-tabpage .views-field-title a:active,
  .quicktabs-tabpage .views-field-title a:focus,
  .quicktabs-tabpage .views-field-title a:hover {
  	color: #892027;

  }
  
  .node-product-display .button .form-submit.wishlist{
    background-color:#f7f7f7;
    color: #892027;
  }

  .group-product-group .horizontal-tabs ul.horizontal-tabs-list li a:active,
  .group-product-group .horizontal-tabs ul.horizontal-tabs-list li a:focus,
  .group-product-group .horizontal-tabs ul.horizontal-tabs-list li a:hover,
  .group-product-group .horizontal-tabs ul.horizontal-tabs-list li a:active strong,
  .group-product-group .horizontal-tabs ul.horizontal-tabs-list li a:focus strong,
  .group-product-group .horizontal-tabs ul.horizontal-tabs-list li a:hover strong {
   color: #892027;
 }

 /* Jcarousel */
 .jcarousel .views-field-title a:active,
 .jcarousel .views-field-title a:focus,
 .jcarousel .views-field-title a:hover {
   color: #892027;
 }

 .jcarousel .views-field-commerce-price {
   color: #892027;
 }

 .jcarousel-skin-default .jcarousel-item:active,
 .jcarousel-skin-default .jcarousel-item:focus,
 .jcarousel-skin-default .jcarousel-item:hover {
   border-color: #892027;
 }


 /* Mass Bottom */
 .region-mass-bottom .static-view-more a {
   background-color: #892027;
   border-color: #892027;
 }

 .region-mass-bottom .static-view-more a:hover,
 .region-mass-bottom .static-view-more a:focus,
 .region-mass-bottom .static-view-more a:active {
   /*background-image: url("images/bg-ico-button-hover.png");*/
   border-color: #892027;
   color: #892027;
 }

 .region-mass-bottom .static-title a:active,
 .region-mass-bottom .static-title a:focus,
 .region-mass-bottom .static-title a:hover{
   color: #892027;
 }

 /* Panel */
 #panel-footer-wrapper .panel-column .views-field-title a {
   color: #892027;
 }

 /* Navigation */
 ul.pager li.pager-current {
   background-color: #892027;
 }

 ul.pager li a:hover,
 ul.pager li a:active,
 ul.pager li a:focus {
   border-color: #892027;
   color: #892027;
 }

 ul.primary li.active a,
 ul.primary li a:hover,
 ul.primary li a:focus {
   color: #892027;
 }

 /* Form */
 .form-text:hover,
 .form-text:focus,
 textarea:hover,
 textarea:focus {
   border-color: #892027;
 }



 #views-form-shopping-cart-block span.edit-submit--2 input.form-submit,
 #views-form-shopping-cart-block span.edit-submit--3 input.form-submit,
 #views-form-shopping-cart-block span.edit-submit input.form-submit {
  display:none
}


.page-products .view-content .views-row .views-field-title a:active,
.page-products .view-content .views-row .views-field-title a:focus,
.page-products .view-content .views-row .views-field-title a:hover {
	color: #892027;
}

.page-products .view-content .views-row .button .form-submit {
	/*background-color: #892027;*/
	border-color: #892027;
}

.webform-client-form span.button input.form-submit:hover,
.webform-client-form span.button input.form-submit:focus,
.page-products .view-content .views-row .button .form-submit:focus,
.page-products .view-content .views-row .button .form-submit:hover {
	/* background-image: url("images/bg-ico-button-hover.png");*/
	border-color: #892027;
	color: #892027;
}

#account-wrapper .form-actions .form-submit {
	background-color: #892027;
	border-color: #892027;
}

#account-wrapper .form-actions .form-submit:hover,
#account-wrapper .form-actions .form-submit:focus {
	/*background-image: url("images/bg-ico-button-hover.png");*/
	border-color: #892027;
	color: #892027;
}
#account-wrapper #edit-openid-identifier:hover,
#account-wrapper #edit-openid-identifier:focus,
#account-wrapper #edit-openid-identifier:active,
#account-wrapper .form-item-pass input:hover,
#account-wrapper .form-item-pass input:focus,
#account-wrapper .form-item-name input:hover,
#account-wrapper .form-item-name input:focus {
	border-color: #892027;
}

.page-taxonomy .view-filters .views-exposed-widget span.button input.form-submit:hover,
.page-taxonomy .view-filters .views-exposed-widget span.button input.form-submit:focus {
	border-color: #892027;
	color: #892027;
}

.page-taxonomy .view-content .views-row .button .wishlist,
.page-taxonomy .view-content .views-row .edit-add-to-wishlist .form-submit,
.node-type-product-display .commerce-add-to-cart .button .wishlist
.page-products .view-content .views-row .button .form-submit .wishlist{    
	border: 3px solid #892027; 
	background-color:#f7f7f7;
	color: #892027;
	height: 40px;
	padding:3px 30px;
}

.page-products .view-content .views-row .button .form-submit .wishlist{
	margin-bottom: 5px !important;
}

.page-taxonomy .view-content .views-row .button .wishlist:hover,
.page-taxonomy .view-content .views-row .button .wishlist:active,
.page-taxonomy .view-content .views-row .button .wishlist:focus,
.commerce-add-to-cart .button .wishlist:hover,
.commerce-add-to-cart .button .wishlist:active,
.commerce-add-to-cart .button .wishlist:focus,
.page-products .view-content .views-row .button .form-submit .wishlist:hover,
.page-products .view-content .views-row .button .form-submit .wishlist:active,
.page-products .view-content .views-row .button .form-submit .wishlist:focus{
	background-color: #892027;
	color: #e3b49a;
	height: 40px;
	padding:3px 14px;
}

/* Search Form */
#search-block-form:hover .form-item {
	border-color: #892027;
}

#search-block-form:hover .form-actions span.button input.form-submit {
	/*background-image: url("images/bg-ico-button-hover.png");*/
}

/* Cart */
#cart-wrapper td.price,
#cart-wrapper .view-footer .line-item-total-raw {
	color: #c59275;
}

/* Footer */
#footer-wrapper a {
	color: #892027;
}

#panel-footer-wrapper .panel-footer-4 p.email a {
	color: #892027;
}

/* Blog */
.page-blog ul.action-links li a,
.page-forum ul.action-links li a {
	background: #892027;
	border-color: #892027;
}

.page-blog ul.action-links a:hover,
.page-blog ul.action-links a:active,
.page-blog ul.action-links a:focus,
.page-forum ul.action-links a:hover,
.page-forum ul.action-links a:active,
.page-forum ul.action-links a:focus {
	border-color: #892027;
	color: #892027;
}

/* Back to top */
a.btn-btt {
	background-image: url("images/backtotop.png");
}

/* Comment */
.comment ul.links li a:active,
.comment ul.links li a:focus,
.comment ul.links li a:hover {
	color: #892027;
}

.line-item-summary-view-cart a.active {
	color: #892027;
}

/* MEGA MENU */

#block-tb-megamenu-main-menu .block-inner {
	padding: 0;
}

.tb-megamenu {
	background: #fbfbfb;
}

.tb-megamenu .nav > li > a {
	color: #707070;
	border-right: none;
	font-weight: 400;
	padding: 35px 12px;
}
.tb-megamenu .dropdown-menu li > a {
	clear: both;
	color: #333;
	display: block;
	line-height: 20px;

	padding: 3px 20px;
	text-shadow: none;
	white-space: nowrap;
}

.tb-megamenu .dropdown-menu .active > a,
.tb-megamenu .dropdown-menu .active > a:hover,
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .dropdown-menu a {
	color: #9c9c9c;
}

.tb-megamenu .dropdown-menu .active > a,
.tb-megamenu .dropdown-menu .active > a:hover {
	color: #333;
}

.tb-megamenu .dropdown-menu li > a:hover,
.tb-megamenu .dropdown-menu li > a:focus,
.tb-megamenu .dropdown-submenu:hover > a,
.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover {
	color: #9c9c9c;
}

.tb-megamenu .nav li.dropdown.open .caret,
.tb-megamenu .nav li.dropdown.open.active .caret,
.tb-megamenu .nav li.dropdown.open a:hover .caret,
.tb-megamenu .nav li.dropdown.open a:focus .caret,
.tb-megamenu .nav li.dropdown > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle .caret,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle .caret{
	border-top-color: #9c9c9c;
	border-bottom-color: #9c9c9c;
}

.tb-megamenu .dropdown-menu li > a,
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav > li.dropdown.open.active > a:hover,
.tb-megamenu .nav > li.dropdown.open.active > a:focus,
.tb-megamenu .nav > li > a:focus,
.tb-megamenu .nav > li > a:hover {

	color: #707070;
	background: #eaeaea url(../../images/bottom-menu-item.png) center bottom no-repeat;
}

.tb-megamenu-submenu .dropdown-menu{
	color: #707070;
	background: #eaeaea; 
}

.tb-megamenu .dropdown-menu a {
	background: url(sites/all/themes/tb_metroz/images/menu.png); 
	background-repeat:no-repeat; 
	background-position:left;
}

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle:focus,
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle:hover {
	background: #eaeaea url(../../images/bottom-menu-item.png) center bottom no-repeat;
}

.tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li.active a {
	background: none;
}

.tb-megamenu .dropdown-menu,
.tb-megamenu .block-view-demo .item-list ul li {
	border: none;
}

.tb-megamenu .dropdown-menu {
	border: 2px solid #eee;
	width: 100%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}

.tb-megamenu .mega > .mega-dropdown-menu {
  width: 450px;
	margin-left: -380px;
	background-color:#fbfbfb;
}

.tb-megamenu .tb-block ul li, .tb-megamenu .tb-block .nav li {
	list-style: none;
}

.logged-in .tb-megamenu-menu-user-menu .accedi{
  display: none !important;
}


/* USER MENU  */


.tb-megamenu-menu-user-menu .nav > li > a {
  padding: 5px;
  font-weight: normal;
}

#header-wrapper #block-tb-megamenu-menu-user-menu {
  float: right;
}

.tb-megamenu-menu-user-menu .nav li.dropdown.open.active > .dropdown-toggle,
.tb-megamenu-menu-user-menu .nav li.dropdown.open.active > .dropdown-toggle:focus,
.tb-megamenu-menu-user-menu .nav li.dropdown.open.active > .dropdown-toggle:hover,
.tb-megamenu-menu-user-menu .nav li.dropdown.open > .dropdown-toggle,
.tb-megamenu-menu-user-menu .nav > li > a:hover,
.tb-megamenu-menu-user-menu .nav > li > a:focus {
  color: #707070;
  font-weight: normal;
  background: none;
}

/* End MEGA MENU */

.page-blog .group-right{
	float: right;
	width: 70%;
}
.page-blog .group-left{

	width: 30%;
}


.add-cart-message-wrapper {
  top: 30% !important;
}
