/**
  * Responsive Elements
  */
#main-wrapper #main-content > .grid-inner {
  padding: 0 10px;
}

#page-title {
   font-size: 24px;
}

#logo {
  display: block;
  float: none;
  margin-top: 22px;
  text-align: center;
}

#special-menu {
  float: none;
  margin: 22px auto;
  overflow: hidden;
  text-align: center;
  width: 135px;
}

#special-menu li.search {
  margin-left: 0;
}

#header-wrapper .grid-inner {
  padding: 0;
}

#menu-bar-wrapper {
  left: 0 !important;
  margin-top: 25px;
  width: 100%;
}

#account-wrapper,
#cart-wrapper,
#search-wrapper {
  left: 0 !important;
  margin-top: 25px;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%; 
}

.article .field-type-image {
  float: none;
  margin-right: 0;
}

.article .field-type-image img {
  height: auto;
  margin-bottom: 20px;
  width: 100%;
}

.page-products .view-content .views-row .views-field-field-product-image {
  float: none;
  margin-right: 0;
}

.page-products .view-content .views-row .views-field-field-product-image img {
  height: auto;
  width: 100%;
}

.page-taxonomy .view-filters .views-submit-button {
   float: right;
}

.page-taxonomy .view-filters .views-exposed-widget {
  width: 40%;
}

.page-taxonomy .view-filters .views-widget-sort-order,
.page-taxonomy .view-filters .views-widget-view-as {
  width: 30%;
}
 
.page-taxonomy .view-filters .views-widget-per-page {
  width: 40%;
}


/* Slideshow */
#slideshow-wrapper .region-slideshow .views-fields-outer-wrapper {
  margin-top: 50px;
}


/* Quicktabs */
.quicktabs-tabpage .views-field-field-product-image img {
  height: 100px;
  width: 100px;
}
.page-taxonomy .view-filters {
  padding: 10px;
}
.page-taxonomy .grid-view {
	clear: both;
    margin: 10px 0 0;
}
.page-taxonomy .view-filters .views-exposed-widget label {
	width: 100%;
}
.page-taxonomy .view-filters .views-exposed-widget {
	width: 27%; 
}
.page-taxonomy .view-filters .views-widget-view-as{
	width: 21%; 
}

.page-taxonomy .view-filters .views-widget-sort-order{
	width: 20%; 
}

.page-taxonomy .view-filters .views-widget-per-page {
	width: 32%; 
}
.page-taxonomy .view-filters .views-exposed-widget span.button input.form-submit{
  margin: 10px 0 0 0;
  float: left;
  text-align: left;
}
.page-taxonomy .view-filters .views-submit-button {
  float: left;
  text-align: left;
}
.page-taxonomy .view-filters input.form-submit,
.page-taxonomy .view-filters select {
	-webkit-appearance: none;
  -webkit-border-radius: 0 !important;
}
