/**
  * Responsive Elements
  */
body {
  -webkit-text-size-adjust: 100%; /* Fix Mobile Safari Font Scale */
  overflow-x: hidden;
}

/* Images, Object */
img, object {
  max-width: 100%;
}

/**
  * Responsive Layout
  */
.responsive-menu-button {
  display: inline-block;
}
#header-wrapper {
	left: auto;
	position: static;
	top: auto;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#slideshow-wrapper,
#main-wrapper {
	margin: 0;
}
#main-wrapper .container,
.wrapper .container {
  width: 100% !important;
}

#main-wrapper .container-inner {
  margin-bottom: 3em;
  width: 100% !important;
}

#main-wrapper .main-group {
  width: 100% !important;
}

.wrapper .grid-inner {
  padding: 0 20px;
}

.front #panel-second-wrapper .grid-inner {
  padding: 0;
}

#main-content .view-content .views-view-grid .views-row .grid-inner {
  padding: 0;
}

.front #main-content .view-content .views-view-grid .views-row .col-1 {
  margin-bottom: 20px !important;
}


/* Main Container ---*/
.grid-inner,
.container,
#main-wrapper #main-content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#main-wrapper #main-content {
  width: 100% !important;
}

#main-wrapper #main-content > .grid-inner {
  padding: 0 20px;
}

.node-title {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 1.167em;
  font-weight: bold;
}

/**
 * Main Navigation
 */
#menu-bar-wrapper {
  background: #000;
  display: none;
  left: auto !important;
  top: 80px !important;
  right: 0;  
  width: 320px;  
}

#menu-bar-wrapper .region-menu-bar {
  padding: 0;
}

#menu-bar-wrapper .sf-menu.sf-style-metroz li {
  width: 100%;
}

#menu-bar-wrapper .sf-menu.sf-style-metroz a {
  border-top: 1px solid #232323;
  color: #ddd;
  height: 50px;
  line-height: 50px;	
  text-align: left;  
}

#menu-bar-wrapper .sf-menu.sf-style-metroz li.first a {
  border-top: 0;
}

#menu-bar-wrapper a > .sf-sub-indicator {
  top: 1.9em;
}

#menu-bar-wrapper .sf-menu.sf-style-metroz a.active,
#menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
#menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
#menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
  background: none;
  color: #00aeee;  
}

#menu-bar-wrapper .sf-menu.sf-style-metroz li:hover, 
#menu-bar-wrapper .sf-menu.sf-style-metroz li.sfHover, 
#menu-bar-wrapper .sf-menu.sf-style-metroz li.sfHover a, 
#menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
#menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
#menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
  background: none;
}

#menu-bar-wrapper .sf-menu li:hover ul, 
#menu-bar-wrapper .sf-menu li.sfHover ul {
  background: none;
  clear: both;
  float: left !important;
  margin: 0 20px;
  position: static;
  width: auto !important;
}

#menu-bar-wrapper .sf-menu.sf-style-metroz ul {
  background-color: none;
  border-left: 0;
  margin-top: 0;
  padding: 0 15px;
}

#menu-bar-wrapper .sf-menu.sf-style-metroz ul li.last {
  border-bottom: 0;
}
#menu-bar-wrapper .sf-menu.sf-style-metroz ul li a {
  background: none !important;
  border-top: 0;
  border-bottom: 0;
  font-size: 12px;
  height: 40px;  
  line-height: 40px;
  padding: 0 0 0 10px; 
}

#menu-bar-wrapper .arrow {
  background: url("../../images/arrow-top.png") no-repeat left top;
  height: 5px;
  position: absolute;
  right: 30px;
  top: -5px;
  width: 9px;
}

/**
 * Panels & Views
 */
.cols-1 .views-col,
.panel-cols-1 .panel-column,
.cols-2 .views-col,
.panel-cols-2 .panel-column,
.panel-cols-3 .panel-column,
.panel-cols-4 .panel-column {
  width: 100% !important;
}

.cols-4 .views-col,
.cols-3 .views-col {
  width: 50%;
}

.cols-3 .col-first {
  width: 100%;
}

#panel-second-wrapper .panel-column {
  margin-bottom: 40px;
}

#panel-footer-wrapper .block {
  border-top: 1px solid #222;
  margin-top: 20px !important;
  padding-top: 20px;
}

#panel-second-wrapper .panel-second-2 .grid-inner {
  padding-left: 0;
}

#panel-footer-wrapper .panel-column-first .block {   
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

/**
  * Blocks
  */
.fullwidth {
  width: 100%;
}

/**
  * Sidebar
  */
#sidebar-first-wrapper .region > .block {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  border-bottom: 0;
  margin: 0 0 40px 0;
  padding: 0;
}

.custom-block {
  border-bottom: 1px solid #E5E5E5;
}


/**
  * Views
  */
.banner-adv {
  margin-bottom: 20px;
}

.banner-adv img {
  height: auto;
  width: 100%;
}

.view .col-last .banner-adv {
  margin-bottom: 0;
}

#main-content .view-content .views-view-grid .views-col {
  margin-bottom: 10px;
}

#slideshow-wrapper {
  min-height: 390px;
}

#slideshow-wrapper .views-slideshow-cycle-main-frame, 
#slideshow-wrapper .views_slideshow_slide {
  height: 390px !important;
}

#slideshow-wrapper .region-slideshow .views-fields-outer-wrapper {
  width: 100%;
}

#slideshow-wrapper .region-slideshow .views-fields-wrapper {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}

#slideshow-wrapper .region-slideshow .views-field-title {
  font-size: 24px;
}

#slideshow-wrapper .views-field-field-slideshow-image {
  display: none;
}

#slideshow-wrapper .views-slideshow-controls-bottom {
  bottom: 40px;
}

.views_slideshow_main .views-field-field-product-image img {
  height: auto;
  max-width: none !important;
  width: 100%;
}

#slideshow-wrapper .views-slideshow-controls-bottom .views_slideshow_pager_field_item {
  height: 15px;
}

#panel-second-wrapper .views_slideshow_main {
  float: none;
}

#panel-second-wrapper .views_slideshow_main .views-field-title {
  font-size: 18px;
}

#panel-second-wrapper .views_slideshow_main .views-fields-wrapper {
  max-width: none !important;
  min-width: 0 !important; 
}

#panel-second-wrapper .grid-inner2 {
  padding-bottom: 0;
}

/* Slideshow */
.views_slideshow_cycle_teaser_section,
.views_slideshow_cycle_teaser_section .views-slideshow-cycle-main-frame-row,
.views_slideshow_cycle_slide {
	width: 100% !important; 
}


/**
  * Quicktabs
  */
.front .item-list ul.quicktabs-tabs {
  display: none;
}

.quicktabs-tabpage .views-field-field-product-image img {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

.quicktabs-tabpage .views-field-field-rating,
.quicktabs-tabpage .views-field-title,
.quicktabs-tabpage .button .form-submit,
.quicktabs-tabpage .views-field-commerce-price {
   float: none !important;
}

.quicktabs-tabpage .views-field-field-rating div.clearfix {
  display: inline-block !important;
}

.quicktabs-tabpage .views-row {
  margin-bottom: 0 !important;
}

.quicktabs-tabpage .views-col {
  margin-bottom: 40px !important;
}

.quicktabs-tabpage .commerce-add-to-cart {
  margin-bottom: 0;
}

.quicktabs-responsive-menu .button { 
  background: url("../../images/ico-quicktab.png") no-repeat center center #222;
  float: right;
  height: 30px;
  margin: 0;
  padding: 0;
  text-indent: -999em;
  width: 32px;
}

.quicktabs-responsive-menu .title {
  color: #333;
  font-size: 16px;
  font-weight: normal;
}

.item-list ul.quicktabs-tabs li,
.item-list ul.quicktabs-tabs li a {
  display: block;
  float: none !important;
}

.item-list ul.quicktabs-tabs li a {  
  padding: 0 !important;
}

.item-list ul.quicktabs-tabs li.active,
.item-list ul.quicktabs-tabs li.active a {
  background: none !important;
  color: #333 !important; 
}

.front .quicktabs-wrapper .item-list {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
  padding: 12px 20px;  
  overflow: hidden;
}

.item-list ul.quicktabs-tabs {  
  margin-bottom: 0 !important;
  margin-top: 15px !important;
  padding-top: 0 !important;
}

/**
  * Form
  */
form.fivestar-widget {
  clear: none;
}

.quicktabs-tabpage .views-field-title {
  margin-top: 0;
}

.webform-client-form {
  position: static;
  width: 100%;
}

.node-webform .contact-map {
  width: 100%;
}

a.btn-btt {
  right: 10px;
}

ul.pager li.pager-item {
  margin-bottom: 15px;
  overflow: hidden;
}

ul.pager li.pager-item li,
ul.pager li.pager-item a {
  margin-bottom: 5px;
}

.static-image {
  margin-right: 0;
}

.static-image img {
  height: auto;
  width: 100%;
}

a.btn-btt {
  z-index: 500;
}

.page-products .view-content .views-field-add-to-cart-form {
  margin-left: 0;
}

.page-products .view-content .views-row .views-field-field-product-image,
.page-taxonomy .view-content .views-row .views-field-field-product-image {
  margin-bottom: 10px;
  width: 100%;
}

.page-taxonomy .view-filters .views-submit-button {
  float: left;
  margin-top: 10px;
  width: auto;
}

.page-taxonomy .view-filters .views-widget-per-page {
  width: 30%;
}

.galleryformatter-greenarrows .gallery-slides,
.node-product-display .galleryformatter {
  width: 100% !important;
}

.gallery-slides .gallery-slide {
  position: static;
}

.gallery-slides .gallery-slide img {
  height: auto;
  width: 100%;
}

/* Article */
.article {
  margin-bottom: 30px;
}

/* Page Blog */
.node-blog ul.links li.node-readmore a {
  padding: 0 50px 0 15px; 
}

.node-blog ul.links li.last a {
  margin-right: 0;
}


/* Footer */
.payment-getway {
  background-position: center center;
  margin-top: 20px;
  width: 100%;
}

.region-footer {
  text-align: center;
}	


/* Skin */
.green-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a.active,
.green-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
.green-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
.green-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
   color: #9db85b;
}

.orange-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a.active,
.orange-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
.orange-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
.orange-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
   color: #e56c19;
}

.pink-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a.active,
.pink-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
.pink-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
.pink-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
   color: #f06084;
}

.pure-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a.active,
.pure-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
.pure-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
.pure-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
   color: #846cc4;
}

.red-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a.active,
.red-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
.red-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
.red-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
   color: #fe5a5a;
}

.yellow-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a.active,
.yellow-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
.yellow-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
.yellow-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
   color: #f3b63d;
}

