/* 
Document   : tablet
*/

/**
 * Main Navigation
 */
#header-wrapper {
	left: auto;
	position: static;
	top: auto;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#slideshow-wrapper,
#main-wrapper {
	margin: 0;
}
a.btn-btt {
	right: 20px;
	bottom: 20px !important;
}
#menu-bar-wrapper {
  top: 80px !important;
  right: -20px;
  left: auto !important;
  width: 320px;
  display: none;
  background: #000000;
}
#menu-bar-wrapper .arrow {
  background: url("../../images/arrow-top.png") no-repeat scroll left top transparent;
  height: 5px;
  position: absolute;
  right: 30px;
  top: -5px;
  width: 9px;
}
#menu-bar-wrapper .region-menu-bar {
  padding: 0;
}

#menu-bar-wrapper .sf-menu.sf-style-metroz li {
  width: 100%;
}

#menu-bar-wrapper .sf-menu.sf-style-metroz a{
	border-top: 1px solid #232323;
	height: 50px;
	line-height: 50px;	
	color: #dddddd;
}

#menu-bar-wrapper .sf-menu.sf-style-metroz li.first a {
	border-top: 0;
}


#menu-bar-wrapper a > .sf-sub-indicator {
  top: 1.9em;
}

#menu-bar-wrapper .sf-menu.sf-style-metroz a.active,
#menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
#menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
#menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
  color: #00aeee;
  background: 0;
}

#menu-bar-wrapper .sf-menu.sf-style-metroz li:hover, 
#menu-bar-wrapper .sf-menu.sf-style-metroz li.sfHover, 
#menu-bar-wrapper .sf-menu.sf-style-metroz li.sfHover a, 
#menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
#menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
#menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
  background: none;
}

#menu-bar-wrapper .sf-menu li:hover ul, 
#menu-bar-wrapper .sf-menu li.sfHover ul {
  background: none;
  clear: both;
  float: left !important;
  margin: 0 20px;
  position: static;
  width: auto !important;
}

#menu-bar-wrapper .sf-menu.sf-style-metroz ul {
  background-color: none;
  border-left: 0;
  margin-top: 0;
  padding: 0 15px;
}

#menu-bar-wrapper .sf-menu.sf-style-metroz ul li.last {
	border-bottom: 0;
}
#menu-bar-wrapper .sf-menu.sf-style-metroz ul li a {
  border-top: 0;
  border-bottom: 0;
  font-size: 12px;
  height: 40px;
  background: 0 !important;
  padding: 0 0 0 10px;
  line-height: 40px;
}

.banner-adv {
  min-height: auto;
}
.banner-adv img{
	width: 100%;
	height: auto;
}

/*slideshow*/
#slideshow-wrapper .views-field-field-slideshow-image {
  width: 50%;
}

#slideshow-wrapper .views-field-field-slideshow-image img{
  float: right;
}

#slideshow-wrapper .region-slideshow .views-fields-outer-wrapper {
  width: 45%;
}
#slideshow-wrapper .region-slideshow .views-fields-wrapper {
  width: auto;
}
#panel-second-wrapper .views_slideshow_main .views-field-title {
  font-size: 20px;
  line-height: 34px;
}


#slideshow-wrapper .view-simple-slideshow .views_slideshow_main > div > div, 
#slideshow-wrapper .views-slideshow-cycle-main-frame-row, 
#slideshow-wrapper .views-slideshow-cycle-main-frame, 
#slideshow-wrapper .views_slideshow_slide {
  width: auto !important;
}

/*banner adv*/
.banner-body h3 {
  font-size: 15px;
}


.quicktabs-responsive-menu { 
	display: none !important;  
}
.item-list ul.quicktabs-tabs {
	display: block !important;
	float: left;
}
/*quick start*/
.view-featured-for-quicktabs .cols-4 .views-col, 
.view-quicktabs  .cols-4 .views-col, 
.view-quicktabs .panel-cols-4 .panel-column {
  width: 25% !important;
}


.view-quicktabs .views-col  .views-field-title a {
  font-size: 13px;
}
.view-featured-for-quicktabs  .views-col  .views-field-field-product-image img,
.view-quicktabs .views-col  .views-field-field-product-image img {
  width: 100%;
  height: auto;
}
#mass-top-wrapper .grid-inner2 {
	padding: 40px 10px;
}

#mass-bottom-wrapper .grid-inner {
	padding: 0 !important; 
}


#page-title {
	margin:0 10px 0 20px;
}

#breadcrumb-wrapper .grid-inner {
	margin: 0 20px;
}

#main-wrapper #main-content .grid-inner {
	padding: 10px 20px;
}
.front #main-wrapper #main-content .grid-inner {
  padding: 0 10px;
}

#main-content .view-content .views-view-grid .views-row .grid-inner {
	padding: 0 10px !important;
}
#sidebar-first-wrapper {
	margin: 40px 0 0 0;
}
#sidebar-first-wrapper .grid-inner {
  margin: 0;
  padding: 0;
}

#sidebar-first-wrapper .block-inner {
  margin: 0 20px;
}
#sidebar-first-wrapper .jcarousel .views-field-field-product-image {
	text-align: right;
}
#sidebar-first-wrapper  .jcarousel-skin-default .jcarousel-item {
  width: 100%;
}
#sidebar-first-wrapper .view-most-view .views-field-field-product-image {
  margin-bottom: 20px;
}
/*sidebar*/
#sidebar-first-wrapper .block {
	width: 50%;
	float: right;
}
#sidebar-first-wrapper .block:nth-child(odd) {
	float: left;
}

#sidebar-first-wrapper  .item-list ul.quicktabs-tabs{
	border-top: 0;
	padding: 0;
}
#sidebar-first-wrapper .block-quicktabs .block {
	width: 100%;
}
#sidebar-first-wrapper .block-quicktabs .block-inner .block-inner {
  margin: 0;
  padding: 0;
}



/*panel second*/
#panel-second-wrapper .panel-column {
  width: 50% !important;
}
#panel-second-wrapper .views_slideshow_main img {
	width: 100%;
}
.front #panel-second-wrapper .grid-inner {
	padding: 0  !important;
}
#panel-second-wrapper .grid-inner2 {
	margin: 0 10px;
}
#panel-second-wrapper .views-slideshow-controls-top {
	right: 10px;
}

/*static*/
.static-image  img{
  width: 100%;
  height: auto;
}




.node-blog .field-type-image {
  width: 100%;
}

#panel-footer-wrapper .panel-footer-1{
	width: 40% !important;
}
#panel-footer-wrapper .panel-footer-2,
#panel-footer-wrapper .panel-footer-3{
	width: 30% !important;
}
#panel-footer-wrapper .panel-footer-4  {
	margin: 40px 0 0 ;
	width: 100%;
}
#panel-footer-wrapper .panel-footer-4 .block{
	width: 39%;
	float: left;
} 
#panel-footer-wrapper .panel-footer-4 .block:last-of-type{
	float: right;
	width: 58%;
} 
#panel-footer-wrapper  .container {
  padding: 40px 0 0;
}

.page-checkout  .customer_profile_billing .locality-block,
.page-checkout  .customer_profile_billing .addressfield-container-inline{
	float: left; 
	width: 48%;
}


.page-checkout  .customer_profile_billing .street-block,
.page-checkout  .customer_profile_billing .form-type-select{
	float: right; 
	width: 48%;
}
#footer-wrapper p {
  width: 60%;
}

/* Skin */
.green-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a.active,
.green-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
.green-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
.green-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
   color: #9db85b;
}

.orange-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a.active,
.orange-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
.orange-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
.orange-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
   color: #e56c19;
}

.pink-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a.active,
.pink-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
.pink-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
.pink-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
   color: #f06084;
}

.pure-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a.active,
.pure-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
.pure-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
.pure-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
   color: #846cc4;
}

.red-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a.active,
.red-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
.red-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
.red-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
   color: #fe5a5a;
}

.yellow-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a.active,
.yellow-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:hover, 
.yellow-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:focus, 
.yellow-skin #menu-bar-wrapper .sf-menu.sf-style-metroz a:active {
   color: #f3b63d;
}



